.screen {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.screen .frame {
  align-items: flex-start;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ced4da;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.screen .div {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen .frame-2 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.screen .div-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.screen .text-wrapper {
  color: #000000;
  /*font-family: var(--title-font-family);*/
  /*font-size: var(--title-font-size);*/
  /*font-style: var(--title-font-style);*/
  /*font-weight: var(--title-font-weight);*/
  /*letter-spacing: var(--title-letter-spacing);*/
  /*line-height: var(--title-line-height);*/
  /*font-weight: bold;*/
  font-size: 40px;
  position: relative;
  width: fit-content;
}

.screen .frame-3 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 1080px;
}

.screen .frame-4 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  padding: 10px;
  position: relative;
  text-decoration-line : none;
}

.screen .avatar-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

.screen .avatar {
  background-color: #f7f7f7;
  border-radius: 1000px;
  height: 64px;
  overflow: hidden;
  position: relative;
  width: 64px;
}

.screen .rectangle {
  height: 64px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 64px;
}

.screen .frame-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 260px;
}

.screen .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen .text-wrapper-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #000000;
  display: -webkit-box;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-size: 16px;*/
  /*font-weight: 500;*/
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}
.screen .a {
  color: black;
  text-decoration-line : none;
}

.screen .p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #828282;
  display: -webkit-box;
  /*font-family: "Inter-Regular", Helvetica;*/
  /*font-size: 16px;*/
  /*font-weight: 400;*/
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  margin-bottom: 0px;
}

.screen .element-tab-list-wrapper {
  align-items: flex-end;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 0px 10px;
  position: relative;
}

.screen .element-tab-list {
  align-items: flex-start;
  background-color: #f5f5f5;
  border-radius: 12px;
  display: inline-flex;
  gap: 8px;
  height: 56px;
  padding: 8px;
  position: relative;
}

.screen .frame-6 {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 90px;
}

.screen .text-wrapper-3 {
  color: #000000;
  /*font-family: var(--small-text-font-family);*/
  /*font-size: var(--small-text-font-size);*/
  /*font-style: var(--small-text-font-style);*/
  /*font-weight: var(--small-text-font-weight);*/
  /*letter-spacing: var(--small-text-letter-spacing);*/
  /*line-height: var(--small-text-line-height);*/
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .frame-7 {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 90px;
}

.screen .text-wrapper-4 {
  color: #000000;
  /*font-family: var(--small-text-font-family);*/
  /*font-size: var(--small-text-font-size);*/
  /*font-style: var(--small-text-font-style);*/
  /*font-weight: var(--small-text-font-weight);*/
  /*letter-spacing: var(--small-text-letter-spacing);*/
  /*line-height: var(--small-text-line-height);*/
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .frame-8 {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 90px;
}

.screen .frame-9 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 20px;
}

.screen .frame-10 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  height: fit-content;
  padding: 20px;
  position: relative;
  width: 100%;
}

.screen .text-wrapper-5 {
  color: #000000;
  /*font-family: var(--body-text-font-family);*/
  /*font-size: var(--body-text-font-size);*/
  /*font-style: var(--body-text-font-style);*/
  /*font-weight: var(--body-text-font-weight);*/
  /*letter-spacing: var(--body-text-letter-spacing);*/
  /*line-height: var(--body-text-line-height);*/
  margin: 0px;
  position: relative;
  width: 100%;
}

.screen .frame-11 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  height: 51px;
  justify-content: space-between;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ced4da;
  padding: 0px 20px;
}

.screen .count-wrapper {
  align-items: flex-end;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  position: relative;
}

.count{
  margin: 0px 3px;
}
.screen .frame-12 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 0px 3px 0px 0px;
  position: relative;
}

.screen .text-wrapper-6 {
  color: #000000;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-size: 16px;*/
  /*font-weight: 500;*/
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .frame-13 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 0px 3px;
  position: relative;
}

.screen .text-wrapper-7 {
  color: #5b5b5b;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-size: 16px;*/
  /*font-weight: 500;*/
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .frame-14 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.screen .frame-15 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

.screen .element-secondary-button {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 45px;
  height: 30px;
  border: solid 1px #828282;
  text-decoration: none;
  color: black;
}

.screen .text-wrapper-8 {
  color: #000000;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-size: 16px;*/
  /*font-weight: 500;*/
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -2px;
  margin-right: -2px;
  position: relative;
  text-align: center;
  width: 96px;
}

.screen .element-secondary-button-2 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 45px;
  height: 30px;
  border: solid 1px #828282;
  border-left: none;
  text-decoration-line : none;
}

.screen .text-wrapper-9 {
  color: #000000;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-size: 16px;*/
  /*font-weight: 500;*/
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -18px;
  margin-right: -18px;
  position: relative;
  text-align: center;
  width: 96px;
}

.screen .view {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 1054px;
  margin-bottom: 20px;
}

.screen .comment {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  /*padding : 10px 40px;*/
  /*border-bottom:1px solid #DFDFDF ;*/
}
.screen .rectangle-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 80px;
  justify-content: flex-end;
  padding: 17px 4px;
  position: relative;
  width: 80px;
}

.screen .img {
  height: 65px;
  object-fit: cover;
  position: relative;
  width: 65px;
  border-radius:1000px ;
}

.screen .frame-17 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1054px;
}

.screen .frame-18 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.screen .frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-decoration-line : none;
}

.screen .text-wrapper-10 {
  color: #000000;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-size: 16px;*/
  /*font-weight: 500;*/
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  padding-left: 20px;
}

.screen .frame-20 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.screen .text-wrapper-11 {
  align-self: stretch;
  color: #000000;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-size: 16px;*/
  /*font-weight: 500;*/
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  padding-left: 20px;
}

.screen .frame-21 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.screen .frame-22 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  position: relative;
}

.screen .text-wrapper-12 {
  color: #828282;
  /* font-family: "Inter-Medium", Helvetica; */
  /* font-size: 16px; */
  /* font-weight: 500; */
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  padding-left: 20px;
  text-decoration-line: none;
  border: none;
  background: none;
}

.screen .reply {
  background-color: #f5f5f542;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 1054px;
  justify-content: center;
  padding: 10px 40px;
  border-bottom: 1px solid #DFDFDF;
  align-content: flex-start;
  flex-direction: row;

}


.screen .frame-24 , .screen .AAA{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  position: relative;
  width: 1100px;
}

.screen .frame-25 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 0px 30px 0px 0px;
  position: relative;
  width: 100%;
}

.screen .frame-26 {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.screen .frame-27 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen .frame-28 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen .element-secondary-button-wrapper {
  align-items: flex-end;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 12px 0px;
  position: relative;
  width: 984px;
  flex-wrap: wrap;
  text-decoration-line : none;
}

.screen .element-secondary-button-3 {
  align-items: center;
  background-color: #ffe668;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 51px;
  justify-content: center;
  position: relative;
  width: 92px;
  border: none;
}

.screen .frame-29 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.screen .element-input-field-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.screen .element-input-field {
  background-color: #ffffff;
  border-color: #e0e0e0;
  border-radius: 8px;
  height: 120px;
  position: relative;
  width: 100%;
  padding: 8px 10px;
}

.screen .text {
  color: #000000;
  /*font-family: "Inter-Regular", Helvetica;*/
  /*font-size: 20px;*/
  /*font-weight: 400;*/
  left: 518px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 1707px;
  white-space: nowrap;
  width: 1px;
}

.btn-outline-secondary {
  padding: 0.375rem 0.75rem; /* Bootstrap 기본 버튼 패딩 */
  font-size: 1rem; /* 기본 폰트 크기 */
  width: 72px;
  height: 38px;
}

.dmenu {
  width: 100%; /* 메뉴 너비를 자동으로 설정 */
}

.ditem {
  text-align: center; /* 텍스트를 가운데 정렬 */
  white-space: nowrap; /* 텍스트가 길어도 한 줄에 표시 */
}
.deleteBtn{
  width: 45px;
  height: 30px;
  border: solid 1px #828282;
  border-left: none;
  background: #ffffff;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
   min-width: 6rem;
  padding: .5rem 0;
  margin: 0px;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  inset: 0px auto auto 0px;
  transform: translate3d(-71px, 27px, 0px);
}
.reply{
  width: 100%;
  min-height: 74px;
  height: fit-content;
}
.btns {
  text-align: left; /* 부모 요소의 텍스트 정렬을 왼쪽으로 설정 */
  display: flex;
  width: fit-content;
}

.btns input[type="button"] {
    margin-left: 10px; /* 버튼들 사이의 간격을 위해 오른쪽 마진 추가 */
    background-color: #ffffff;
    border: none;
    padding: 5px 5px 0px 5px;
    color:#828282;
}
.btn {
  margin-left: 42px;
  width: fit-content;
  display: flex;
  padding : 0px;
  margin: 0px 20px;
}
.BTN{
  text-decoration-line : none;
  color: black;
  background-color: #e9ecefc7;
  border-radius: 7px;
  text-align: center;
  padding: 5px 10px ;
  margin: 5px;
}
.listbtn{
  text-decoration-line : none;
  color: black;
  background-color: #e9ecefc7;
  border-radius: 7px;
  text-align: center;
  padding: 5px 20px ;
  margin: 5px;
}
.bi-chevron-up{
  margin-right: 10px;
  margin-bottom: 5px;
}
.bi-chevron-down{
  margin-right: 10px;
  margin-bottom: 5px;
}
.edit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#dd{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#drop{
  margin-right:10px ;
}
.cm{
  width: 1056px;
}
.body{
  width: 1014px;
}
.accordion-body{
  padding: 0px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  /*border-bottom-right-radius: calc(.25rem - 1px);*/
  /*border-bottom-left-radius: calc(.25rem - 1px);*/
  width: 1053px;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
  width: 1054px;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #fff;
  /*box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);*/
  box-shadow: none;
}
.reply{
  /*border:1px solid #828282 ;*/
}
.close{
  width: 60px;
  height: 35px;
  background-color:#F7F7F7 ;
  border-radius: 10px;
  border: none;
}
.save{
  width: 60px;
  height: 35px;
  background-color:#FFE668 ;
  border-radius: 10px;
  border: none;
}

.btns input[type="button"]:hover {
  color: #000000; /* 호버 시 글자 색상 */

}
.screen .CCC {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 10px 40px;
  border-bottom: 1px solid #DFDFDF;
  align-content: flex-start;
  flex-direction: row;
}
.accordion-item {
  background-color: #fff;
   border: none ;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 10px;
  content: "";
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
}
.writer{
  border: 1px solid darkgray;
  padding: 3px 5px;
  border-radius: 100px;
  color: darkgray;
  font-size: 10px;
}
.insert , .modify{
  background-color: #ffffff;
  border-color: #e0e0e0;
  border-radius: 8px;
  height: 120px;
  position: relative;
  width: 100%;
  padding: 8px 10px;
}