body {
    font-family: Arial, sans-serif;
}

.container {
    /* max-width: 800px; */
    margin: auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.form-select, .form-control {
    max-width: 200px;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.modal-header, .modal-body, .modal-footer {
    text-align: left;
}

