body {
    font-family: Arial, sans-serif;
}

.container {
    /* max-width: 800px; */
    margin: auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#calendar {
    /* max-width: 800px; */
    /*margin: auto;*/
    margin-left: 150px;
    margin-right: 150px;
}

a {
    text-decoration: none;
}
