/*　식단 및 로그인 프로필　*/
/* .class_1 { width: 1280px; height: 325px; justify-content: space-between; align-items: flex-start; display: inline-flex } */
.main_top_box {
    height: 325px;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex
}

/* .class_2 { width: 800px; align-self: stretch; padding-left: 49px; padding-right: 49px; padding-top: 37px; padding-bottom: 37px; border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex } */
.meal_today {
    width: 650px;
    align-self: stretch;
    padding: 20px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

/* .class_3 { opacity: 0.80; color: black; font-size: 32px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word } */
.meal_today_title {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word
}

/* .class_4 { align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 40px; display: inline-flex } */
.meal_content_box {
    align-self: stretch;
    flex: 1 1 0;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    display: inline-flex
}

/* .class_5 { flex: 1 1 0; align-self: stretch; padding: 10px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex } */
.meal_item {
    flex: 1 1 0;
    align-self: stretch;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    display: inline-flex;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
}

/* .class_6 { align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.meal_item_title {
    align-self: stretch;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word
}

/* .class_7 { align-self: stretch; height: 115px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex } */
.meal_item_body {
    align-self: stretch;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

/* .class_8 { align-self: stretch; height: 38.33px; text-align: center; color: black; font-size: 16px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.meal_item_text {
    align-self: stretch;
    /* height: 38px; */
    text-align: center;
    color: black;
    font-size: 16px;
    /* font-weight: 500; */
    word-wrap: break-word
}

/* .class_10 { width: 400px; align-self: stretch; padding-left: 49px; padding-right: 49px; padding-top: 37px; padding-bottom: 37px; border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex } */
.login_info_box {
    width: 350px;
    align-self: stretch;
    padding: 20px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

/* .class_11 { width: 150px; height: 150px; position: relative } */
.login_info_svg {
    width: 150px;
    height: 150px;
    position: relative;
}

/* .class_15 { opacity: 0.80; color: black; font-size: 32px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.login_user_name {
    opacity: 0.80;
    color: black;
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
}

/* .class_16 { opacity: 0.80; color: black; font-size: 24px; font-family: Noto Sans; font-weight: 500; line-height: 55px; word-wrap: break-word } */
.login_kinder_name {
    opacity: 0.80;
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: 55px;
    word-wrap: break-word
}

/* .class_17 { justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex } */
.login_setting_box {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
}

/* .class_19 { opacity: 0.80; text-align: center; color: black; font-size: 16px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.setting_text {
    opacity: 0.80;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word
}

/* 현황 테이블 */
.class_26 {
    display: flex;
    justify-content: space-between;
}

.class_27 {
    width: 500px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px rgb(195 195 195 / 30%) solid;
}

.class_92 {
    margin: 30px 30px;
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class_37 {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
}

.data_teacher_kid_box {
    display: flex;
    flex-direction: column;
}

.class_93  {
    display: flex;
    border-bottom: 1px rgb(195 195 195 / 30%) solid;
}

.class_33 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.class_29 {
    padding: 20px 0;
    border-bottom: 1px rgb(195 195 195 / 30%) solid;
    display: flex;
    justify-content: space-between;
}

.class_30 {
    color: black;
    font-size: 16px;
    word-wrap: break-word;
    align-self: center;
    padding-left: 10px;
}

.class_31 {
    color: black;
    font-size: 16px;
    word-wrap: break-word;
    align-self: center;
    padding-right: 10px;
}

.class_32 {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.class_36 {
    width: 100px;
    color: black;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
}

.class_kid_text {
    width: 100px;
    color: black;
    font-size: 16px;
    word-wrap: break-word;
    text-align: center;
}

.class_35 {
    width: 100%;
}


/* 출석부 */
.class_94 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class_38 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
}

.class_52 {
    width: 25px;
    height: 25px;
}

.class_95 {
    display: flex;
    align-items: center;
}

.class_39 {
}

.class_40 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex
}

.class_41 {
    border-bottom: 1px rgb(195 195 195 / 30%) solid;
}

.class_42 {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.class_99 {
    width: 88px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}

.class_43 {
    width: 88px;
    color: black;
    font-size: 16px;
    word-wrap: break-word;
}

.class_44 {
    width: 108px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word
}

.class_45 {
    width: 108px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word
}

.class_46 {
    width: 108px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word
}

.class_47 {
    width: 108px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word
}

/* 날씨, 미세먼지, 초미세먼지 */
.class_12 {
    height: 240px;
    display: flex;
    justify-content: space-between;
}

.class_13 {
    width: 500px;
    height: 240px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.class_96 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class_17 {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
}

.class_14 {
    height: 110px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.class_16 {
    color: black;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    word-wrap: break-word;
}

.class_15 {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 17px;
    align-self: flex-end;
}

.class_18 {
    align-self: center;
}

.class_97 {
    width: 500px;
    height: 240px;
    display: flex;
    justify-content: space-between;
}

.class_21 {
    width: 230px;
    height: 240px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
}

.class_22 {
    height: 220px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.class_24 {
    color: black;
    font-size: 30px;
    font-weight: 500;
    word-wrap: break-word;
}

.class_23 {
    height: 100%;
    color: black;
    font-size: 60px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
