body {
    font-family: 'Noto Sans KR', sans-serif;
}

.text-compact {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    width: 1280px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 바로가기 배너 */
.class_54 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.class_55 {
    width: 500px;
    height: 225px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class_59 {
    float: right;
    display: flex;
}

.class_90 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class_91 {
    display: flex;
}

.class_61 {
    opacity: 0.80;
    color: black;
    font-size: 35px;
    font-weight: 500;
    word-wrap: break-word
}
.class_62 {
    width: 61px;
    height: 53px;
}


.class_60 {
    opacity: 0.80;
    color: black;
    font-size: 35px;
    font-weight: 500;
    line-height: 55px;
    word-wrap: break-word;
}


.class_56 {
    float: right;
    align-self: flex-end;
    text-align: end;
}

/* 현황 테이블 */
.class_26 {
    display: flex;
    justify-content: space-between;
}

.class_27 {
    width: 500px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px rgb(195 195 195 / 30%) solid;
}

.class_92 {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.class_37 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    word-wrap: break-word
}

.class_93  {
    display: flex;
    border-bottom: 1px black solid;
}

.class_33 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class_29 {
    height: 80px;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-between;
}

.class_30 {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
    align-self: center;
    padding-left: 10px;
}

.class_31 {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
    align-self: center;
    padding-right: 10px;
}

.class_32 {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.class_36 {
    width: 100px;
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
}

.class_35 {
    width: 100%;
    height: 160px;
}


/* 출석부 */
.class_94 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class_38 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
}

.class_52 {
    width: 25px;
    height: 25px;
}

.class_95 {
    display: flex;
    align-items: center;
}

.class_39 {
    height: 328px;
}

.class_40 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex
}

.class_41 {
    height: 78px;
    border-bottom: 1px black solid;
}

.class_42 {
    height: 78px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.class_43 {
    width: 88px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
}

.class_44 {
    width: 108px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word
}

.class_45 {
    width: 108px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word
}

.class_46 {
    width: 108px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word
}

.class_47 {
    width: 108px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word
}

/* 날씨, 미세먼지, 초미세먼지 */
.class_12 {
    height: 240px;
    display: flex;
    justify-content: space-between;
}

.class_13 {
    width: 500px;
    height: 240px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.class_96 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class_17 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    word-wrap: break-word
}

.class_14 {
    height: 110px;
    display: flex;
    align-items: flex-end;
}

.class_16 {
    color: black;
    font-size: 70px;
    font-weight: 400;
    line-height: 90px;
    word-wrap: break-word;
}

.class_15 {
    color: black;
    font-size: 30px;
    font-weight: 500;
    word-wrap: break-word;
    width: max-content;
    padding-bottom: 5px;
}

.class_18 {
    align-self: center;
}

.class_97 {
    width: 500px;
    height: 240px;
    display: flex;
    justify-content: space-between;
}

.class_21 {
    width: 230px;
    height: 240px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
}

.class_22 {
    height: 220px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.class_24 {
    color: black;
    font-size: 30px;
    font-weight: 500;
    word-wrap: break-word;
}

.class_23 {
    height: 100%;
    color: black;
    font-size: 60px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
