<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">scheduleMain</title>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
  <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
  <link rel="stylesheet" th:href="@{/css/globals.css}" />
  <link rel="stylesheet" th:href="@{/css/schedule/scheduleMain.css}" />
  <link rel="stylesheet" th:href="@{/css/schedule/scheduleModal.css}" />

  <!-- FullCalendar and related modules -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="javascript">
  <script src="/js/schedule/scheduleMain.js"></script>

  <!-- FullCalendar and related modules -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.11/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.11/index.global.min.js"></script>

</th:block>

<div class="container main_container" layout:fragment="content">


  <div class="title"><div class="text-wrapper-4">일정표</div></div>
  <div class="buttons">
    <form class="searchoptions" th:action="@{/admin/scheduleMain}" method="post">
      <select class="dropdown-class">
        <option class="text-wrapper-5" value="">반 선택</option>
        <option class="text-wrapper-5" value="">1반</option>
        <option class="text-wrapper-5" value="">2반</option>
        <option class="text-wrapper-5" value="">3반</option>
        <option class="text-wrapper-5" value="">4반</option>
      </select>

      <div class="div-2">
        <img class="search" src="/images/common/search.png" />
        <input type="text" class="text-wrapper-5" placeholder="검색어 입력"></input>
      </div>

      <div class="buttonarea">
        <input type="submit" class="button-cancel" value="조회하기">
        <a class="view" th:href="@{/admin/scheduleMain}" th:method="get">
          <img class="img-3" src="/images/common/reset.png" />
          <div class="text-wrapper-7">초기화</div>
        </a>
      </div>
    </form>
    <a class="button-modify" th:href="@{/admin/scheduleWrite}" th:method="get">
      <img class="icon-pencil" src="/images/common/pencil.png" />
      <div class="text-modify">일정 추가</div>
    </a>
  </div>


  <div class="cal-schedule">
    <div class="calendar">
      <div id='calendar'></div>
    </div>


    <div class="schedule">
      <div class="date-schedulecnt">
        <a  th:href="@{/admin/scheduleMain}" th:method="get">
          <img class="img-2" src="/images/common/left.png" />
        </a>
        <div class="text">
          <div class="day-2">
            <div class="div-3">
              <p class="text-wrapper-15" id="selectedDate"></p>
            </div>
          </div>
          <div class="schedulecnt">
            <div class="text-wrapper-16">일정</div>
            <div class="div-3">
              <div class="text-wrapper-16">2</div>
              <div class="text-wrapper-16">개</div>
            </div>
          </div>
        </div>
        <a th:href="@{schedule/admin/scheduleMain}" th:method="get">
          <img class="img-2" src="/images/common/right.png" />
        </a>
      </div>

      <div class="schedule-2">

        <div class="accordion-item single-schedule 2024-07-15">
          <div class="accordion-header" id="heading1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
              <div class="accordion-button-item">
                <div class="scheduled-class">
                  <div class="ellipse"></div>
                  <div class="text-wrapper-17">전체 반</div>
                </div>
                <div class="text-wrapper-18">학부모 심폐소생술 교육</div>
              </div>
            </button>
          </div>
          <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1">
            <div class="schedule-contents">
              유치원 3층 대강당에서 학부모 심폐소생술 교육을 실시합니다.
            </div>
          </div>
        </div>


        <div class="accordion-item single-schedule 2024-07-15">

          <div class="accordion-header" id="heading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
              <div class="accordion-button-item">
                <div class="scheduled-class">
                  <div class="ellipse-2"></div>
                  <div class="text-wrapper-17">토마토반</div>
                </div>
                <div class="text-wrapper-18">여름 피크닉</div>
              </div>
            </button>
          </div>

          <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2">
            <div class="schedule-contents">
              종로 3가 탑골공원으로 현장학습 진행 예정입니다.
            </div>
          </div>
        </div>


        <div class="accordion-item single-schedule 2024-07-16">

          <div class="accordion-header" id="heading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
              <div class="accordion-button-item">
                <div class="scheduled-class">
                  <div class="ellipse-2"></div>
                  <div class="text-wrapper-17">오이반</div>
                </div>
                <div class="text-wrapper-18">화채 만들기</div>
              </div>
            </button>
          </div>

          <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3">
            <!--나중에 end가 있으면 일정의 기간 표시하는 if 삽입-->

            <div class="schedule-contents">
              각 반마다 화채 만들기 실습이 있을 예정입니다.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</html>