<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">detailBefore</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css"/>
    <link th:href="@{/css/attendance/detailToday.css}">
</th:block>

<th:block layout:fragment="javascript">
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script th:src="@{/js/attendance/detailBefore.js}" src="js/attendance/detailBefore.js"></script>
</th:block>


<div class="container" layout:fragment="content">
    <h1>일별 출석부</h1>
    <div class="d-flex justify-content-between mb-3">

        <div>
            <select class="form-select" aria-label="Select Class" name="classDetail" id="classSelect">
                <option value="">전체 반</option>
                <th:block th:each="classEntity : ${classList}">
                    <option th:value="${classEntity.classNo}"
                            th:selected="${selectedClassNo == classEntity.classNo}"
                            th:text="${classEntity.className}">반 ${classEntity.classNo}
                    </option>
                </th:block>
            </select>
        </div>

        <div>
            <a th:href="@{/attendance/main}" class="btn btn-warning">홈으로</a>
        </div>
    </div>


    <div class="text-center mb-3">
        <h4 id="selectedDate">오늘날짜 - [[${date}]]</h4>
    </div>

    <table class="table table-bordered" id="attendanceTable" style="width: 100%">
        <thead>
        <tr>
            <th>이름</th>
            <th>출결 상태</th>
            <th>등원 시간</th>
            <th>하원 시간</th>
            <th>비고</th>
        </tr>
        </thead>

        <tbody id="studentList">
        </tbody>
    </table>
</div>

</html>
