<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">detailToday</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <link th:href="@{/css/attendance/detailWrite.css}">
</th:block>

<th:block layout:fragment="javascript">
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script th:src="@{/js/attendance/detailWrite.js}" src="/js/attendance/detailToday.js"></script>
</th:block>

<div class="container" layout:fragment="content">
    <h1>출석부 작성</h1>

    <div class="text-center mb-3">
        <h4>[[${date}]]</h4>
    </div>

    <form th:action="@{/attendance/write/{classNo}(classNo=${classNo})}" method="post" id="attendanceForm">
        <input type="hidden" id="kinderNo" th:value="${kinderNo}" />
        <input type="hidden" id="classNo" th:value="${classNo}" />

        <table class="table table-bordered" id="attendanceTable" style="width: 100%">
            <thead>
            <tr>
                <th>이름</th>
                <th>출결 상태</th>
                <th>등원 시간</th>
                <th>하원 시간</th>
                <th>비고(결석이유)</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="kid, iterStat : ${classKid}">
                <tr>
                    <td th:text="${kid.kidName}">학생 이름</td>
                    <td>
                        <input type="hidden" th:id="'kidNo_' + ${iterStat.index}" th:value="${kid.kidNo}" />
                        <input type="hidden" th:id="'kidName_' + ${iterStat.index}" th:value="${kid.kidName}" />
                        <input type="hidden" th:id="date" th:value="${date}" />

                        <select th:id="'attendanceStatus_' + ${iterStat.index}" class="form-select">
                            <option value=" ">-</option>
                            <option value="출석">출석</option>
                            <option value="결석">결석</option>
                            <option value="지각">지각</option>
                        </select>
                    </td>
                    <td>
                        <input type="time" th:id="'kidDrop_' + ${iterStat.index}" class="form-control">
                    </td>
                    <td>
                        <input type="time" th:id="'kidPickup_' + ${iterStat.index}" class="form-control">
                    </td>
                    <td>
                        <input type="text" th:id="'note_' + ${iterStat.index}" class="form-control">
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>
        <button type="submit" class="btn btn-outline-ab" id="writeBtn">작성 완료</button>
    </form>
</div>

</html>
