<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">detailAfter</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/attendance/main.css}">
</th:block>

<th:block layout:fragment="javascript">
    <script src="/js/attendance/main.js"></script>
</th:block>

<div class="container" layout:fragment="content">

    <h3>출석부가 현재 생성되지 않았습니다. </h3>

    <h4>오늘날짜   [[${todayDate}]]</h4>
    <h4>선택날짜   [[${selectedDate}]]</h4>

    <div>
        <a th:href="@{/attendance/main}" class="btn btn-warning">홈으로</a>
    </div>
</div>

</html>
