<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">paymentPay</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentConfirm.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/tossPay.css}" />
    <style>
        /* 모달 스타일 */
        .modal {
            display: none; /* 모달은 기본적으로 숨겨짐 */
            position: fixed;
            z-index: 10;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4); /* 배경 어둡게 */
        }
        .modal-content {
            background-color: white;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 650px;
            border-radius: 8px;
            display: block;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</th:block>

<th:block layout:fragment="javascript">
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</th:block>

<div class="container main_container" layout:fragment="content">

    <div class="title">
        <a class="icon-back" th:href="@{/user/paymentMain}">
            <img src="/payment/img/back.png" alt=""/>
        </a>
        <div class="div-wrapper"><div class="text-wrapper-title">납부하기</div></div>
    </div>
    <div class="img-2">
        <div class="component-wrapper">
            <div class="component"><img class="image" src="/images/common/paymentView.png" /></div>
        </div>
        <p class="p">청구된 내역을 결제 전 확인해 보세요.</p>
    </div>
    <div class="payment-content">
        <div class="selected-main">
<!--            <div class="payment-title">-->
<!--                <div class="text-wrapper-5">총 청구 항목</div>-->
<!--                <div class="n">-->
<!--                    <div class="text-wrapper-6">3건</div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="div-5">
                <div class="title-2"><div class="text-wrapper-11">청구 내역</div></div>
                <div class="div-3">
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 항목</div>
                        <div class="div-4">
                            <div class="text-wrapper-8 paymentTitle" th:text="${payment.paymentTitle}">청구 내용</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">원아명</div>
                        <div class="div-4">
                            <div class="text-wrapper-8" th:text="${payment.kidName}">원아명</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">청구서 만료일</div>
                        <div class="div-4">
                            <div class="text-wrapper-8" th:text="${payment.paymentEndDate}">만료일자</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 금액</div>
                        <div class="div-4">
                            <div class="text-wrapper-10 paymentPrice" th:text="${payment.paymentPrice}">청구금액</div>
                            <div class="text-wrapper-10" >원</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <th:block th:if="${payment.discountRate} != 0">
                            <div class="div-4">
                                <div class="text-wrapper-12">ㄴ 할인</div>
                            </div>
                            <div class="div-4">
                                <div class="text-wrapper-12" th:text="${payment.discountRate}">할인율</div>
                                <div class="text-wrapper-12">%</div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="payment-final">
                <div class="text-wrapper-5">총 청구 금액</div>
                <div class="n">
                    <div class="text-wrapper-finalprice finalPrice"
                         th:text="${payment.paymentPrice * (100 - payment.discountRate) * 0.01} ">
                        최종금액</div>
                    <div class="text-wrapper-finalprice finalPrice">원</div>
                </div>
            </div>
        </div>

        <div class="buttonarea">
            <div class="buttons">
                <a class="button-cancel" th:href="@{/user/paymentMain}">
                    <div class="text-cancel">취소</div>
                </a>
                <button class="button-submit" id="openModalButton">
                    <div class="text-submit">결제하기</div>
                </button>
            </div>
        </div>
    </div>

    <div id="paymentModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- 주문서 영역 -->
            <div class="wrapper">
                <div
                        class="box_section"
                        style="
              padding: 40px 30px 50px 30px;
              margin-top: 30px;
              margin-bottom: 50px;
            "
                >
                    <!-- 결제 UI -->
                    <div id="payment-method"></div>
                    <!-- 이용약관 UI -->
                    <div id="agreement"></div>

                    <!-- 결제하기 버튼 -->
                    <div class="result wrapper">
                        <button class="button" id="payment-button" style="margin-top: 30px">
                            결제하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const generateRandomString = () =>
            window.btoa(Math.random()).slice(0, 20);
        var amount =  parseInt($('.finalPrice').text().trim(), 10);
        const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
        const customerKey = generateRandomString();
        const paymentWidget = PaymentWidget(clientKey, customerKey);

        const modal = document.getElementById("paymentModal");
        const btn = document.getElementById("openModalButton");
        const span = document.getElementsByClassName("close")[0];

        btn.onclick = function () {
            modal.style.display = "block";

            console.log($('.paymentPrice').text().trim());
            console.log($('.paymentTitle').text().trim());

        };

        span.onclick = function () {
            modal.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        // 결제 UI 렌더링
        paymentMethodWidget = paymentWidget.renderPaymentMethods(
            "#payment-method",
            { value: amount },
            { variantKey: "DEFAULT" }
        );
        // 이용약관 UI 렌더링
        paymentWidget.renderAgreement("#agreement", { variantKey: "AGREEMENT" });

        // '결제하기' 버튼 누르면 결제창 띄우기
        const button = document.getElementById("payment-button");
        button.addEventListener("click", function () {
            paymentWidget.requestPayment({
                orderId: generateRandomString(),
                orderName: $('.paymentTitle').text().trim(),
                successUrl: window.location.origin + "/payment/user/success",
                failUrl: window.location.origin + "/payment/user/fail",
            });
        });
    </script>
</div>

</html>