<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">paymentPay</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentConfirm.css}" />

</th:block>

<th:block layout:fragment="javascript">
</th:block>

<div class="container main_container" layout:fragment="content">

    <div class="title">
        <a class="icon-back" th:href="@{user/paymentMain}">
            <img src="payment/img/back.png" alt=""/>
        </a>
        <div class="div-wrapper"><div class="text-wrapper-title">납부하기</div></div>
    </div>
    <div class="img-2">
        <div class="component-wrapper">
            <div class="component"><img class="image" src="images/common/paymentView.png" /></div>
        </div>
        <p class="p">청구된 내역을 결제 전 확인해 보세요.</p>
    </div>
    <div class="payment-content">
        <div class="selected-main">
            <div class="payment-title">
                <div class="text-wrapper-5">총 청구 항목</div>
                <div class="n">
                    <div class="text-wrapper-6">3건</div>
                </div>
            </div>
            <div class="div-5">
                <div class="title-2"><div class="text-wrapper-11">청구 내역 (1)</div></div>
                <div class="div-3">
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 항목</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">2024 교구비 (6개월)</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">원아명</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">김원아</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">청구서 만료일</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">2024.7.24.14시</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 금액</div>
                        <div class="div-4">
                            <div class="text-wrapper-10">240,000원</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="div-4">
                            <div class="text-wrapper-12">ㄴ 할인</div>
                            <div class="item">(2024 여름방학 선등록 이벤트)</div>
                        </div>
                        <div class="div-4">
                            <div class="text-wrapper-12">-60,000원</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="div-5">
                <div class="title-2"><div class="text-wrapper-11">청구 내역 (2)</div></div>
                <div class="div-3">
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 항목</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">2024 상반기 교습비 (월 1회)</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">원아명</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">김원아</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">청구서 만료일</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">2024.7.24.14시</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 금액</div>
                        <div class="div-4">
                            <div class="text-wrapper-10">260,000원</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="div-4">
                            <div class="text-wrapper-12">ㄴ 할인</div>
                            <div class="item">(2024 재원할인 이벤트)</div>
                        </div>
                        <div class="div-4">
                            <div class="text-wrapper-12">-40,000원</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-final">
                <div class="text-wrapper-5">총 청구 금액</div>
                <div class="n">
                    <div class="text-wrapper-finalprice">500,000원</div>
                </div>
            </div>
        </div>

        <div class="buttonarea">
            <div class="buttons">
                <a class="button-cancel" th:href="@{user/paymentMain}">
                    <div class="text-cancel">취소</div>
                </a>
                <a class="button-submit" th:href="@{user/paymentDone}">
                    <div class="text-submit">결제하기</div>
                </a>
            </div>
        </div>
    </div>

</div>
</html>