<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">원생관리</title>

<th:block layout:fragment="css">
    <th:block th:replace="~{common/datepicker :: css}"/>
    <link rel="stylesheet" href="css/kidPage/detail.css" />
</th:block>

<th:block layout:fragment="javascript">
    <th:block th:replace="~{common/datepicker :: js}"/>
    <script src="js/modal.js"></script>
    <script src="js/kidPage/writeForm.js"></script>
</th:block>

<div class="container main_container" layout:fragment="content">

    <div class="kid_detail_top_box kid_form_top_box">

        <div class="kid_form_top_text">원생 등록</div>


        <div class="discharge_btn_box">
            <a class="btn btn-secondary discharge_btn" href="kid/list">
                <div class="discharge_btn_text">취소</div>
            </a>

            <div class="btn btn-ab discharge_btn">
                <div class="discharge_btn_text"
                     id="admissionKid"
                     th:data-kinder-no="${loginInfo.kinderNo}">
                    등록
                </div>
            </div>
        </div>

    </div>


    <div class="kid_detail_content">

        <div class="kid_content_top_box kid_form_content_top_box">

            <div class="kid_profile_box">

                <div class="kid_profile_svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" viewBox="0 0 250 250" fill="none">
                        <path d="M175 100C175 113.261 169.732 125.979 160.355 135.355C150.979 144.732 138.261 150 125 150C111.739 150 99.0215 144.732 89.6447 135.355C80.2678 125.979 75 113.261 75 100C75 86.7392 80.2678 74.0215 89.6447 64.6447C99.0215 55.2678 111.739 50 125 50C138.261 50 150.979 55.2678 160.355 64.6447C169.732 74.0215 175 86.7392 175 100Z" fill="#FFDB21"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M119.9 249.9C53.2313 247.225 0 192.325 0 125C0 55.9625 55.9625 0 125 0C194.037 0 250 55.9625 250 125C250 194.037 194.037 250 125 250H123.287C122.154 250 121.025 249.967 119.9 249.9ZM44.7875 203.875C43.8529 201.191 43.5348 198.331 43.8568 195.507C44.1787 192.684 45.1325 189.969 46.6474 187.564C48.1622 185.16 50.1991 183.127 52.607 181.617C55.0149 180.108 57.7319 179.16 60.5563 178.844C109.281 173.45 141.019 173.937 189.506 178.956C192.334 179.251 195.058 180.187 197.47 181.693C199.882 183.199 201.918 185.236 203.423 187.648C204.929 190.06 205.864 192.784 206.158 195.612C206.452 198.441 206.096 201.299 205.119 203.969C225.901 182.944 237.539 154.562 237.5 125C237.5 62.8688 187.131 12.5 125 12.5C62.8688 12.5 12.5 62.8688 12.5 125C12.5 155.725 24.8188 183.575 44.7875 203.875Z" fill="#FFDB21"/>
                    </svg>
                </div>

                <div class="kid_info_box kid_info_box_form">

                    <div class="kid_info_box">
                        <div class="kid_item_box_form">
                            <label class="kid_name_text" for="kidName">원생 이름</label>
                            <input type="text" class="form-control kid_info_text_input" name="kidName" id="kidName">
                        </div>

                        <div class="msg_box">
                            <div class="msg">원생 이름을 입력해 주세요</div>
                        </div>
                    </div>


                    <div class="kid_info_box">

                        <div class="msg_box">
                            <div class="msg">원생 성별을 선택해 주세요</div>
                        </div>


                        <div class="btn-group" id="kidGenderRadioBox">
                            <input type="radio" class="btn-check" name="kidGenderRd" id="kidGender1"
                                   value="1" autocomplete="off">
                            <label class="btn btn-outline-ab kid_radio kid_radio_text"
                                   for="kidGender1">
                                남아
                            </label>

                            <input type="radio" class="btn-check" name="kidGenderRd" id="kidGender2"
                                   value="2" autocomplete="off">
                            <label class="btn btn-outline-ab kid_radio kid_radio_text"
                                   for="kidGender2">
                                여아
                            </label>
                        </div>

                    </div>


                    <div class="kid_info_box">

                        <div class="kid_item_box_form">
                            <label class="kid_birth_text" for="kidBirth">원생 생일</label>
                            <input type="text" class="form-control kid_info_text_input kid_birth_text_input datepicker"
                                   name="kidBirth" id="kidBirth" placeholder="연도. 월. 일" readonly>
                        </div>

                        <div class="msg_box">
                            <div class="msg">원생 생일을 선택해 주세요</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div class="classes_info_box">

            <div class="classes_info_top_box">

                <div class="msg_box">

                    <div class="classes_info_title_box">

                        <div class="info_title_svg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                <path d="M20.6246 5.62489C20.6246 2.51831 18.1063 0 14.9997 0C11.8931 0 9.37482 2.51831 9.37482 5.62489C9.37482 8.73147 11.8931 11.2498 14.9997 11.2498C18.1063 11.2498 20.6246 8.73147 20.6246 5.62489ZM13.6866 14.1267C10.2103 11.9986 4.5796 11.4138 1.74606 11.2527C0.79393 11.1988 0 11.9242 0 12.84V25.8944C0 26.7341 0.679088 27.4342 1.55212 27.4793C4.11027 27.6135 9.28576 28.1051 12.8628 29.9068C13.4118 30.1834 14.0628 29.8066 14.0628 29.2113V14.7981C14.0622 14.5245 13.9269 14.2737 13.6866 14.1267ZM28.2534 11.2527C25.4204 11.4133 19.7891 11.9986 16.3134 14.1267C16.0731 14.2737 15.9378 14.5345 15.9378 14.8081V29.2096C15.9378 29.8066 16.5905 30.184 17.1413 29.9068C20.7178 28.1069 25.8903 27.6153 28.4479 27.4811C29.3209 27.4354 30 26.7352 30 25.8956V12.84C29.9994 11.9242 29.2055 11.1988 28.2534 11.2527Z" fill="white"/>
                            </svg>
                        </div>

                        <div class="info_text_box">
                            <div class="info_text">소속 반 정보</div>
                        </div>

                    </div>

                    <div class="msg py-3">
                        최소 1개 이상의 반에 추가해 주세요
                    </div>

                </div>

                <div class="add_class_btn btn btn-ab">
                    <div class="add_class_btn_text" id="addClassBtn"
                         data-bs-toggle="modal" data-bs-target="#addClassModal">+ 반 추가하기</div>
                </div>

            </div>


            <div class="info_content_box">

                <div class="info_row" id="selectedClassDiv">


                </div>

            </div>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade fixed-width-modal" id="addParentModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title modal_header_title" id="addParentModalLabel">학부모 초대하기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body modal_body">

                    <div class="modal_parent_box">
                        <div class="modal_parent_body">

                            <div class="modal_parent_name_box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                    <path d="M15 0C6.71371 0 0 6.71371 0 15C0 23.2863 6.71371 30 15 30C23.2863 30 30 23.2863 30 15C30 6.71371 23.2863 0 15 0ZM15 5.80645C17.9395 5.80645 20.3226 8.18952 20.3226 11.129C20.3226 14.0685 17.9395 16.4516 15 16.4516C12.0605 16.4516 9.67742 14.0685 9.67742 11.129C9.67742 8.18952 12.0605 5.80645 15 5.80645ZM15 26.6129C11.4496 26.6129 8.26814 25.004 6.13911 22.4879C7.27621 20.3468 9.50202 18.871 12.0968 18.871C12.2419 18.871 12.3871 18.8952 12.5262 18.9375C13.3125 19.1915 14.1351 19.3548 15 19.3548C15.8649 19.3548 16.6935 19.1915 17.4738 18.9375C17.6129 18.8952 17.7581 18.871 17.9032 18.871C20.498 18.871 22.7238 20.3468 23.8609 22.4879C21.7319 25.004 18.5504 26.6129 15 26.6129Z" fill="#FFDB21"/>
                                </svg>
                                <div class="modal_parent_title">학부모 이름</div>
                            </div>

                            <input type="text" class="modal_parent_input form-control" name="parentName" id="parentName" placeholder="초대할 학부모의 이름을 입력해주세요.">


                        </div>

                        <div class="modal_parent_body">

                            <div class="modal_parent_name_box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                    <path d="M15 0C6.71371 0 0 6.71371 0 15C0 23.2863 6.71371 30 15 30C23.2863 30 30 23.2863 30 15C30 6.71371 23.2863 0 15 0ZM15 5.80645C17.9395 5.80645 20.3226 8.18952 20.3226 11.129C20.3226 14.0685 17.9395 16.4516 15 16.4516C12.0605 16.4516 9.67742 14.0685 9.67742 11.129C9.67742 8.18952 12.0605 5.80645 15 5.80645ZM15 26.6129C11.4496 26.6129 8.26814 25.004 6.13911 22.4879C7.27621 20.3468 9.50202 18.871 12.0968 18.871C12.2419 18.871 12.3871 18.8952 12.5262 18.9375C13.3125 19.1915 14.1351 19.3548 15 19.3548C15.8649 19.3548 16.6935 19.1915 17.4738 18.9375C17.6129 18.8952 17.7581 18.871 17.9032 18.871C20.498 18.871 22.7238 20.3468 23.8609 22.4879C21.7319 25.004 18.5504 26.6129 15 26.6129Z" fill="#FFDB21"/>
                                </svg>
                                <div class="modal_parent_title">학부모 Email</div>
                            </div>

                            <input type="text" class="modal_parent_input form-control" name="parentEmail" id="parentEmail" placeholder="초대할 학부모의 Email을 입력해주세요.">


                        </div>
                    </div>

                </div>


                <div class="modal-footer modal_footer_invite">
                    <input type="button"
                           class="btn btn-ab modal_invite_btn_box modal_add_btn_text" value="인증번호 발송">
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade fixed-width-modal" id="addClassModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title modal_header_title" id="addClassModalLabel">반 추가</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body modal_body">
                    <div class="modal_body_title_box">
                        <div class="modal_body_text" th:text="|선택 가능 반 총 ${allClass.size()}개|">
                            선택 가능 반 총 10개
                        </div>
                    </div>


                    <div class="modal_body_classes_box">

                        <div class="modal_body_classes_row">

                            <div class="modal_class_item text_div"
                                 th:each="class : ${allClass}" th:object="${class}"
                                 th:data-class-info="${class}">

                                <input type="checkbox" name="classCheckbox"
                                       th:id="|classCheck*{classNo}|" class="btn-check"
                                       th:value="*{classNo}"
                                       autocomplete="off">

                                <label th:for="|classCheck*{classNo}|"
                                       class="btn btn-outline-ab checkbox_label">
                                    <div class="modal_class_svg_box">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <path d="M13.7497 3.74993C13.7497 1.67887 12.0709 0 9.9998 0C7.92875 0 6.24988 1.67887 6.24988 3.74993C6.24988 5.82098 7.92875 7.49985 9.9998 7.49985C12.0709 7.49985 13.7497 5.82098 13.7497 3.74993ZM9.12443 9.41779C6.8069 7.99906 3.05307 7.60923 1.16404 7.50181C0.529287 7.46587 0 7.94945 0 8.55999V17.2629C0 17.8227 0.452726 18.2895 1.03475 18.3196C2.74018 18.409 6.1905 18.7367 8.57522 19.9379C8.94123 20.1223 9.37521 19.8711 9.37521 19.4742V9.86543C9.37482 9.68301 9.28458 9.51583 9.12443 9.41779ZM18.8356 7.50181C16.9469 7.60884 13.1927 7.99906 10.8756 9.41779C10.7154 9.51583 10.6252 9.68966 10.6252 9.87207V19.4731C10.6252 19.8711 11.0603 20.1227 11.4275 19.9379C13.8118 18.7379 17.2602 18.4102 18.9653 18.3207C19.5473 18.2903 20 17.8235 20 17.2637V8.55999C19.9996 7.94945 19.4703 7.46587 18.8356 7.50181Z" fill="white"/>
                                        </svg>
                                    </div>

                                    <div class="modal_class_text_box">
                                        <div class="modal_body_text text-compact"
                                             th:title="*{className}" th:text="*{className}">
                                            반이름
                                        </div>
                                    </div>
                                </label>

                            </div>



                        </div>


                    </div>
                </div>


                <div class="modal-footer">
                    <input type="button"
                           id="modalAddClassWrite"
                           class="btn btn-ab modal_add_btn_box modal_add_btn_text" value="추가">
                </div>

            </div>
        </div>
    </div>
</div>