.setting {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}
.setting .menu {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
  width: 100%;
}
.setting .frame {
  align-items: center; /* 추가: 수직 중앙 정렬 */
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.setting .text-wrapper {
  color: #000000;
  /*font-family: "Inter-Medium", Helvetica;*/
  font-size: 30px;
  font-weight: 500;
  height: auto; /* 수정: 높이 자동 조정 */
  letter-spacing: 0;
  line-height: 45px;
  margin-top: 0; /* 수정: 위쪽 여백 제거 */
  position: relative;
  width: 341px;
}
.element-secondary-button-wrapper{
  display: flex;
  gap:10px;
}

.setting .element-secondary-button {
  align-items: center;
  background-color: #ffe668;
  border-radius: 8px;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  width: 90px;
  border: none;
}
.setting .element-secondary-button2 {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 8px;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  width: 90px;
  border: none;
  text-decoration-line : none;
  color:black;
}

.setting .div {
  color: #000000;
  /*font-family: var(--small-text-font-family);*/
  /*font-size: var(--small-text-font-size);*/
  /*font-style: var(--small-text-font-style);*/
  /*font-weight: var(--small-text-font-weight);*/
  /*letter-spacing: var(--small-text-letter-spacing);*/
  /*line-height: var(--small-text-line-height);*/
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.setting .frame-2 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.setting .frame-wrapper {
  align-items: center;
  background-color: #ffffff;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

.setting .frame-3 {
  align-items: center;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #b3b3b3;
  border-top-style: solid;
  border-top-width: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 1064px;
}

.setting .frame-4 {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
}

.setting .div-wrapper {
  align-items: center;
  background-color: #f000;;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.setting .text-wrapper-2 {
  color: #000000;
  /*font-family: "Inter-Bold", Helvetica;*/
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.setting .frame-5 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.setting .p {
  color: #000000;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-size: 15px;*/
  /*font-weight: 500;*/
  letter-spacing: 0;
  line-height: 22.5px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.setting .frame-6 {
  background-color: #ffffff;
  position: relative;
  width: 132px;
}

.setting .frame-7 {
  align-items: center;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #b3b3b3;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 1064px;
}
.setting .frame-77 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 1064px;
}

.setting .img {
  position: relative;
  width: 132px;
}

.setting .frame-8 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 100%;
}

.setting .frame-9 {
  align-items: center;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #b3b3b3;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 1240px;
}
.form-check.form-switch .form-check-input {
  width: 60px;
  height: 27px;
}
.table{
  text-align: center;
  width: 976px;
  display: flex;
  flex-direction: column;
}
.setting .frame-a {
  align-items: center;
  background-color: #f9fafb;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 976px;
}
td{
  height: 50px;
  text-align: center;
  vertical-align: middle;
  width: 100%;

}
th{
  height: 67px;
  width: 30%;
  text-align: center;
  vertical-align: middle;
}
.kinder , #sample6_address , #sample6_detailAddress

{
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  height: 50px;
  padding: 8px 16px 8px 12px;
  position: relative;
  width: 600px;
  text-align: center;
}
.notice{
  text-align: center;
  font-size: 11px;
}
.locNo{
  width: 90px;
  height: 50px;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 8px;
}
.no {
  width: 110px;
  height: 50px;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 8px;
}
.hypen{
  text-align: center;
  padding: 1px;
}
.button{
  width: 110px;
  height: 50px;
  border-radius: 8px;
  border: none;
}
#sample6_postcode{
  width: 200px;
  height: 50px;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 8px;
  margin: 0px 10px;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}
.selectBox {
  display: flex;
  gap:10px;
}
.sido , .sgg  {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  height: 50px;
  padding: 8px 16px;
  position: relative;

}
.sido{
  width: 230px;
}
.sgg{
  width: 320px;
}
#sidoSelect , #sggSelect{
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #828282;
  display: -webkit-box;
  flex: 1;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  border: none;
  width: 100%;
  height: 100%;
}