<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">공지사항 상세</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="css/announce/detail.css"/>
</th:block>

<th:block layout:fragment="javascript">
    <script src="js/announce/detail.js"></script></th:block>

<div class="container main_container" layout:fragment="content">
    <form action="">
        <div class="screen" th:object="${announce}">
            <input type="hidden" name="comment" th:value="${announce.canComment}" id="commentFlag">
            <div class="frame">
                <div class="div">
                    <div class="frame-2">
                        <div class="text-wrapper">
                            [
                            <span th:if="${announce.announceType == 1}">선생님만</span>
                            <span th:if="${announce.announceType == 2}">원 공지</span>
                            <span th:if="${announce.announceType == 3}">일정 / 행사</span>
                            <span th:if="${announce.announceType == 4}">교육</span>
                            <span th:if="${announce.announceType == 5}">보육료</span>
                            ]
                        </div>
                        <div class="div-wrapper">
                            <div class="text-wrapper" th:text="*{boardTitle}"> 가족사진 찍으세요 </div>
                        </div>
                    </div>
                    <div class="frame-3">
                        <a href="#" class="frame-4">
                            <div class="avatar-wrapper">
                                <div class="avatar">
                                    <img class="rectangle" alt="Rectangle" src="announce/img/image-4.png">
                                </div>
                            </div>
                            <div class="frame-wrapper">
                                <div class="frame-5">
                                    <div class="text-wrapper-2">
                                        <span th:text="*{name}">[Name]</span>
                                        <span th:if="*{roleNo == 1}" th:text="' 원장 선생님'">[Principal Teacher]</span>
                                        <span th:if="*{roleNo == 2}" th:text="' 선생님'">[Teacher]</span>
                                    </div>
                                    <p class="p"
                                    th:text ="*{#temporals.format(boardRegDate, 'yyyy년 MM월 dd일 a hh:mm')}"
                                    >2024년 06월 23일 오후 08:27</p>
                                </div>
                            </div>
                        </a>
                        <div>
<!--                            <a href="" class="BTN">-->
                            <a th:href="@{announce/admin/{announceNo}(announceNo=${announce.announceNo - 1})}" class="BTN">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
                                </svg>
                                이전글
                            </a>
                            <a th:href="@{announce/admin/{announceNo}(announceNo=${announce.announceNo + 1})}" class="BTN">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                                </svg>다음글
                            </a>
                            <a href="announce/admin/list" class="listbtn">목록</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-9">
                <div class="edit">
                    <div class="dropdown" id="drop1">
                        <button class="btn dropdown-toggle" id="dd1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu dmenu">
                            <li><a class="dropdown-item ditem" th:href="@{|/announce/admin/modify/${announceNo}|}">수정</a></li>
                            <li>
<!--                                <button type="button" class="dropdown-item ditem" id="deleteBtn" onclick="button_event();">삭제</button>-->
                                <button type="button" class="dropdown-item ditem" id="deleteBtn"
                                        th:data-board-no="${announce.boardNo}">삭제</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="frame-10">
                    <p class="text-wrapper-5" th:text="*{boardContents}">
                        여기는 본문입니다 <br />
                    </p>
                </div>
            </div>

            <!-- 댓글 부분 -->
            <div class="comment"  id="commentSection">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span>댓글</span>
                                <span class="count">3</span>
                                <span>개</span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="view">
                                    <div class="frame-16">
                                        <div class="rectangle-wrapper">
                                            <img class="img" alt="Rectangle" src="announce/img/image-5.png">
                                        </div>
                                        <div class="frame-17">
                                            <div class="frame-18">
                                                <div class="frame-19">
                                                    <div class="text-wrapper-10">짱구 아빠</div>
                                                </div>
                                                <div class="frame-19">
                                                    <div class="text-wrapper-6">
                                                        <div class="dropdown" id="drop2">
                                                            <button class="btn dropdown-toggle" id="dd22" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            </button>
                                                            <ul class="dropdown-menu dmenu">
                                                                <li>
                                                                    <input type="button" value="수정" class="dropdown-item ditem" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                                                </li>
                                                                <li>
                                                                    <button type="button" class="dropdown-item ditem" onclick="button_event();">삭제</button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" id="exampleModalLabel1">수정 하기</h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <textarea class="reply"></textarea>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="close" data-bs-dismiss="modal">닫기</button>
                                                                        <button type="button" class="save">저장</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="frame-20">
                                                <div class="text-wrapper-11">댓글</div>
                                            </div>
                                            <div class="frame-21">
                                                <div class="frame-22">
                                                    <div class="text-wrapper-12">2024.06.29 14:00:36</div>
                                                </div>
                                                <a href="#" class="frame-19">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="text-wrapper-12" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                                        답글쓰기
                                                    </button>
                                                </a>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel2">답글 쓰기</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <textarea class="reply"></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="close" data-bs-dismiss="modal">닫기</button>
                                                                <button type="button" class="save">저장</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-23">
                                        <div class="img-wrapper">
                                            <img class="img" alt="Rectangle" src="announce/img/image-6.png">
                                        </div>
                                        <div class="frame-24">
                                            <div class="frame-18">
                                                <div class="frame-19">
                                                    <div class="text-wrapper-10">짱구 엄마</div>
                                                </div>
                                                <div class="frame-19">
                                                    <div class="text-wrapper-6">
                                                        <div class="dropdown" id="drop3">
                                                            <button class="btn dropdown-toggle" id="dd3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            </button>
                                                            <ul class="dropdown-menu dmenu">
                                                                <li>
                                                                    <input type="button" value="수정" class="dropdown-item ditem" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                                                </li>
                                                                <li>
                                                                    <button type="button" class="dropdown-item ditem" onclick="button_event();">삭제</button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" id="exampleModalLabel3">답글 쓰기 </h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <textarea class="reply"></textarea>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="close" data-bs-dismiss="modal">닫기</button>
                                                                        <button type="button" class="save">저장</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="frame-20">
                                                <div class="text-wrapper-11">대댓글</div>
                                            </div>
                                            <div class="frame-25">
                                                <div class="frame-19">
                                                    <div class="text-wrapper-12">2024.06.29 14:00:36</div>
                                                </div>
                                                <a href="#" class="frame-19" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                                                    <div class="text-wrapper-12">답글쓰기</div>
                                                </a>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel4">수정하기</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <textarea class="reply"></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="close" data-bs-dismiss="modal">닫기</button>
                                                                <button type="button" class="save">저장</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-26">
                                        <div class="frame-27">
                                            <div class="frame-28">
                                                <div class="element-secondary-button-wrapper">
                                                    <input type="submit" value="등록" class="element-secondary-button-3">
                                                </div>
                                            </div>
                                            <div class="element-input-field">
                                                <textarea class="element-input-field"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 댓글 부분 -->
        </div>
    </form>
</div>