<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">공지사항 메인</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/announce/card.css" />
</th:block>

<div class="container main_container" layout:fragment="content">
    <div class="ann-list">
        <form action="">
            <div class="list">
                <div class="frame">
                    <div class="view">
                        <div class="text-wrapper">공지 사항</div>
                    </div>
                </div>
                <div class="div">
                    <div class="div-wrapper">

                        <div  class="element-dropdown">
                            <select class="category">
                                <option value="0" selected>말머리</option>
                                <option value="1">선생님만</option>
                                <option value="2">원 공지</option>
                                <option value="3">일정/행사</option>
                                <option value="4">교육</option>
                                <option value="5">보육료</option>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                                </svg>
                            </select>
                        </div>

                    </div>
                    <div class="div-wrapper">
                        <div class="search">
                            <input type="text" class="text-wrapper-2" name="" id="" placeholder="검색어를 입력해주세요">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </a>
                        </div>
                        <div class="element-secondary-button-wrapper">
                            <a href="/announce/admin/write" class="element-secondary-button-2">작성</a>
                        </div>
                    </div>
                </div>
                <div class="frame-13">

                    <div>
                        <a href="/announce/admin/list" class="listver">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                            </svg>
                            <p class="text">목록형</p>
                        </a>
                    </div>
                    <div>
                        <a href="/announce/admin/card" class="cardver">
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-view-stacked" viewBox="0 0 16 16">
                                <path d="M3 0h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm0 8h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                            </svg>
                            <p class="text">카드형</p>
                        </a>
                    </div>
                </div>
                <div class="card-list">
                    <a class="card"
                    th:each="announce : ${announces}" th:object="${announce}" th:href="@{|/announce/admin/*{announceNo}|}">
                        <div class="frame-3">
                            [
                            <span th:if="${announce.announceType == 1}">선생님만</span>
                            <span th:if="${announce.announceType == 2}">원 공지</span>
                            <span th:if="${announce.announceType == 3}">일정 / 행사</span>
                            <span th:if="${announce.announceType == 4}">교육</span>
                            <span th:if="${announce.announceType == 5}">보육료</span>
                            ]
                            <p class="p" th:text="*{boardTitle}"></p>
                        </div>
                        <div class="frame-wrapper">
                            <div class="frame-4">
                                <div class="frame-5">
                                    <div class="frame-6">
                                        <div class="frame-7">
                                            <div class="avatar-wrapper">
                                                <div class="avatar">
                                                    <img class="rectangle" alt="Rectangle" src="rectangle-1.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-8">
                                    <div class="text-wrapper-4">
                                        <span th:text="*{name}">[Name]</span>
                                        <span th:if="*{roleNo == 1}" th:text="' 원장 선생님'">[Principal Teacher]</span>
                                        <span th:if="*{roleNo == 2}" th:text="' 선생님'">[Teacher]</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-9">
                            <div class="text-wrapper-5" th:text="*{#temporals.format(boardRegDate, 'yyyy년 MM월 dd일')}"></div>
                        </div>
                        <div class="frame-10">
                            <p class="text-wrapper-6" th:text="*{boardContents}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </form>
        <ul class="pagination class_2">

            <li class="page-item class_3"
                th:classappend="${currentPage - 5 < 0 ? 'disabled' : ''}">
                <a class="page-link page-link-ab page-text-ab"
                   th:href="@{|/announce/admin/card?page=${currentPage - 5 + 1}|}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                        <path d="M19.6771 24.7674L34.9896 40.0799C35.5104 40.6008 35.7625 41.2084 35.7458 41.9029C35.7292 42.5973 35.4597 43.2049 34.9375 43.7258C34.4153 44.2466 33.8076 44.507 33.1146 44.507C32.4215 44.507 31.8139 44.2466 31.2917 43.7258L15.25 27.7362C14.8333 27.3195 14.5208 26.8508 14.3125 26.3299C14.1042 25.8091 14 25.2883 14 24.7674C14 24.2466 14.1042 23.7258 14.3125 23.2049C14.5208 22.6841 14.8333 22.2154 15.25 21.7987L31.2917 5.75702C31.8125 5.23619 32.4292 4.98411 33.1417 5.00078C33.8542 5.01744 34.4701 5.28689 34.9896 5.80911C35.509 6.33133 35.7694 6.93897 35.7708 7.63203C35.7722 8.32508 35.5118 8.93272 34.9896 9.45494L19.6771 24.7674Z" fill="black"/>
                    </svg>
                </a>
            </li>


            <th:block th:each="i : ${#numbers.sequence(startPage + 1, endPage + 1)}">
                <li class="page-item class_3" th:classappend="${currentPage + 1 == i ? 'active disabled' : ''}">
                    <a class="page-link page-link-ab page-text-ab"
                       th:text="${i}"
                       th:href="@{|/announce/admin/card?page=${i}|}">Page</a>
                </li>
            </th:block>


            <li class="page-item class_3"
                th:classappend="${announces.totalPages < currentPage + 5 ? 'disabled' : ''}">
                <a class="page-link page-link-ab page-text-ab"
                   th:href="@{|/announce/admin/card?page=${currentPage + 5 + 1}|}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                        <path d="M30.1563 24.9997L14.8438 9.68718C14.3229 9.16635 14.0708 8.54968 14.0875 7.83718C14.1042 7.12468 14.3736 6.50871 14.8958 5.98926C15.4181 5.46982 16.0347 5.2094 16.7458 5.20801C17.457 5.20662 18.0729 5.46704 18.5938 5.98926L34.5833 22.0309C35 22.4476 35.3125 22.9163 35.5208 23.4372C35.7292 23.958 35.8333 24.4788 35.8333 24.9997C35.8333 25.5205 35.7292 26.0413 35.5208 26.5622C35.3125 27.083 35 27.5518 34.5833 27.9684L18.5417 44.0101C18.0208 44.5309 17.4132 44.783 16.7188 44.7663C16.0243 44.7497 15.4167 44.4802 14.8958 43.958C14.375 43.4358 14.1146 42.8191 14.1146 42.108C14.1146 41.3969 14.375 40.7809 14.8958 40.2601L30.1563 24.9997Z" fill="black"/>
                    </svg>
                </a>
            </li>

        </ul>
        </div>
    </div>


</div>