
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">공지사항 작성</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/announce/writeForm.css" /></th:block>

<div class="ann-write" layout:fragment="content">
    <form action="#">
        <div class="frame">
            <div class="div">
                <a href="#" class="element-secondary-button">
                    <div class="text-wrapper">취소</div>
                </a>
                    <input type="submit" value="작성" class="div-wrapper">
                    <div class="text-wrapper"></div>
            </div>
            <div class="frame-2">
                <div class="element-dropdown">
                    <select class="label">
                        <option value="all">게시판</option>
                        <option value="class1">선생님만</option>
                        <option value="class2">보육료</option>
                        <option value="class3">부모 교육</option>
                    </select>
                </div>
                <div class="element-input-field">
                    <input type="text" class="label-2" name="title" id="title" placeholder="제목을 입력해주세요">
                </div>
            </div>
            <div class="element-input-field-wrapper">
                <div class="label-wrapper">
                    <textarea name="content" class="summernote" id="content"></textarea>
                </div>
            </div>
            <div class="frame-3">
                <div class="frame-wrapper">
                    <div class="frame-4">
                        <div class="text-wrapper-2">댓글 허용</div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="cancomment" checked>
                            <label class="form-check-label" for="cancomment"></label>
                        </div>
                    </div>
                </div>
                <div class="frame-wrapper">
                    <div class="frame-4">
                        <div class="text-wrapper-2">중요 공지</div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="primary" checked>
                            <label class="form-check-label" for="primary"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>