
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">공지사항 작성</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/announce/writeForm.css" /></th:block>

<th:block layout:fragment="javascript">
    <script src="/announce/writeForm.js"></script></th:block>

<form id="announceForm">

    <div class="container main_container" layout:fragment="content">
        <div class="ann-write">
            <div class="frame">
                <div class="c">
                    <div class="b">
                        <div class="div">
                            <a href="/announce/admin/card" class="element-secondary-button">
                                <div class="text-wrapper">취소</div>
                            </a>
                            <input type="submit" id="writeBtn" value="작성" class="div-wrapper">
                        </div>
                    </div>
                </div>
                <div class="header">
                    <div class="frame-2">
                        <div class="frame-2">
                            <div class="element-dropdown" >
                                <select name="announceType" class="category" id="selectScope">
                                    <option value="0" selected>말머리</option>
                                    <option value="1">선생님만</option>
                                    <option value="2">원 공지</option>
                                    <option value="3">일정/행사</option>
                                    <option value="4">교육</option>
                                    <option value="5">보육료</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="element-input-field"
                         th:object="${announceInfo}"
                         th:data-board-type="*{get('boardType')}"
                         th:data-writer="*{get('writer')}"
                         data-board-title data-board-contents
                         th:data-board-kinder-no="*{get('boardKinderNo')}"
                         data-annunce-primary
                         data-can-comment
                         data-announce-type
                    >
                        <input type="text" class="label-2" name="title" id="title" placeholder="제목을 입력해주세요">
                    </div>
                </div>
                <div class="element-input-field-wrapper">
                    <div class="label-wrapper">
                        <textarea name="content" class="summernote" id="content"></textarea>
                    </div>
                </div>
                <div class="frame-3">
                    <div class="frame-wrapper">
                        <div class="frame-4">
                            <div class="text-wrapper-2">댓글 허용</div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="comment" checked>
                                <label class="form-check-label" for="comment"></label>
                            </div>
                        </div>
                    </div>
                    <div class="frame-wrapper">
                        <div class="frame-4">
                            <div class="text-wrapper-2">중요 공지</div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="primary" checked>
                                <label class="form-check-label" for="primary"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
