<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">paymentBillingMain</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentMain.css}" />

    <!--datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

</th:block>

<th:block layout:fragment="javascript">
    <script th:src="@{/js/payment/paymentMain.js}"></script>

    <!--datatable-->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

    <!--datepicker-->
    <th:block th:replace="~{common/datepicker :: js}"/>
    <th:block th:replace="~{common/datepicker :: css}"/>
</th:block>

<div class="container main_container" layout:fragment="content">

    <div class="div-2">
        <div class="title"><div class="text-wrapper-4">청구 및 수납</div></div>
        <a class="button-modify" th:href="@{/admin/paymentBillingWrite}" th:method="get">
            <img class="icon-pencil" src="payment/img/pencil.png" />
            <div class="text-modify">청구서 작성</div>
        </a>
    </div>
    <div class="selectarea">
        <div class="frame-2">
            <div class="div-3">
                <div class="div-3"><div class="text-wrapper-6">기간 선택</div></div>
                <div class="div-4">
                    <div class="calendar-pick">
                        <img class="calendar-vector" src="/images/common/calendar_gray.png" />
                        <input type="text" class="datepickerdiv datepicker" placeholder="날짜 선택" readonly>
                    </div>
                    <div class="text-wrapper-8">-</div>
                    <div class="calendar-pick">
                        <img class="calendar-vector" src="/images/common/calendar_gray.png" />
                        <input type="text" class="datepickerdiv datepicker" placeholder="날짜 선택" readonly>
                    </div>
                </div>
            </div>
            <div class="input-status">
                <div class="text-class"><div class="text-wrapper-6">검색어</div></div>
                <div class="keywordarea">
                    <div class="keyword-input">
                        <img class="vector-1" src="payment/img/search.png" />
                        <input type="text" class="keyword" placeholder="검색어 입력">
                    </div>
                </div>
            </div>
        </div>
        <form class="frame-3" action="page_billing_main/index.html">
            <div class="div-3">
                <div class="text-class"><div class="text-wrapper-6">수납 상태</div></div>
                <div class="form-check selectedoption">

                    <input type="checkbox" class="btn-check" id="soonap" autocomplete="off">
                    <label class="btn optiondiv" for="soonap">
                        <div class="text-wrapper-9">수납</div>
                    </label>

                    <input type="checkbox" class="btn-check" id="minap" autocomplete="off">
                    <label class="btn optiondiv" for="minap">
                        <div class="text-wrapper-9">미납</div>
                    </label>

                    <input type="checkbox" class="btn-check" id="wanryo" autocomplete="off">
                    <label class="btn optiondiv" for="wanryo">
                        <div class="text-wrapper-9">완료</div>
                    </label>

                    <input type="checkbox" class="btn-check" id="balhangcancel" autocomplete="off">
                    <label class="btn optiondiv" for="balhangcancel">
                        <div class="text-wrapper-9">발행취소</div>
                    </label>

                    <input type="checkbox" class="btn-check" id="confirmcancel" autocomplete="off">
                    <label class="btn optiondiv" for="confirmcancel">
                        <div class="text-wrapper-9">승인취소</div>
                    </label>

                </div>
            </div>
            <div class="div-4">
                <div class="view">
                    <img class="reset" src="payment/img/reset.png" />
                    <div class="text-wrapper-10">초기화</div>
                </div>
                <input type="submit" class="search" value="조회하기" />
            </div>
        </form>
    </div>
    <div class="payment-content">
        <div class="div-2">
            <div class="cnt">
                <div class="cnt-all">
                    <div class="text-wrapper-12">전체</div>
                    <div class="cnt-2">
                        <div class="text-wrapper-13">197</div>
                        <div class="text-wrapper-13">건</div>
                    </div>
                </div>
                <select class="dropdown-class">
                    <option class="text-wrapper-5" value="">반 선택</option>
                    <option class="text-wrapper-5" value="">1반</option>
                    <option class="text-wrapper-5" value="">2반</option>
                    <option class="text-wrapper-5" value="">3반</option>
                    <option class="text-wrapper-5" value="">4반</option>
                </select>
            </div>
            <a class="button-cancel" href="">
                <div class="text-cancel">발행취소</div>
            </a>
        </div>



        <table class="datatable-payment" id="datatable-payment">
            <thead>
                <tr class="column">
                    <th><input class="form-check-input" type="checkbox" id="checkAll"></th>
                    <th class="text-wrapper-15" data-orderable="false">수납상태</th>
                    <th class="text-wrapper-16">수납일</th>
                    <th class="text-wrapper-16">발송일</th>
                    <th class="text-wrapper-17">만료일</th>
                    <th class="text-wrapper-18">학생명</th>
                    <th class="text-wrapper-19">반정보</th>
                    <th class="text-wrapper-20">청구항목</th>
                    <th class="text-wrapper-21">청구금액</th>
                    <th class="text-wrapper-22">할인</th>
                    <th class="text-wrapper-21">최종금액</th>
                </tr>
            </thead>
            <tbody class="tuples">
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">2023.5.11.<br />17:21:47</td>
                    <td class="text-wrapper-24">2023.5.31.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">최원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">20%</td>
                    <td class="text-wrapper-29">200,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.30.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">김원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">270,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.29.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">박원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.28.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">이원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">발행취소</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.27.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">마원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">275,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">고원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">홍원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">승인취소</td>
                    <td class="text-wrapper-24">2023.5.11.<br />17:21:47</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">최원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">20%</td>
                    <td class="text-wrapper-29">200,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">김원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">270,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">박원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">이원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">마원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">275,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">고원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">홍원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">승인취소</td>
                    <td class="text-wrapper-24">2023.5.11.<br />17:21:47</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">최원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">20%</td>
                    <td class="text-wrapper-29">200,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">김원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">270,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">박원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">이원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">발행취소</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">마원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">275,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">고원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">홍원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">고원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">홍원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">승인취소</td>
                    <td class="text-wrapper-24">2023.5.11.<br />17:21:47</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">최원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">20%</td>
                    <td class="text-wrapper-29">200,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">김원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">270,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">박원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">이원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">마원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">275,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">고원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">홍원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">승인취소</td>
                    <td class="text-wrapper-24">2023.5.11.<br />17:21:47</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">최원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">20%</td>
                    <td class="text-wrapper-29">200,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">김원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">270,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">박원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">이원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">발행취소</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">마원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">10%</td>
                    <td class="text-wrapper-29">275,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">수납완료</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">고원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 상반기 교습비(월 1회)</td>
                    <td class="text-wrapper-29">300,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
                <tr class="tuple">
                    <td><input class="form-check-input" type="checkbox" value="1"></td>
                    <td class="text-wrapper-23">미수납</td>
                    <td class="text-wrapper-24">-</td>
                    <td class="text-wrapper-24">2023.5.11.<br />20:08:20</td>
                    <td class="text-wrapper-25">2023.5.18.<br />15:00:00</td>
                    <td class="text-wrapper-26">홍원아</td>
                    <td class="text-wrapper-27">브로콜리반</td>
                    <td class="text-wrapper-28">2024 교구비(6개월)</td>
                    <td class="text-wrapper-29">250,000원</td>
                    <td class="text-wrapper-30">-</td>
                    <td class="text-wrapper-29">300,000원</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
</html>