<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">paymentBillingWrite</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentWrite.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentWriteModal.css}" />

</th:block>

<th:block layout:fragment="javascript">
    <script src="js/payment/paymentWrite.js"></script>
    <th:block th:replace="~{/common/datepicker :: js}"/>
    <th:block th:replace="~{/common/datepicker :: css}"/>
</th:block>

<div class="container main_container" layout:fragment="content">

    <div class="title">
        <div class="title-flow2">
            <a class="icon-back" th:href="@{/admin/paymentBillingMain}">
                <img src="payment/img/back.png" alt=""/>
            </a>
            <div class="div-wrapper"><div class="text-wrapper-title">청구서 작성하기</div></div>
        </div>
        <a type="submit" class="button-submit" value="청구서 발송" th:href="@{/admin/paymentBillingConfirm}">청구서 발송</a>
    </div>
    <div class="inputbox">
        <div class="div-3">
            <div class="title-3">
                <div class="text-wrapper-6">청구 대상</div>
                <a class="btn button-cancel" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <img class="img-2" src="payment/img/pencil-white.png" />
                    <div class="text-cancel">편집</div>
                </a>



                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-title">
                                <div class="textarea">
                                    <div class="text-wrapper">소속 반 수정</div>
                                </div>
                                <button class="button-x" href="" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="schedule/img/x.png" alt=""/>
                                </button>
                            </div>
                            <div class="modalform">
                                <div class="row-input">
                                    <div class="text-addable">
                                        <select class="selectoption-child">
                                            <option class="text-wrapper-5" value="">반 선택</option>
                                            <option class="text-wrapper-5" value="">브로콜리반</option>
                                            <option class="text-wrapper-5" value="">오이반</option>
                                            <option class="text-wrapper-5" value="">당근반</option>
                                            <option class="text-wrapper-5" value="">파프리카반</option>
                                        </select>
                                        <div class="modal-div-2">
                                            <input type="checkbox" class="form-check-input" id="checkAll">
                                            <div class="text-wrapper-2" for="checkAll">반 전체 선택</div>
                                        </div>
                                    </div>
                                    <div class="form-check carousel">

                                        <label class="modal-child" for="child_1">
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="child_1" id="child_1">
                                            <div class="profile">
                                                <img src="payment/img/profile.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-10">김원아</div>
                                                <div class="text-wrapper-10-1">(부모 : 김부모)</div>
                                            </div>
                                        </label>

                                        <label class="modal-child" for="child_2">
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="child_2" id="child_2">
                                            <div class="profile">
                                                <img src="payment/img/profile.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-10">김원아</div>
                                                <div class="text-wrapper-10-1">(부모 : 김부모)</div>
                                            </div>
                                        </label>

                                        <label class="modal-child" for="child_3">
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="child_3" id="child_3">
                                            <div class="profile">
                                                <img src="payment/img/profile.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-10">김원아</div>
                                                <div class="text-wrapper-10-1">(부모 : 김부모)</div>
                                            </div>
                                        </label>

                                        <label class="modal-child" for="child_4">
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="child_4" id="child_4">
                                            <div class="profile">
                                                <img src="payment/img/profile.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-10">김원아</div>
                                                <div class="text-wrapper-10-1">(부모 : 김부모)</div>
                                            </div>
                                        </label>

                                        <label class="modal-child" for="child_5">
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="child_5" id="child_5">
                                            <div class="profile">
                                                <img src="payment/img/profile.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-10">김원아</div>
                                                <div class="text-wrapper-10-1">(부모 : 김부모)</div>
                                            </div>
                                        </label>

                                        <label class="modal-child" for="child_6">
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="child_6" id="child_6">
                                            <div class="profile">
                                                <img src="payment/img/profile.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-10">김원아</div>
                                                <div class="text-wrapper-10-1">(부모 : 김부모)</div>
                                            </div>
                                        </label>

                                        <label class="modal-child" for="child_7">
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="child_7" id="child_7">
                                            <div class="profile">
                                                <img src="payment/img/profile.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-10">김원아</div>
                                                <div class="text-wrapper-10-1">(부모 : 김부모)</div>
                                            </div>
                                        </label>



                                    </div>
                                </div>
                                <div class="buttonarea">
                                    <button class="btn btn-ab button-send" data-bs-dismiss="modal">적용</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->


            </div>
            <div class="inputarea">
                <div class="div-2">
                    <div class="div-5">
                        <div class="text-wrapper-8">브로콜리반</div>
                        <div class="n">
                            <div class="text-wrapper-9">3명</div>
                        </div>
                    </div>
                    <div class="selectedchild">
                        <div class="child">
                            <div class="profile">
                                <img src="payment/img/profile.png" alt=""/>
                            </div>
                            <div class="textarea">
                                <div class="text-wrapper-10">김원아</div>
                                <div class="text-wrapper-10-1">(부모 : 김부모)</div>
                            </div>
                        </div>
                        <div class="child">
                            <div class="profile">
                                <img src="payment/img/profile.png" alt=""/>
                            </div>
                            <div class="textarea">
                                <div class="text-wrapper-10">박원아</div>
                                <div class="text-wrapper-10-1">(부모 : 박부모)</div>
                            </div>
                        </div>
                        <div class="child">
                            <div class="profile">
                                <img src="payment/img/profile.png" alt=""/>
                            </div>
                            <div class="textarea">
                                <div class="text-wrapper-10">이원아</div>
                                <div class="text-wrapper-10-1">(부모 : 이부모)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="title-4">
                <div class="text-wrapper-8">청구 항목</div>
                <p class="detail">자주 쓰는 청구 항목은 ‘청구 항목 관리’에서 추가할 수 있습니다.</p>
            </div>
            <div class="inputarea-2">
                <div class="div-6">
                    <div class="text-wrapper-11">항목</div>
                    <select class="selectoption">
                        <option class="selected-class">항목 선택</option>
                    </select>
                </div>
                <div class="div-6">
                    <div class="text-wrapper-11">금액(원)</div>
                    <div class="input-charge">
                        <input type="text" class="inputtext" placeholder="-">
                        <div class="text-wrapper-13">원</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="title-4">
                <div class="text-wrapper-8">할인 대상</div>
                <p class="detail">청구 대상과 항목을 모두 작성하신 후 할인 대상을 조회할 수 있습니다.</p>
            </div>
            <div class="div-8">
                <div class="div-9">
                    <div class="inputarea-3">
                        <div class="inputarea-2-1">
                            <div class="div-6">
                                <div class="text-wrapper-11">항목</div>
                                <select class="selectoption">
                                    <option class="selected-class">항목 선택</option>
                                </select>
                            </div>
                            <div class="div-6">
                                <div class="text-wrapper-11">대상</div>
                                <select class="selectoption-child">
                                    <option class="selectedchild-2">김원아</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <a class="button-cancel" href="">
                        <div class="text-cancel">+ 할인 추가</div>
                    </a>
                </div>
                <div class="div-11">
                    <div class="div-12">
                        <div class="title">
                            <div class="div-5">
                                <div class="profile">
                                    <img src="payment/img/profile.png" alt=""/>
                                </div>
                                <div class="textarea">
                                    <div class="text-wrapper-15">김원아</div>
                                    <div class="text-discount"><div class="text-wrapper-16">2024 여름방학 선등록 이벤트</div></div>
                                </div>
                            </div>
                            <a class="button-x" href="">
                                <img src="payment/img/x.png" alt=""/>
                            </a>
                        </div>
                        <div class="charge">
                            <div class="div-13">
                                <div class="text-wrapper-17">청구 금액</div>
                                <div class="div-14">
                                    <div class="text-wrapper-16">300,000</div>
                                    <div class="text-wrapper-16">원</div>
                                </div>
                            </div>
                            <img class="img-2" src="payment/img/minus.png" />
                            <div class="div-13">
                                <div class="text-wrapper-17">할인</div>
                                <div class="div-14">
                                    <div class="text-wrapper-16">-&nbsp;&nbsp;60,000</div>
                                    <div class="text-wrapper-16">원</div>
                                </div>
                            </div>
                            <img class="icon-equal" src="payment/img/equal.png" />
                            <div class="text-finalcharge">
                                <div class="text-wrapper-18">총 청구 금액</div>
                                <div class="div-14">
                                    <div class="text-wrapper-19">240,000</div>
                                    <div class="text-wrapper-19">원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-12">
                        <div class="title">
                            <div class="div-5">
                                <div class="profile">
                                    <img src="payment/img/profile.png" alt=""/>
                                </div>
                                <div class="textarea">
                                    <div class="text-wrapper-15">박원아</div>
                                    <div class="text-discount"><div class="text-wrapper-16">2024 재원 할인 이벤트</div></div>
                                </div>
                            </div>
                            <a class="button-x" href="">
                                <img src="payment/img/x.png" alt=""/>
                            </a>
                        </div>
                        <div class="charge">
                            <div class="div-13">
                                <div class="text-wrapper-17">청구 금액</div>
                                <div class="div-14">
                                    <div class="text-wrapper-16">300,000</div>
                                    <div class="text-wrapper-16">원</div>
                                </div>
                            </div>
                            <img class="img-2" src="payment/img/minus.png" />
                            <div class="div-13">
                                <div class="text-wrapper-17">할인</div>
                                <div class="div-14">
                                    <div class="text-wrapper-16">-&nbsp;&nbsp;40,000</div>
                                    <div class="text-wrapper-16">원</div>
                                </div>
                            </div>
                            <img class="icon-equal" src="payment/img/equal.png" />
                            <div class="text-finalcharge">
                                <div class="text-wrapper-18">총 청구 금액</div>
                                <div class="div-14">
                                    <div class="text-wrapper-19">260,000</div>
                                    <div class="text-wrapper-19">원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="title-4">
                <div class="text-wrapper-8">청구 메모</div>
                <p class="p">
                    <span class="span">청구 대상과 항목을 모두 선택하신 후 청구 메모 작성이 가능합니다.</span>
                    <span class="text-wrapper-20">다.</span>
                </p>
            </div>
            <div class="div-8">
                <div class="inputarea-4">
                    <div class="div-9">
                        <div class="div-6">
                            <div class="text-wrapper-11">대상</div>
                            <select class="selectoption-child">
                                <option class="text-wrapper-5" value="">원아 선택</option>
                                <option class="text-wrapper-5" value="">김원아</option>
                                <option class="text-wrapper-5" value="">나원아</option>
                                <option class="text-wrapper-5" value="">박원아</option>
                                <option class="text-wrapper-5" value="">이원아</option>
                            </select>
                        </div>
                        <a class="button-cancel" href="">
                            <div class="text-cancel">+ 메모 추가</div>
                        </a>
                    </div>
                    <div class="input-memo">
                        <div class="default">메모를 작성해 주세요.</div>
                        <div class="limit">0/300</div>
                    </div>
                </div>
                <div class="div-11">
                    <div class="div-12">
                        <div class="title">
                            <div class="div-5">
                                <div class="profile">
                                    <img src="payment/img/profile.png" alt=""/>
                                </div>
                                <div class="text-wrapper-15">이원아</div>
                            </div>
                            <img class="button-x" src="payment/img/x.png" />
                        </div>
                        <p class="memo">
                            안녕하세요, 아이바요유치원입니다.<br />동희의 하반기 등록비 안내드립니다^^ 확인 후 궁금하신 점은
                            언제든 문의 주세요^^ 감사합니다!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="title-4">
                <div class="text-wrapper-8">예약 발송</div>
                <p class="p">
                <span class="span">예약 발송 활성화 시 만료일이 초기화되며, 예약발송 설정 후 만료일 설정이 가능합니다.</span>
                </p>
            </div>
            <div class="inputarea-5">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="notepad" checked>
                    <label class="form-check-label" for="notepad"></label>
                </div>
                <div class="inputarea-6">
                    <div class="div-6">
                        <div class="text-wrapper-11">예약일</div>
                        <div class="calendar-pick">
                            <img class="calendar-vector" src="images/common/calendar_gray.png" />
                            <input type="text" class="datepickerdiv datepicker" placeholder="날짜 선택" readonly>
                        </div>
                    </div>
                    <div class="div-6">
                        <div class="text-wrapper-11">예약시간</div>
                        <div class="calendar-pick">
                            <img class="img-6" src="images/common/clock.png" />
                            <input type="text" class="datepickerdiv datepicker" placeholder="시간 선택" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="title-5">
                <div class="text-wrapper-8">청구서 만료일</div>
                <p class="detail-2">
                <span class="span"
                >청구서의 만료일은 발송일로부터 최대 14일 이내로 설정할 수 있습니다. 만료일 이후에는 청구서 상태가
                  &#39;기간만료&#39;로 표시됩니다.</span
                >
                    <span class="text-wrapper-20">만료일은 청구일로부터 최대 1년까지 설정할 수 있습니다.</span>
                </p>
            </div>
            <div class="inputarea-2">
                <div class="div-6">
                    <div class="text-wrapper-11">날짜</div>
                    <div class="calendar-pick">
                        <img class="calendar-vector" src="images/common/calendar_gray.png" />
                        <input type="text" class="datepickerdiv datepicker" placeholder="날짜 선택" readonly>
                    </div>
                </div>
                <div class="div-6">
                    <div class="text-wrapper-11">시간</div>
                    <div class="calendar-pick">
                        <img class="img-6" src="images/common/clock.png" />
                        <input type="text" class="datepickerdiv datepicker" placeholder="시간 선택" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification">
            <div class="notification-2">발송 전 확인해주세요.</div>
            <p class="detail-3">
                청구서는 키즈노트 URL로 발송되며, 알림 또는 내소식에서 확인 후 납부하실 수 있습니다.<br />학부모님께서
                미납 시 청구서 만료 3일 전 키즈노트 알림으로 한번 더 안내됩니다.
            </p>
        </div>
    </div>

</div>
</html>