<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">paymentBillingMain</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentMain.css}" />

    <!--datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

</th:block>

<th:block layout:fragment="javascript">
    <script th:src="@{/js/payment/paymentMain.js}"></script>

    <!--datatable-->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

    <!--datepicker-->
    <th:block th:replace="~{/common/datepicker :: js}"/>
    <th:block th:replace="~{/common/datepicker :: css}"/>
</th:block>

<div class="container main_container" layout:fragment="content">

    <div class="div-2">
        <div class="title"><div class="text-wrapper-4">청구 및 수납</div></div>
        <a class="button-modify" href="/payment/admin/paymentBillingWrite" th:method="get">
            <img class="icon-pencil" src="/images/common/pencil.png" />
            <div class="text-modify">청구서 작성</div>
        </a>
    </div>
    <div class="selectarea">
        <div class="frame-2">
            <div class="div-3">
                <div class="div-3"><div class="text-wrapper-6">기간 선택</div></div>
                <div class="div-4">
                    <div class="calendar-pick">
                        <img class="calendar-vector" src="/images/common/calendar_gray.png" />
                        <input type="text" class="datepickerdiv datepicker" id="inputStartDate" placeholder="날짜 선택" readonly>
                    </div>
                    <div class="text-wrapper-8">-</div>
                    <div class="calendar-pick">
                        <img class="calendar-vector" src="/images/common/calendar_gray.png" />
                        <input type="text" class="datepickerdiv datepicker" id="inputEndDate" placeholder="날짜 선택" readonly>
                    </div>
                </div>
            </div>
            <div class="input-status">
                <div class="text-class"><div class="text-wrapper-6">검색어</div></div>
                <div class="keywordarea">
                    <div class="keyword-input">
                        <img class="vector-1" src="/images/common/search.png" />
                        <input type="text" class="keyword" placeholder="검색어 입력">
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-3">
            <div class="div-3">
                <div class="text-class"><div class="text-wrapper-6">수납 상태</div></div>
                <div class="form-check selectedoption">

                    <input type="checkbox" class="btn-check" id="billed" value="0" autocomplete="off">
                    <label class="btn optiondiv" for="billed">
                        <div class="text-wrapper-9">청구</div>
                    </label>

                    <input type="checkbox" class="btn-check" id="paid" value="1" autocomplete="off">
                    <label class="btn optiondiv" for="paid">
                        <div class="text-wrapper-9">수납</div>
                    </label>

                    <input type="checkbox" class="btn-check" id="overdue" value="2" autocomplete="off">
                    <label class="btn optiondiv" for="overdue">
                        <div class="text-wrapper-9">미납</div>
                    </label>

                    <input type="checkbox" class="btn-check" id="cancel" value="3" autocomplete="off">
                    <label class="btn optiondiv" for="cancel">
                        <div class="text-wrapper-9">발행취소</div>
                    </label>

                    <input type="checkbox" class="btn-check" id="refund" value="4" autocomplete="off">
                    <label class="btn optiondiv" for="refund">
                        <div class="text-wrapper-9">승인취소</div>
                    </label>

                </div>
            </div>

            <select class="dropdown-class">
                <option class="text-wrapper-5" value="">반 선택</option>
                <option class="text-wrapper-5" th:each="class:${classList}" th:object="${class}" th:value="${class.classNo}" th:text="${class.className}">반이름</option>
            </select>

            <div class="div-4">
                <div class="inputReset">
                    <img class="reset" src="/images/common/reset.png" />
                    <div class="text-wrapper-10">초기화</div>
                </div>
                <input type="button" class="search" value="조회하기" />
            </div>
        </div>
    </div>
    <div class="payment-content">
        <div class="div-2">
            <div class="cnt">
                <div class="cnt-all">
                    <div class="text-wrapper-12">전체</div>
                    <div class="cnt-2">
                        <div class="text-wrapper-13" id="tupleCnt">n</div>
                        <div class="text-wrapper-13">건</div>
                    </div>
                </div>
            </div>
            <a class="button-cancel" href="">
                <div class="text-cancel">발행취소</div>
            </a>
        </div>


        <div class="tableDiv">
            <table class="datatable-payment" id="datatable-payment">
                <thead>
                    <tr class="column">
                        <th><input class="form-check-input" type="checkbox" id="checkAll"></th>
                        <th class="text-wrapper-15" data-orderable="false">수납상태</th>
                        <th class="text-wrapper-16">수납일</th>
                        <th class="text-wrapper-16">발송일</th>
                        <th class="text-wrapper-17">만료일</th>
                        <th class="text-wrapper-18">원아명</th>
                        <th class="text-wrapper-19">반정보</th>
                        <th class="text-wrapper-20">청구항목</th>
                        <th class="text-wrapper-21">청구금액</th>
                        <th class="text-wrapper-22">할인</th>
                        <th class="text-wrapper-21">최종금액</th>
                    </tr>
                </thead>
                <tbody class="tuples" th:data-tuple-cnt="${paymentDtoList.size()}">

                    <tr class="tuple" th:each="payment: ${paymentDtoList}" th:object="${payment}" th:value="*{billNo}">
                        <td><input class="form-check-input" type="checkbox" th:data-bill-no="*{billNo}"></td>
                        <td class="text-wrapper-23 tuple_payment_status" th:data-payment-status="*{paymentStatus}">수납상태</td>
                        <td class="text-wrapper-24 tuple_payment_log_reg_date" th:data-reg-date="*{paymentLogRegDate}">수납일</td>
                        <td class="text-wrapper-24 tuple_payment_start_date" th:data-start-date="*{paymentStartDate}">발송일</td>
                        <td class="text-wrapper-25 tuple_payment_end_date" th:data-end-date="*{paymentEndDate}">만료일</td>
                        <td class="text-wrapper-26 tuple_kid_name" th:text="*{kidName}">원아명</td>
                        <td class="text-wrapper-27 tuple_class_name" th:text="*{className}">반정보</td>
                        <td class="text-wrapper-28 tuple_payment_title" th:text="*{paymentTitle}">청구항목</td>
                        <td class="text-wrapper-29 tuple_payment_price" th:data-payment-price="*{paymentPrice}">청구금액</td>
                        <td class="text-wrapper-30 tuple_discount_rate"
                            th:text="*{discountRate} == 0 ? '-' : *{discountRate} + '%'">할인</td>
                        <td class="text-wrapper-29 tuple_final_price"
                            th:data-payment-price="*{paymentPrice}" th:data-discount-rate="*{discountRate}">최종금액</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>
</html>