<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">paymentBillingConfirm</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentConfirm.css}" />

</th:block>

<th:block layout:fragment="javascript">
</th:block>

<div class="container main_container" layout:fragment="content">

    <div class="title">
        <a class="icon-back" th:href="@{/admin/paymentBillingWrite}">
            <img src="/payment/img/back.png" alt=""/>
        </a>
        <div class="div-wrapper"><div class="text-wrapper-title">청구서 미리보기</div></div>
    </div>
    <div class="img-2">
        <div class="component-wrapper">
            <div class="component"><img class="image" src="/images/common/billingConfirm.png" /></div>
        </div>
        <p class="p">지금까지 작성된 내용을 발송 전 확인해 보세요.</p>
    </div>
    <div class="payment-content">
        <div class="selected-main">
            <div class="div-2">
                <div class="text-wrapper-5">총 청구 대상</div>
                <div class="n">
                    <div class="text-wrapper-6">3명</div>
                </div>
            </div>
            <div class="div-3">
                <div class="div-2">
                    <div class="text-wrapper-7">청구반</div>
                    <div class="text-wrapper-8">영어반</div>
                </div>
                <div class="div-2">
                    <div class="text-wrapper-7">청구 항목</div>
                    <div class="text-wrapper-8">2024 교구비 (6개월)</div>
                </div>
                <div class="div-2">
                    <div class="div-4">
                        <div class="text-wrapper-7">기본 청구 금액</div>
                        <div class="text-wrapper-9">(인당)</div>
                    </div>
                    <div class="div-4">
                        <div class="text-wrapper-10">300,000원</div>
                    </div>
                </div>
                <div class="div-2">
                    <div class="text-wrapper-7">청구서 만료일</div>
                    <div class="text-wrapper-8">2024. 7. 14. 14시</div>
                </div>
            </div>
        </div>
        <div class="payment-detail">
            <div class="div-5">
                <div class="title-2"><div class="text-wrapper-11">기본 청구</div></div>
                <div class="div-3">
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 인원</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">2명</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="div-4">
                            <div class="text-wrapper-7">청구 금액</div>
                            <div class="text-wrapper-9">(인당)</div>
                        </div>
                        <div class="div-4">
                            <div class="text-wrapper-10">300,000원</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-black"></div>
            <div class="div-5">
                <div class="title-2">
                    <div class="text-wrapper-11">할인 청구</div>
                    <div class="text-wrapper-11">(1)</div>
                </div>
                <div class="div-3">
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 인원</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">1</div>
                            <div class="text-wrapper-8">명</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="div-4">
                            <div class="text-wrapper-7">청구 금액</div>
                            <div class="text-wrapper-9">(인당)</div>
                        </div>
                        <div class="div-4">
                            <div class="text-wrapper-10">240,000</div>
                            <div class="text-wrapper-10">원</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="div-4">
                            <div class="text-wrapper-12">ㄴ 할인</div>
                            <div class="item">(2024 여름방학 선등록 이벤트)</div>
                        </div>
                        <div class="div-4">
                            <div class="text-wrapper-12">-60,000</div>
                            <div class="text-wrapper-12">원</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-black"></div>
            <div class="div-5">
                <div class="title-2">
                    <div class="text-wrapper-11">할인 청구</div>
                    <div class="text-wrapper-11">(2)</div>
                </div>
                <div class="div-3">
                    <div class="div-2">
                        <div class="text-wrapper-7">청구 인원</div>
                        <div class="div-4">
                            <div class="text-wrapper-8">1</div>
                            <div class="text-wrapper-8">명</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="div-4">
                            <div class="text-wrapper-7">청구 금액</div>
                            <div class="text-wrapper-9">(인당)</div>
                        </div>
                        <div class="div-4">
                            <div class="text-wrapper-10">260,000</div>
                            <div class="text-wrapper-10">원</div>
                        </div>
                    </div>
                    <div class="div-2">
                        <div class="div-4">
                            <div class="text-wrapper-12">ㄴ 할인</div>
                            <div class="item">(2024 재원 할인 이벤트)</div>
                        </div>
                        <div class="div-4">
                            <div class="text-wrapper-12">-40,000</div>
                            <div class="text-wrapper-12">원</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonarea">
            <div class="buttons">
                <a class="button-cancel" th:href="@{/admin/paymentBillingWrite}">
                    <div class="text-cancel">수정하기</div>
                </a>
                <a class="button-submit" th:href="@{/admin/paymentBillingDone}">
                    <div class="text-submit">3개의 청구서 발송하기</div>
                </a>
            </div>
            <a th:href="@{/admin/paymentBillingMain}">
                <p class="back">작성 취소 후 청구/수납 홈으로 돌아가기</p>
            </a>
        </div>
    </div>

</div>
</html>