<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">paymentBillingWrite</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentWrite.css}" />
    <link rel="stylesheet" th:href="@{/css/payment/paymentWriteModal.css}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

</th:block>

<th:block layout:fragment="javascript">
    <script src="/js/payment/paymentWrite.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <th:block th:replace="~{/common/datepicker :: js}"/>
    <th:block th:replace="~{/common/datepicker :: css}"/>
</th:block>

<div class="container main_container" layout:fragment="content">

    <div class="title" th:value="${kinderNo}">
        <div class="title-flow2">
            <a class="icon-back" th:href="@{/admin/paymentBillingMain}">
                <img src="/images/common/back.png" alt=""/>
            </a>
            <div class="div-wrapper"><div class="text-wrapper-title">청구서 작성하기</div></div>
        </div>
        <button type="submit" class="button-submit" id="send_bill" value="청구서 발송">청구서 발송</button>
    </div>
    <div class="inputbox">
        <div class="div-3">
            <div class="title-3">
                <div class="text-wrapper-6">청구 대상</div>
                <button class="btn button-cancel" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="selectClassAndKid">
                    <img class="img-2" src="/images/common/pencil-white.png" />
                    <div class="text-cancel">편집</div>
                </button>



                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-title">
                                <div class="textarea">
                                    <div class="text-wrapper">소속 반 수정</div>
                                </div>
                                <a class="button-x" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="/images/common/x.png" alt=""/>
                                </a>
                            </div>

                            <div class="modalform">
                                <div class="row-input">
                                    <select class="selectoption-child selectClass" id="classSelect">
                                        <option class="text-wrapper-5" value="-1000">반 선택</option>
                                        <option class="text-wrapper-5" th:each="class:${classList}" th:object="${class}"
                                                th:value="${class.classNo}" th:text="${class.className}">반이름</option>
                                    </select>

                                    <div class="noList" id="noClass">
                                        <div class="icon">
                                            <img src="/images/common/!.jpg" alt=""/>
                                        </div>
                                        <div class="defaulttext">반을 선택해주세요.</div>
                                    </div>
                                    <div class="text-addable" id="selectAllClass">
<!--                                        <div class="noList">-->
<!--                                            <div class="icon">-->
<!--                                                <img src="/images/common/!.jpg" alt=""/>-->
<!--                                            </div>-->
<!--                                            <div class="defaulttext">해당 반에 학생이 없습니다.</div>-->
<!--                                        </div>-->

                                        <div class="modal-div-2">
                                            <input type="checkbox" class="form-check-input class_checkbox" id="checkAll">
                                            <div class="text-wrapper-2" for="checkAll">반 전체 선택</div>
                                        </div>
                                    </div>

                                    <div class="form-check carousel">

                                        <label class="modal-child" th:each="kid, iterStat : ${kidDtoList}" th:object="${kid}" th:for="'kid' + ${iterStat.index}">
                                            <input class="form-check-input class_checkbox" type="checkbox" name="classCheckedCb"
                                                   th:value="${kid.id}" th:id="'kid' + ${iterStat.index}"
                                                   th:data-member-name="*{name}" th:data-kid-name="*{kidName}" th:data-kid-no="*{kidNo}">
                                            <div class="profile">
                                                <img src="/images/common/default-yellow.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-10" th:text="*{kidName}">원아명</div>
                                                <div class="text-wrapper-10-1" th:text="'(보호자 : ' + *{name} + ')'">보호자명</div>
                                            </div>
                                        </label>

                                    </div>
                                </div>
                                <div class="buttonarea">
                                    <button class="btn btn-ab button-send" id="setIdList" data-bs-dismiss="modal">적용</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->


            </div>
            <div class="inputarea">
                <div class="div-2">
                    <div class="div-classname">
                        <th:block th:if="${selectedClassNo == null}">
                            <div class="noList">
                                <div class="icon">
                                    <img src="/images/common/!.jpg" alt=""/>
                                </div>
                                <div class="defaulttext">'편집'을 눌러 청구 대상을 추가해주세요.</div>
                            </div>
                        </th:block>

                        <th:block th:if="${selectedClassNo != null}">
                            <th:block th:if="${selectedKidList.size() == 0}">
                                <div class="noList">
                                    <div class="icon">
                                        <img src="/images/common/!.jpg" alt=""/>
                                    </div>
                                    <div class="defaulttext">'편집'을 눌러 청구 대상을 추가해주세요.</div>
                                </div>
                            </th:block>

                            <th:block th:if="${selectedKidList.size() != 0}">
                                <div class="text-wrapper-8 selectedClassName" th:value="${selectedClassNo}"
                                     th:text="${selectedClassName != null ? selectedClassName : '대상'}"></div>
                                <div class="n">
                                    <div class="text-wrapper-9"
                                         th:text="${selectedKidList != null ? selectedKidList.size() : 0} + '명'"></div>
                                </div>
                            </th:block>

                        </th:block>

                    </div>
                    <div class="selectedchild">
                        <div class="child" th:each="kid: ${selectedKidList}" th:object="${kid}" th:id="${kid.id}">
                            <div class="profile">
                                <img src="/images/common/default-yellow.png" alt=""/>
                            </div>
                            <div class="textarea">
                                <div class="text-wrapper-10 kidNameBox" th:id="${kid.kidNo}" th:text="${kid.kidName}">원아명</div>
                                <div class="text-wrapper-10-1 parentNameBox" th:data-parent-name="${kid.memberName}" th:text="'(보호자 : ' + ${kid.memberName} + ')'">학부모</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="title-4">
                <div class="text-wrapper-8">청구 항목</div>
<!--                <p class="detail">자주 쓰는 청구 항목은 ‘청구 항목 관리’에서 추가할 수 있습니다.</p>-->
            </div>
            <div class="inputarea-2">
                <div class="div-6">
                    <div class="text-wrapper-11">항목</div>
                    <input type="text" class="selectoption" id="paymentTitle" placeholder="항목 입력">
                </div>
                <div class="div-6">
                    <div class="text-wrapper-11">금액(원)</div>
                    <div class="input-charge">
                        <input type="text" class="inputtext" id="payment_price" placeholder="-">
                        <div class="text-wrapper-13">원</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="title-4">
                <div class="text-wrapper-8">할인 대상</div>
                <p class="detail">청구 대상과 항목을 모두 작성하신 후 할인 대상을 조회할 수 있습니다.</p>
            </div>
            <div class="div-8">
                <div class="div-9">
                    <div class="inputarea-3">
                        <div class="inputarea-2-1">

                            <div class="div-6">
                                <div class="text-wrapper-11">대상</div>
                                <select class="selectoption-child discountForSelectedKids">
                                    <option class="selectedchild-2">원아 선택</option>
                                    <option class="selectedchild-2" th:each="kid: ${selectedKidList}" th:object="${kid}"
                                            th:id="${kid.id}" th:data-kid-no="${kid.kidNo}" th:text="${kid.kidName}">김원아</option>
                                </select>
                            </div>
                            <div class="div-6">
                                <div class="text-wrapper-11">할인</div>
                                <div class="input-charge">
                                    <input type="text" class="inputtext" id="discount_rate" placeholder="-">
                                    <div class="text-wrapper-13">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button-cancel" id="add_discount">
                        <div class="text-cancel">+ 할인 추가</div>
                    </button>
                </div>
                <div class="div-11" id="discountList">
                    <th:block th:if="${discountList == null}">
                        <div class="noList">
                            <div class="icon">
                                <img src="/images/common/!.jpg" alt=""/>
                            </div>
                            <div class="detail">'할인'을 눌러 할인 대상을 추가해주세요.</div>
                        </div>
                    </th:block>
                    <th:block th:if="${discountList != null}">

                        <th:block th:if="${discountList.size() == 0}">

                        </th:block>

                        <th:block th:if="${discountList != null}">
                            <div class="div-12 discountElement" th:each="discountElement : ${discountList}" th:object="${discountElement}"
                                 th:data-discount-rate="*{discountRate}" th:data-kid-no="*{kidNo}" >
                                <div class="title">
                                    <div class="div-5">
                                        <div class="profile">
                                            <img src="/images/common/default-yellow.png" alt=""/>
                                        </div>
                                        <div class="textarea">
                                            <div class="text-wrapper-15" id="discount_kid"
                                                 th:data-kid-no="*{kidNo}" th:data-member-id="*{id}" th:text="*{kidName}">원아명</div>
                                        </div>
                                    </div>
                                    <a class="button-x">
                                        <img src="/images/common/x.png" alt=""/>
                                    </a>
                                </div>
                                <div class="charge">
                                    <div class="div-13">
                                        <div class="text-wrapper-17">청구 금액</div>
                                        <div class="div-14">
                                            <div class="text-wrapper-16 originalPrice"></div>
                                            <div class="text-wrapper-16">원</div>
                                        </div>
                                    </div>
                                    <img class="img-2" src="/images/common/minus.png" />
                                    <div class="div-13">
                                        <div class="text-wrapper-17">할인</div>
                                        <div class="div-14">
                                            <div class="text-wrapper-16" id="discounted_rate" th:text="*{discountRate} + '%'">할인율</div>
                                        </div>
                                    </div>
                                    <img class="icon-equal" src="/images/common/equal.png" />
                                    <div class="text-finalcharge">
                                        <div class="text-wrapper-18">총 청구 금액</div>
                                        <div class="div-14">
                                            <div class="text-wrapper-19 discountedPrice"></div>
                                            <div class="text-wrapper-19">원</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </th:block>

                    </th:block>

                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="title-4">
                <div class="text-wrapper-8">청구 메모</div>
                <p class="p">
                    <span class="span">청구 대상과 항목을 모두 선택하신 후 메모 작성이 가능합니다.</span>
                    <span class="text-wrapper-20">다.</span>
                </p>
            </div>
            <div class="div-8">
                <div class="inputarea-4">
                    <div class="div-9">
                        <div class="div-6">
                            <div class="text-wrapper-11">대상</div>
                            <select class="selectoption-child memoForSelectedKids">
                                <option class="selectedchild-2">원아 선택</option>
                                <option class="selectedchild-2" th:each="kid: ${selectedKidList}" th:object="${kid}"
                                        th:id="${kid.id}" th:data-kid-no="${kid.kidNo}" th:text="${kid.kidName}">김원아</option>
                            </select>
                        </div>
                        <button class="button-cancel" id="add_memo">+ 메모 추가</button>
                    </div>
                    <div class="input-memo">
                        <textarea class="memo-textarea" id="memo-textarea"
                                  onkeyup="autoResize(this), chkword(this, 300)" onkeydown="autoResize(this)"
                                  placeholder="메모를 작성해 주세요."></textarea>
                        <div class="grammar">
                            <div class="textcnt" id="textcnt">( 0 / 300 )</div>
                        </div>
                    </div>
                    <div class="div-11" id="memoList">
                        <th:block th:if="${memoList == null}">
                            <div class="noList">
                                <div class="icon">
                                    <img src="/images/common/!.jpg" alt=""/>
                                </div>
                                <div class="detail">'메모 추가'을 눌러 대상을 추가해주세요.</div>
                            </div>
                        </th:block>
                        <th:block th:if="${memoList != null}">

                            <th:block th:if="${memoList.size() == 0}">

                            </th:block>

                            <th:block th:if="${memoList != null}">
                                <div class="div-12 memoElement" th:each="memoElement : ${memoList}" th:object="${memoElement}"
                                     th:data-kid-no="*{kidNo}" th:data-payment-memo="*{paymentMemo}">
                                    <div class="title">
                                        <div class="div-5">
                                            <div class="profile">
                                                <img src="/images/common/default-yellow.png" alt=""/>
                                            </div>
                                            <div class="textarea">
                                                <div class="text-wrapper-15" id="memo_kid"
                                                     th:data-kid-no="*{kidNo}" th:data-member-id="*{id}" th:text="*{kidName}">원아명</div>
                                            </div>
                                        </div>
                                        <a class="button-x">
                                            <img src="/images/common/x.png" alt=""/>
                                        </a>
                                    </div>
                                    <p class="memo" th:text="*{paymentMemo}">메모내용</p>
                                </div>
                            </th:block>

                        </th:block>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="div-3">-->
<!--            <div class="title-4">-->
<!--                <div class="text-wrapper-8">예약 발송</div>-->
<!--                <p class="p">-->
<!--                <span class="span">예약 발송 활성화 시 만료일이 초기화되며, 예약발송 설정 후 만료일 설정이 가능합니다.</span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="inputarea-5">-->
<!--                <div class="form-check form-switch">-->
<!--                    <input class="form-check-input" type="checkbox" role="switch" id="notepad" checked>-->
<!--                    <label class="form-check-label" for="notepad"></label>-->
<!--                </div>-->
<!--                <div class="inputarea-6">-->
<!--                    <div class="div-6">-->
<!--                        <div class="text-wrapper-11">예약일</div>-->
<!--                        <div class="calendar-pick">-->
<!--                            <img class="calendar-vector" src="/images/common/calendar_gray.png" />-->
<!--                            <input type="text" class="datepickerdiv datepicker" placeholder="날짜 선택" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="div-6">-->
<!--                        <div class="text-wrapper-11">예약시간</div>-->
<!--                        <div class="calendar-pick">-->
<!--                            <img class="img-6" src="/images/common/clock.png" />-->
<!--                            <input type="text" class="datepickerdiv datepicker" placeholder="시간 선택" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="div-3">
            <div class="title-5">
                <div class="text-wrapper-8">청구서 만료일</div>
                <p class="detail-2">
                <span class="span"
                >청구서의 만료일은 발송일로부터 최대 14일 이내로 설정할 수 있습니다. 만료일 이후에는 청구서 상태가
                  &#39;기간만료&#39;로 표시됩니다.</span
                >
                    <span class="text-wrapper-20">만료일은 청구일로부터 최대 1년까지 설정할 수 있습니다.</span>
                </p>
            </div>
            <div class="inputarea-2">
                <div class="div-6">
                    <div class="text-wrapper-11">날짜</div>
                    <div class="calendar-pick">
                        <img class="calendar-vector" src="/images/common/calendar_gray.png" />
                        <input type="text" class="datepickerdiv datepicker" placeholder="날짜 선택" readonly>
                    </div>
                </div>
                <div class="div-6">
                    <div class="text-wrapper-11">시간</div>
                    <div class="calendar-pick">
                        <img class="img-6" src="/images/common/clock.png" />
                        <input type="text" class="datepickerdiv timepicker" placeholder="시간 선택" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification">
            <div class="notification-2">발송 전 확인해주세요.</div>
            <p class="detail-3">
                청구서는 키즈노트 URL로 발송되며, 알림 또는 내소식에서 확인 후 납부하실 수 있습니다.<br />학부모님께서
                미납 시 청구서 만료 3일 전 키즈노트 알림으로 한번 더 안내됩니다.
            </p>
        </div>
    </div>

</div>
</html>