<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">TEST</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="/css/setting/menu.css" /></th:block>

<th:block layout:fragment="javascript">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/setting/setting.js"></script>
</th:block>

<div class="container main_container" layout:fragment="content">
    <form action="">
        <div class="setting">
            <div class="menu">
                <div class="frame">
                    <div class="text-wrapper">원 등록하기</div>
                    <div class="element-secondary-button-wrapper">
                        <a href="/main/admin" class="element-secondary-button2">목록</a>
                        <input type="submit" class="element-secondary-button" value="저장">
                    </div>
                </div>
                <div class="frame-a">
                    <table class="table">
                        <tr>
                            <th>원 우편번호</th>
                            <td>
                                <input type="button" onclick="sample6_execDaumPostcode()" class="button" value="우편번호 찾기">
                                <input type="text" id="sample6_postcode" placeholder="우편번호" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>원 주소</th>
                            <td>
                                <input type="text" id="sample6_address" placeholder="주소" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>원 상세 주소</th>
                            <td>
                                <input type="text" id="sample6_detailAddress" placeholder="상세주소">
                            </td>
                        </tr>
                        <tr>
                            <th>원 이름</th>
                            <td><input type="text" class="kinder" id="kinderName" placeholder="원 이름을 입력해주세요"></td>
                        </tr>
                        <tr>
                            <th>원 전화번호</th>
                            <td>
                                <select name="phone1" class="location">
                                    <option value="02">02 </option> <!-- 서울 -->
                                    <option value="031">031 </option> <!-- 경기 -->
                                    <option value="032">032 </option> <!-- 인천 -->
                                    <option value="033">033 </option> <!-- 강원 -->
                                    <option value="041">041 </option> <!-- 충남 -->
                                    <option value="042">042 </option> <!-- 대전 -->
                                    <option value="043">043 </option> <!-- 충북 -->
                                    <option value="051">051 </option> <!-- 부산 -->
                                    <option value="052">052 </option> <!-- 울산 -->
                                    <option value="053">053 </option> <!-- 대구 -->
                                    <option value="054">054 </option> <!-- 경북 -->
                                    <option value="055">055 </option> <!-- 경남 -->
                                    <option value="061">061 </option> <!-- 전남 -->
                                    <option value="062">062 </option> <!-- 광주 -->
                                    <option value="063">063 </option> <!-- 전북 -->
                                    <option value="064">064 </option> <!-- 제주 -->
                                </select>
                                <span class="hypen">-</span>
                                <input type="text" class="no" name="no1" id="no1">
                                <span class="hypen">-</span>
                                <input type="text" class="no" name="no2" id="no2">
                            </td>
                        </tr>
                        <tr>
                            <th>원장님 이름</th>
                            <td th:text="${loginInfo.getName()}">홍길동<br>
                                <span class="notice">원장님 이름은 원장님 계정이 실명입니다. 변경을 원하실 경우, 원장님 계정의 '내정보 설정'에서 변경해주세요.</span>
                            </td>
                        </tr>

                        <tr>
                            <th>등원 시간</th>
                            <td>
                                <input id="open" type="text" class="kinder">
                            </td>
                        </tr>
                        <tr>
                            <th>하원 시간</th>
                            <td>
                                <input id="close" type="text" class="kinder">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>