<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">유치원 등록</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="/css/setting/menu.css" /></th:block>

<th:block layout:fragment="javascript">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/setting/setting.js"></script>
    <script src="/js/setting/sggSido.js"></script>
</th:block>

<div class="container main_container" layout:fragment="content">
    <form action="">
        <div class="setting">
            <div class="menu">
                <div class="frame">
                    <div class="text-wrapper">원 등록하기</div>
                    <div class="element-secondary-button-wrapper">
                        <a href="/main/admin" class="element-secondary-button2">목록</a>
                        <input type="submit" class="element-secondary-button" value="저장">
                    </div>
                </div>
                <div class="frame-a">
                    <table class="table">
                        <tr>
                            <th>시도 </th>
                            <td class="selectBox">
                                    <span class="sido">
                                        <select id="sidoSelect">
                                            <option value="">시/도</option>
                                        </select>
                                    </span>
                                    <span class="sgg">
                                        <select id="sggSelect">
                                            <option value="">시/군/구</option>
                                        </select>
                                    </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>