<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">scheduleMain</title>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/common/SMJCommonContainer.css}" />
  <link rel="stylesheet" th:href="@{/common/SMJCommonHover.css}" />
  <link rel="stylesheet" th:href="@{/schedule/globals.css}" />
  <link rel="stylesheet" th:href="@{/schedule/scheduleMain.css}" />
  <link rel="stylesheet" th:href="@{/schedule/scheduleMainGuide.css}" />
  <link rel="stylesheet" th:href="@{/schedule/scheduleModal.css}" />
  <link rel="stylesheet" th:href="@{/schedule/scheduleModalguide.css}" />

  <!-- FullCalendar and related modules -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="javascript">
  <script src="/schedule/scheduleMain.js"></script>

  <!-- FullCalendar and related modules -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.11/index.global.min.js"></script>
</th:block>

<div class="container main_container" layout:fragment="content">


  <div class="title"><div class="text-wrapper-4">일정표</div></div>
  <div class="buttons">
    <div class="searchoptions">
      <select class="dropdown-class">
        <option class="text-wrapper-5" value="">반 선택</option>
        <option class="text-wrapper-5" value="">1반</option>
        <option class="text-wrapper-5" value="">2반</option>
        <option class="text-wrapper-5" value="">3반</option>
        <option class="text-wrapper-5" value="">4반</option>
      </select>

      <select class="dropdown-class">
        <option class="text-wrapper-5" value="">원아 선택</option>
        <option class="text-wrapper-5" value="">김원아</option>
        <option class="text-wrapper-5" value="">박원아</option>
        <option class="text-wrapper-5" value="">이원아</option>
        <option class="text-wrapper-5" value="">최원아</option>
      </select>

      <div class="div-2">
        <img class="search" src="/schedule/img/search.png" />
        <input type="text" class="text-wrapper-5" placeholder="검색어 입력"></input>
      </div>

      <div class="buttonarea">
        <a class="button-send" >
          <div class="text-wrapper-6">조회하기</div>
        </a>
        <a class="view" th:href="@{/schedule/admin/scheduleMain}" th:method="get">
          <img class="img-3" src="/schedule/img/reset.png" />
          <div class="text-wrapper-7">초기화</div>
        </a>
      </div>
    </div>
    <a class="button-modify" th:href="@{/schedule/admin/scheduleWrite}" th:method="get">
      <img class="icon-pencil" src="/schedule/img/pencil.png" />
      <div class="text-modify">일정 추가</div>
    </a>
  </div>



  <input type="radio" class="btn-check" name="testRd" id="testRd1" value="1" autocomplete="off" checked>
  <label class="btn btn-outline-ab text-wrapper-6 view-1" for="testRd1">radio button</label>

  <div>
    <div class="testdiv" id="1">test1</div>
    <div class="testdiv" id="Mon Jul 15 2024 09:00:00 GMT+0900 (한국 표준시)">test15</div>
    <div class="testdiv" id="Tue Jul 16 2024 09:00:00 GMT+0900 (한국 표준시)">test16</div>
    <div class="testdiv" id="Wed Jul 17 2024 09:00:00 GMT+0900 (한국 표준시)">test17</div>
  </div>

  <div class="cal-schedule">
    <div class="calendar">

      <div id='calendar'></div>

    </div>
    <div class="schedule">
      <div class="date-schedulecnt">
        <a  th:href="@{/schedule/admin/scheduleMain}" th:method="get">
          <img class="img-2" src="/schedule/img/left.png" />
        </a>
        <div class="text">
          <div class="day-2">
            <div class="div-3">
              <div class="text-wrapper-15">2024</div>
              <div class="text-wrapper-15">년</div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-15">06</div>
              <div class="text-wrapper-15">월</div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-15">24</div>
              <div class="text-wrapper-15">일</div>
            </div>
          </div>
          <div class="schedulecnt">
            <div class="text-wrapper-16">일정</div>
            <div class="div-3">
              <div class="text-wrapper-16">2</div>
              <div class="text-wrapper-16">개</div>
            </div>
          </div>
        </div>
        <a th:href="@{/schedule/admin/scheduleMain}" th:method="get">
          <img class="img-2" src="/schedule/img/right.png" />
        </a>
      </div>
      <div class="schedule-2">
        <div class="single-schedule">
          <div class="scheduled-class">
            <div class="ellipse"></div>
            <div class="text-wrapper-17">전체 반</div>
          </div>
          <div class="text-wrapper-18">학부모 심폐소생술 교육</div>
        </div>
        <div class="single-schedule">
          <div class="scheduled-class">
            <div class="ellipse-2"></div>
            <div class="text-wrapper-17">토마토반</div>
          </div>
          <div class="text-wrapper-18">여름 피크닉</div>
        </div>
      </div>
    </div>
  </div>











  <div class="cal-schedule">
    <div class="calendar">
      <div class="month-year-line">
        <img class="img-2" src="/schedule/img/left.png" />
        <div class="month-year">
          <div class="div-3">
            <div class="text-wrapper-9">2024</div>
            <div class="text-wrapper-9">년</div>
          </div>
          <div class="div-3">
            <div class="text-wrapper-9">06</div>
            <div class="text-wrapper-9">월</div>
          </div>
          <img class="vector" src="/schedule/img/calendar.png" />
        </div>
        <img class="img-2" src="/schedule/img/right.png" />
      </div>
      <div class="day-date">
        <div class="day-line">
          <div class="day"><div class="text-wrapper-10">일</div></div>
          <div class="day"><div class="text-wrapper-11">월</div></div>
          <div class="day"><div class="text-wrapper-11">화</div></div>
          <div class="day"><div class="text-wrapper-11">수</div></div>
          <div class="day"><div class="text-wrapper-11">목</div></div>
          <div class="day"><div class="text-wrapper-11">금</div></div>
          <div class="day"><div class="text-wrapper-12">토</div></div>
        </div>
        <div class="date-line">
          <div class="date-number-line">
            <div class="date"><div class="text-wrapper-13">26</div></div>
            <div class="date"><div class="text-wrapper-13">27</div></div>
            <div class="date"><div class="text-wrapper-13">28</div></div>
            <div class="date"><div class="text-wrapper-13">29</div></div>
            <div class="date"><div class="text-wrapper-13">30</div></div>
            <div class="date"><div class="text-wrapper-13">31</div></div>
            <div class="date"><div class="text-wrapper-14">1</div></div>
          </div>
          <div class="date-number-line-2">
            <div class="date"><div class="element">2</div></div>
            <div class="date"><div class="element-2">3</div></div>
            <div class="date"><div class="element-2">4</div></div>
            <div class="date"><div class="element-2">5</div></div>
            <div class="date"><div class="element-2">6</div></div>
            <div class="date"><div class="element-2">7</div></div>
            <div class="date"><div class="text-wrapper-14">8</div></div>
          </div>
          <div class="date-number-line-2">
            <div class="date"><div class="element">9</div></div>
            <div class="date"><div class="element-2">10</div></div>
            <div class="date"><div class="element-2">11</div></div>
            <div class="date"><div class="element-2">12</div></div>
            <div class="date"><div class="element-2">13</div></div>
            <div class="date"><div class="element-2">14</div></div>
            <div class="date"><div class="text-wrapper-14">15</div></div>
          </div>
          <div class="date-number-line-2">
            <div class="date"><div class="element">16</div></div>
            <div class="date"><div class="element-2">17</div></div>
            <div class="date"><div class="element-2">18</div></div>
            <div class="date"><div class="element-2">19</div></div>
            <div class="date"><div class="element-2">20</div></div>
            <div class="date"><div class="element-2">21</div></div>
            <div class="date"><div class="text-wrapper-14">22</div></div>
          </div>
          <div class="date-number-line-2">
            <div class="date"><div class="element">23</div></div>
            <div class="date"><div class="element-2">24</div></div>
            <div class="date"><div class="element-2">25</div></div>
            <div class="date"><div class="element-2">26</div></div>
            <div class="date"><div class="element-2">27</div></div>
            <div class="date"><div class="element-2">28</div></div>
            <div class="date"><div class="text-wrapper-14">29</div></div>
          </div>
          <div class="date-number-line-3">
            <div class="date"><div class="element">30</div></div>
            <div class="date"><div class="text-wrapper-13">1</div></div>
            <div class="date"><div class="text-wrapper-13">2</div></div>
            <div class="date"><div class="text-wrapper-13">3</div></div>
            <div class="date"><div class="text-wrapper-13">4</div></div>
            <div class="date"><div class="text-wrapper-13">5</div></div>
            <div class="date"><div class="text-wrapper-13">6</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="schedule">
      <div class="date-schedulecnt">
        <a  th:href="@{/schedule/admin/scheduleMain}" th:method="get">
          <img class="img-2" src="/schedule/img/left.png" />
        </a>
        <div class="text">
          <div class="day-2">
            <div class="div-3">
              <div class="text-wrapper-15">2024</div>
              <div class="text-wrapper-15">년</div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-15">06</div>
              <div class="text-wrapper-15">월</div>
            </div>
            <div class="div-3">
              <div class="text-wrapper-15">24</div>
              <div class="text-wrapper-15">일</div>
            </div>
          </div>
          <div class="schedulecnt">
            <div class="text-wrapper-16">일정</div>
            <div class="div-3">
              <div class="text-wrapper-16">2</div>
              <div class="text-wrapper-16">개</div>
            </div>
          </div>
        </div>
        <a th:href="@{/schedule/admin/scheduleMain}" th:method="get">
          <img class="img-2" src="/schedule/img/right.png" />
        </a>
      </div>
      <div class="schedule-2">
        <div class="single-schedule">
          <div class="scheduled-class">
            <div class="ellipse"></div>
            <div class="text-wrapper-17">전체 반</div>
          </div>
          <div class="text-wrapper-18">학부모 심폐소생술 교육</div>
        </div>
        <div class="single-schedule">
          <div class="scheduled-class">
            <div class="ellipse-2"></div>
            <div class="text-wrapper-17">토마토반</div>
          </div>
          <div class="text-wrapper-18">여름 피크닉</div>
        </div>
      </div>
    </div>
  </div>


</div>
</html>