<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/member/signIn.css}" />
    <link rel="stylesheet" th:href="@{/css/member/signInGuide.css}" />

    <link href="/vendor/sweetalert2-11.12.3-dist/sweetalert2.min.css" rel="stylesheet">
    <script src="/vendor/sweetalert2-11.12.3-dist/sweetalert2.all.min.js"></script>

    <title>LoginPage</title>
</head>
<body>
<!--<div class="member-page">-->
<div class="login-page">
    <div class="div">
        <div class="overlap">
            <div class="group">
                <div class="overlap-group">
                    <div class="group-2">
                    </div>

                        <form action="/login" method="post">
                            <div class="group-4">

                                <div class="text-wrapper-3" >이메일</div>
                                <!-- <div class="username-or-email-wrapper"><div class="text-wrapper-4">email address</div></div> -->
                                <input class="username-or-email-wrapper" name="username" id="email-input" type="email"  required style="padding: 0px 10px; width: 430px; height: 50px;" ></input>
                            </div>


                            <div class="overlap-wrapper">
                                <!-- <div class="overlap-2"><div class="text-wrapper-6">Sign in</div></div> -->
                                <input class="overlap-2 text-wrapper-1" type="submit" value="로그인">
                            </div>


                    <div class="group-5">
                        <div class="text-wrapper-3">비밀번호</div>
                        <input type="password" class="div-wrapper" name="password" id="password-input" style="padding: 0px 10px; width: 430px; height: 50px;">
                    </div>
                    </form>

                    <div th:if="${param.error}">
                        <script>
                            Swal.fire({
                                icon: 'error',
                                title: '로그인 실패',
                                text: '존재하지 않는 아이디입니다.',
                                confirmButtonText: '확인'
                            });
                        </script>
                    </div>


                </div>
            </div>
            <div class="text-wrapper-7">로그인</div>


            <div class="group-wrapper">
<!--                <button class="login-button" id="naver-logo" onclick="location.href='http://localhost:8080/oauth2/authorization/naver'">-->
                <button class="login-button" id="naver-logo" onclick="location.href='http://ec2-3-36-124-157.ap-northeast-2.compute.amazonaws.com:8080/oauth2/authorization/naver'">
                    <img src="/images/member/logo_naver.png" alt="Naver Login"> 네이버 로그인
                </button>
<!--                <button class="login-button" id="google-logo" onclick="location.href='http://localhost:8080/oauth2/authorization/google'">-->
                <button class="login-button" id="google-logo" onclick="location.href='http://ec2-3-36-124-157.ap-northeast-2.compute.amazonaws.com:8080/oauth2/authorization/google'">
                    <img src="/images/member/logo_google.png"  alt="Google Login"> 구글 로그인
                </button>
            </div>


        </div>
        <div class="logo h_class_78">
            <div class="h_class_79"><a th:href="@{/main/admin}" style="text-decoration: none; color: inherit; font-family: 'Noto Sans KR', sans-serif;'">aibayo</a></div>
        </div>


        <a th:href="@{/member/signUp}" class="text-wrapper-2">회원가입</a>
        <a th:href="@{/member/signInFindPw}" class="text-wrapper-5">비밀번호 초기화</a>

    </div>
</div>

<script>
    document.getElementById('email-input').addEventListener('keydown', function(event) {
        if (event.key === 'Tab') {
            event.preventDefault();
            document.getElementById('password-input').focus();
        }
    });
</script>
</body>
</html>