<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/member/signUpKid.css}" />
    <link rel="stylesheet" th:href="@{/css/member/signInGuide.css}" />
<!--    <script th:src="@{/js/jquery.min.js}"></script> &lt;!&ndash; jQuery 추가 &ndash;&gt;-->
<!--    <script th:src="@{/js/login/signUpKid.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/common.js"></script>
    <script>
        function toggleClassField() {
            const kindergartenSelect = document.getElementById('kindergarten-input');
            const classSelect = document.getElementById('class-input');

            $('#class-input').find('.class_append').each(function () {
                $(this).remove();
            });

            if (kindergartenSelect.value === "") {
                classSelect.disabled = true;
                $('#name-input').prop('disabled', true); // 원생 선택 비활성화
            } else {
                classSelect.disabled = false;

                let kinderNo = $('#kindergarten-input').val();

                let url = '/member/classList';

                let param = { kinderNo: kinderNo };

                commonAjax(url, 'POST', param);
            }
        }

        function toggleStudentField() {
            const classSelect = document.getElementById('class-input');
            const studentSelect = document.getElementById('name-input');

            $('#name-input').find('.student_append').each(function () {
                $(this).remove();
            });

            if (classSelect.value === "") {
                studentSelect.disabled = true;
            } else {
                studentSelect.disabled = false;
                let kinderNo = $('#kindergarten-input').val();

                let classNo = $('#class-input').val();

                let url = '/member/kidList';

                let param = { classNo: classNo, kinderNo: kinderNo };

                commonAjax(url, 'POST', param);
            }
        }

        function afterSuccess(response, type) {
            // console.log(`response: ${JSON.stringify(response)}`);
            if ('assignedCntOrAcceptNo' in response[0]) {
                for (let selectClass of response) {
                    let tag =
                        `<option value="${selectClass.classNo}" class="class_append">
                    ${selectClass.className}
                </option>`;
                    $('#class-input').append(tag);
                }
            } else if ('parentKidAcceptNo' in response[0]) {
                for (let student of response) {
                    let tag =
                        `<option value="${student.kidNo}" class="student_append">
                    ${student.kidName}
                </option>`;
                    $('#name-input').append(tag);
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            const kindergartenSelect = document.getElementById('kindergarten-input');
            const classSelect = document.getElementById('class-input');
            const studentSelect = document.getElementById('name-input');

            // Initialize selects as disabled
            classSelect.disabled = true;
            studentSelect.disabled = true;

            // Add event listeners
            kindergartenSelect.addEventListener('change', toggleClassField);
            classSelect.addEventListener('change', toggleStudentField);
        });

    </script>
</head>
<body>
<div class="screen">
    <div class="div">
        <div class="overlap">
            <div class="group">
                <div class="overlap-group">
                    <div class="text-wrapper-2">원아등록</div>

                    <form id="signUpKidForm">
                        <input type="hidden" name="username" th:value="${member.username}" id="username">
                        <input type="hidden" name="password" th:value="${member.password}" id="password">
                        <input type="hidden" name="phone" th:value="${member.phone}" id="phone">
                        <input type="hidden" name="name" th:value="${member.name}" id="name">
                        <input type="hidden" name="role" th:value="${member.role}" id="role">
                        <input type="hidden" name="invite" th:value="${member.invite}" id="invite">

                        <div class="group-2">
                            <div class="group-3">
                                <label for="birth-input" style="font-size: small">원아 생일
                                    <input type="date" class="overlap-group-5" name="kidBirth" id="birth-input" max="2024-12-31" min="2000-01-01" value="2024-01-01">
                                </label>
                            </div>

                            <div class="group-4">
                                <label for="gender-input" style="font-size: small">원아 성별</label>
                                <select class="overlap-group-3" name="kidGender" id="gender-input">
                                    <option value="">성별을 선택하세요</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Non-Binary</option>
                                </select>
                            </div>
                            <div class="group-6">
                                <div class="group-7">
                                    <div class="overlap-group-4">
                                        <label for="name-input" style="font-size: small">원아 이름</label>
                                        <select id="name-input" name="kidName">
                                            <option value="">이름을 선택하세요</option>
<!--                                            <option value="kim">kim</option>-->
<!--                                            <option value="yun">yun</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="group-8">
                                    <div class="overlap-group-6">
                                        <label for="relationship-input" style="font-size: small">원아와의 관계</label>
                                        <select id="relationship-input" name="relationship">
                                            <option value="">관계를 선택하세요</option>
                                            <option value="father">father</option>
                                            <option value="mother">mother</option>
                                            <option value="grandparents">grandparents</option>
                                            <option value="uncle">uncle</option>
                                            <option value="aunt">aunt</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="group-5">
                                <div class="group-9">
                                    <label for="kindergarten-input" style="font-size: small">소속 유치원</label>
                                    <select id="kindergarten-input" name="kinderNo">
                                        <option value="" >유치원을 선택하세요</option>
                                        <option th:each="kinder : ${kinders}"
                                                th:value="${kinder.kinderNo}" th:text="${kinder.kinderName}">유치원 명</option>
                                    </select>
                                </div>
                                <div class="group-10">
                                    <label for="class-input" style="font-size: small">소속 반</label>
                                    <select id="class-input" name="classNo">
                                        <option value="">반을 선택하세요</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="overlap-group-wrapper">
                            <button type="button" class="overlap-group-2" onclick="submitForm()">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="logo h_class_78">
            <div class="h_class_79"><a th:href="@{/main/admin}" style="text-decoration: none; color: inherit; font-family: 'Noto Sans KR', sans-serif;">aibayo</a></div>        </div>
    </div>
</div>
</body>
</html>
