<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">teacherMain</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/teacher/teacherProfile.css}" />
    <link rel="stylesheet" th:href="@{/css/teacher/teacherModal.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
</th:block>

<th:block layout:fragment="javascript">
    <script src="/js/teacher/teacherMain.js"></script>
</th:block>

<div class="container main_container" layout:fragment="content">
    <div class="title-flow2">
        <a class="icon-back" th:href="@{/admin/teacherMain}">
            <img src="/images/common/back.png" alt=""/>
        </a>
        <div class="div-wrapper"><div class="text-wrapper-title">교사 정보</div></div>
    </div>
    <div class="profile">
        <div class="blank"></div>
        <div class="div-profile">
            <div class="img-2">
                <img src="/images/common/teacher.png" alt=""/>
            </div>
            <div class="id"><div class="text-wrapper-5">김가나</div></div>
        </div>
        <a class="btn btn-ab button-approve" data-bs-toggle="modal" data-bs-target="#staticBackdrop">승인</a>
    </div>
    <div class="info">
        <div class="div-1">
            <div class="div-wrapper-2"><div class="text-wrapper-7">휴대폰 번호</div></div>
            <div class="inputarea"><div class="text-wrapper-8">01012345678</div></div>
        </div>
        <div class="div-1">
            <div class="div-wrapper-2"><div class="text-wrapper-7">이메일</div></div>
            <div class="inputarea"><div class="text-wrapper-8">teacher1@aibayo.co.kr</div></div>
        </div>

        <div class="div-3">
            <div class="div-wrapper-2"><div class="text-wrapper-7">가입일자</div></div>
            <div class="inputarea">
                <div class="text-wrapper-8">2024.06.28</div>
            </div>
        </div>
    </div>
</div>
</html>