<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">teacherMain</title>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/globals.css}" />
  <link rel="stylesheet" th:href="@{/css/teacher/teacherMain.css}" />
  <link rel="stylesheet" th:href="@{/css/teacher/teacherModal.css}" />
</th:block>

<th:block layout:fragment="javascript">
  <script src="/js/teacher/teacherMain.js"></script>
</th:block>

<div class="container main_container" layout:fragment="content">
  <div class="title">
    <div class="text-wrapper-4">교사 관리</div>
    <a class="btn btn-ab button-invite" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <btn class="text-wrapper-5">초대하기</btn>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="title">
            <div class="textarea-wrapper">
              <div class="textarea">
                <div class="text-wrapper">선생님 초대하기</div>
              </div>
            </div>
              <button class="button-x" href="" data-bs-dismiss="modal" aria-label="Close">
                <img src="/images/common/x.png" alt=""/>
              </button>
          </div>
          <form class="modalform" th:action="@{/admin/mainDone}" th:method="post">
            <div class="row-input">
              <div class="div">
                <div class="div-2">
                  <img class="icon" src="/images/common/default-yellow.png" />
                  <div class="text-wrapper-2">선생님 이름</div>
                </div>
                <input type="text" class="form-control" placeholder="초대할 교사의 이름을 입력해주세요.">
              </div>
              <div class="div">
                <div class="div-2">
                  <img class="icon" src="/images/common/default-yellow.png" />
                  <div class="text-wrapper-2">선생님 Email</div>
                </div>
                <input type="text" class="form-control" placeholder="초대할 교사의 Email을 입력해주세요.">
              </div>
            </div>
            <div class="buttonarea">
              <input type="submit" class="btn btn-ab button-send" value="인증번호 발송" data-bs-dismiss="modal">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal end -->
  </div>

<!--  radio  -->
    <div class="tab-status btn-group" role="group">
      <input type="radio" class="btn-check" name="teacherStatusRd" id="teacherStatus1" value="1" autocomplete="off" checked>
      <label class="btn btn-outline-ab text-wrapper-6 view-1" for="teacherStatus1" th:text="|승인 완료 ${acceptedTeacherList.size()}명|"></label>

      <input type="radio" class="btn-check" name="teacherStatusRd" id="teacherStatus0" value="0" autocomplete="off">
      <label class="btn btn-outline-ab text-wrapper-6 view-1" for="teacherStatus0" th:text="|승인 대기 ${waitingTeacherList.size()} 명|"></label>

      <input type="radio" class="btn-check" name="teacherStatusRd" id="teacherStatus2" value="2" autocomplete="off">
      <label class="btn btn-outline-ab text-wrapper-6 view-1" for="teacherStatus2" th:text="|초대 중 ${invitedTeacherList.size()} 명|"></label>
    </div>

<!--  승인 완료된 교사  -->
    <div class="row-selected-teacher" id="teacherStatus1Div">
      <div class="text-selected-num">
        <div class="select-textarea">
          <div class="icon">
            <img src="/images/common/default-yellow.png" alt=""/>
          </div>
          <div class="textarea">
            <div class="text-wrapper-10">승인 완료된 교사</div>
            <div class="n-wrapper">
              <div class="n-2" th:text="${acceptedTeacherList.size()}">n</div>
            </div>
            <div class="text-wrapper-10">명</div>
          </div>
        </div>
        <select class="dropdown-class">
          <option value="반 선택">반 선택</option>
          <option value="1반">1반</option>
          <option value="2반">2반</option>
          <option value="3반">3반</option>
          <option value="4반">4반</option>
        </select>
      </div>
      <div class="carousel" >

        <div class="profile" th:each="teacher:${acceptedTeacherList}" th:object="${teacher}">
          <a class="img-2" th:href="@{|/teacherAccept/*{id}|}">
            <th:block th:if="${teacher.profilePicture != null}">
              <img th:src="*{profilePicture}" alt="">
            </th:block>
            <th:block th:unless="${teacher.profilePicture != null}">
              <img src="/images/common/default.png" alt="">
            </th:block>
          </a>
          <div class="id">
            <div class="text-wrapper-11" th:title="*{name}" th:text="*{name}">교사명</div>
          </div>
        </div>
      </div>
    </div>

<!--  승인 대기 중인 교사  -->
    <div class="row-selected-teacher kids_list_box" id="teacherStatus0Div">
      <div class="select-textarea">
        <div class="icon">
          <img src="/images/common/default-yellow.png" alt=""/>
        </div>
        <div class="textarea">
          <div class="text-wrapper-10">승인 대기 중인 교사</div>
          <div class="n-wrapper">
            <div class="n-2" th:text="${waitingTeacherList.size()}">n</div>
          </div>
          <div class="text-wrapper-10">명</div>
        </div>
      </div>
      <div class="carousel">
        <div class="profile" th:each="teacher:${waitingTeacherList}" th:object="${teacher}">
          <a class="img-2" th:href="@{|/teacher/*{id}|}">
            <th:block th:if="${teacher.profilePicture != null}">
              <img th:src="*{profilePicture}" alt="">
            </th:block>
            <th:block th:unless="${teacher.profilePicture != null}">
              <img src="/images/common/default.png" alt="">
            </th:block>
          </a>
          <div class="id">
            <div class="text-wrapper-11" th:title="*{name}" th:text="*{name}">교사명</div>
          </div>
          <a class="btn btn-ab button-approve">승인</a>
        </div>
      </div>
    </div>
        

<!--   초대 중인 교사   -->
    <div class="row-selected-teacher kids_list_box" id="teacherStatus2Div">
      <div class="select-textarea">
        <div class="icon">
          <img src="/images/common/default-yellow.png" alt=""/>
        </div>
        <div class="textarea">
          <div class="text-wrapper-10">초대 중인 교사</div>
          <div class="n-wrapper">
            <div class="n-2" th:text="${invitedTeacherList.size()}">n</div>
          </div>
          <div class="text-wrapper-10">명</div>
        </div>
      </div>
      <div class="carousel-container">
        <div class="carousel">
          <div class="profile" th:each="teacher:${invitedTeacherList}" th:object="${teacher}">
            <div class="img-2">
              <img src="/images/common/default.png" alt="">
            </div>
            <div class="id">
              <div class="text-wrapper-11" th:title="*{name}" th:text="*{name}">교사명</div>
            </div>
            <a class="btn button-cancel-mini">삭제</a>
          </div>
        </div>
      </div>
    </div>

</div>
</html>