<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">teacherProfileAccept</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/teacher/teacherProfile.css}" />
    <link rel="stylesheet" th:href="@{/css/teacher/teacherModal.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonContainerPlus.css}" />
    <link rel="stylesheet" th:href="@{/css/CommonHoverPlus.css}" />
</th:block>

<th:block layout:fragment="javascript">
    <script src="/js/teacher/teacherProfile.js"></script>
</th:block>

<div class="container main_container" layout:fragment="content">
    <div class="title-flow2">
        <a class="icon-back" th:href="@{/teacher/list}">
            <img src="/images/common/back.png" alt=""/>
        </a>
        <div class="div-wrapper"><div class="text-wrapper-title">교사 정보</div></div>
    </div>
    <div class="profile" th:object="${teacher}" th:id="*{id}">
        <div class="blank"></div>
        <div class="div-profile">
            <div class="img-2">
                <th:block th:if="${teacher.profilePicture != null}">
                    <img th:src="*{profilePicture}" alt="">
                </th:block>
                <th:block th:unless="${teacher.profilePicture != null}">
                    <img src="/images/common/default.png" alt="">
                </th:block>
            </div>
            <div class="id"><div class="text-wrapper-5" th:text="*{name}">선생님명</div></div>
        </div>
        <a class="btn button-cancel" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <div class="text-cancel">퇴사</div>
        </a>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-content-resign">
                    <div class="title">
                        <div class="textarea">
                            <div class="text-wrapper">퇴사 확인</div>
                        </div>
                        <button class="button-x" href="" data-bs-dismiss="modal" aria-label="Close">
                            <img src="/images/common/x.png" alt=""/>
                        </button>
                    </div>
                    <div class="modalform" th:action="@{/admin/teacherMain}" th:method="post" th:object="${teacher}">
                        <div th:text="*{name} + ' 선생님의 퇴사를 승인하시겠습니까?'"></div>
                        <div class="buttonarea">
                            <input type="reset" class="button-cancel" value="취소" data-bs-dismiss="modal">
                            <input type="submit" class="button-resign" value="퇴사" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->



        <!-- Modal 2nd -->
        <div class="modal fade" id="staticBackdrop2"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-content-resign">
                    <div class="title">
                        <div class="textarea"></div>
                        <button class="button-x" href="" data-bs-dismiss="modal" aria-label="Close">
                            <img src="/images/common/x.png" alt=""/>
                        </button>
                    </div>
                    <form class="modalform" th:action="@{/admin/teacherMain}" th:method="post">
                        <div>퇴사 처리가 완료되었습니다.</div>
                        <div class="buttonarea">
                            <input type="submit" class="button-cancel" value="확인" data-bs-dismiss="modal">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal 2nd end -->



    </div>
    <div class="info" th:object="${teacher}">
        <div class="div-1">
            <div class="div-wrapper-2"><div class="text-wrapper-7">휴대폰 번호</div></div>
            <div class="inputarea"><div class="text-wrapper-8" th:text="*{phone}">01012345678</div></div>
        </div>
        <div class="div-1">
            <div class="div-wrapper-2"><div class="text-wrapper-7">이메일</div></div>
            <div class="inputarea"><div class="text-wrapper-8" th:text="*{username}">teacher1@aibayo.co.kr</div></div>
        </div>
        <div class="div-1">
            <div class="select-class">
                <div class="title-class">
                    <div class="title-class-text">
                        <div class="text-wrapper-9">소속 반 정보</div>
                        <div class="n" th:object="${assignedClassList}">
                            <div class="text-wrapper-10" th:text="'(' + ${assignedClassList.size() + '개)'}">n</div>
                        </div>
                    </div>
                    <a class="btn btn-ab resign" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                        <div class="text-modify">소속 반 수정</div>
                    </a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop3"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="title">
                                <div class="textarea">
                                    <div class="text-wrapper">소속 반 수정</div>
                                </div>
                                <button class="button-x" href="" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="/images/common/x.png" alt=""/>
                                </button>
                            </div>
                            <div class="modalform">
                                <div class="row-input">
                                    <div class="text-addable">
                                        <div class="div-2">
                                            <img class="icon" src="/images/common/default-yellow.png" />
                                            <div class="text-wrapper-2" id="checkboxCount"></div>
                                        </div>
                                    </div>
                                    <div class="form-check carousel">
                                        <label class="class-selected classList" th:each="class:${classList}" th:object="${classList}" th:for="${class.classNo}" th:id="${class.classNo}">
                                            <div class="text-wrapper-3" th:text="${class.className}">반이름</div>
                                            <input class="form-check-input" type="checkbox" th:name="${class.classNo}" th:value="${class.className}" th:id="${class.classNo}" autocomplete="off" >
                                        </label>

                                        <div class="class-selected addableClassList" th:each="class:${addableClassList}" th:id="${class.classNo}" ></div>
                                        <div class="class-selected assignedClassList" th:each="class:${assignedClassList}" th:id="${class.classNo}" th:data-accept-no="${class.assignedCntOrAcceptNo}" ></div>
                                    </div>
                                    <div class="wrapper-notice">※ 배정된 교사가 최대인원(3명)에 도달한 반은 선택할 수 없습니다.</div>
                                </div>
                                <div class="buttonarea">
                                    <input type="button" class="btn btn-ab button-send" id="classModify" value="적용" data-bs-dismiss="modal">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->


            </div>
            <div class="selectedclasses">
                <div class="class" th:each="class:${assignedClassList}" th:object="${assignedClassList}">
                    <div class="text-class" th:id="${class.classNo}" th:text="${class.className}">반이름</div>
                </div>
            </div>
        </div>
        <div class="div-3">
            <div class="div-wrapper-2"><div class="text-wrapper-7">입사일</div></div>
            <div class="inputarea">
                <div class="text-wrapper-8" th:text="*{acceptRegDate}">2024.06.28</div>
            </div>
        </div>
    </div>
</div>
</html>