
.list {
    width: 100%;
    /*align-items: flex-start;*/
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.list .frame {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    /*width: 1280px;*/
}

.list .view {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
    width: 100%;
}

.list .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.list .div {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 0px 30px 0px 10px;
    position: relative;
    width: 100%;
    height: 68px;

}

.list .frame-2 {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.list .element-dropdown-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 10px 0px;
    position: relative;
}

.list .element-dropdown {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    height: 59px;
    padding: 0px;
    position: relative;
    width: 200px;
}

.list .label {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #828282;
    display: -webkit-box;
    flex: 1;
    font-family: var(--presets-body2-font-family);
    font-size: var(--presets-body2-font-size);
    font-style: var(--presets-body2-font-style);
    font-weight: var(--presets-body2-font-weight);
    letter-spacing: var(--presets-body2-letter-spacing);
    line-height: var(--presets-body2-line-height);
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    height: 90%;
    width: 90%;
    border: none;
    margin: 10px;
}

.list .chevron-down {
    height: 24px;
    position: relative;
    width: 24px;
}

.list .div-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.list .button-new-wrapper {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: flex-end;
    position: relative;

}

.list .button-new {
    background-color: #ffe668;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
    height: 59px;
    position: relative;
    width: 150px;
    border: none ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .text-wrapper-2 {
    color: #000000;
    font-family: var(--body-text-font-family);
    font-size: var(--body-text-font-size);
    font-style: var(--body-text-font-style);
    font-weight: var(--body-text-font-weight);
    height: 30px;
    left: 60px;
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    position: absolute;
    top: 14px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;


}

.list .card-list {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 20px;
    min-height: 1280px;
}

.list .card {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d3d4d4;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 420px;
    justify-content: center;
    overflow: hidden;
    padding: 0px 0px;
    position: relative;
    width: 332px;
    text-decoration-line: none;
}

.list .frame-3 {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    margin-right: -8px;
    position: relative;
    width: 100%;
}

.list .frame-wrapper {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 2px;
    position: relative;
}

.list .frame-4 {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 0px 10px;
    position: relative;
}

.list .frame-5 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
}

.list .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.list .avatar-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.list .avatar {
    background-color: #f7f7f7;
    border-radius: 1000px;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;
}

.list .rectangle {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 40px;
}

.list .frame-7 {
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 5px;
    position: relative;
}

.list .text-wrapper-3 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    /*font-family: var(--small-text-font-family);*/
    /*font-size: var(--small-text-font-size);*/
    /*font-style: var(--small-text-font-style);*/
    /*font-weight: var(--small-text-font-weight);*/
    /*letter-spacing: var(--small-text-letter-spacing);*/
    /*line-height: var(--small-text-line-height);*/
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    font-weight: bold;
    color: black;
}

.list .frame-8 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d3d4d4;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    border-bottom:0px ;

}

.list .frame-9 {
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.list .frame-10 {
    align-items: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #d3d4d4;
    border-right-style: solid;
    border-right-width: 1px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
}

.list .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 42px;
    letter-spacing: 0;
    line-height: 20.8px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .frame-11 {
    align-items: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #d3d4d4;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
}

.list .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 42px;
    letter-spacing: 0;
    line-height: 20.8px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .frame-12 {
    align-items: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #d3d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 250px;
}

.list .frame-13 {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    gap: 6px;
    height: 42px;
    justify-content: center;
    position: relative;
    width: 250px;


}

.list .frame-14 {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
}

.list .text-wrapper-6 {
    color: #000000;
    font-family: var(--presets-body2-font-family);
    font-size: var(--presets-body2-font-size);
    font-style: var(--presets-body2-font-style);
    font-weight: var(--presets-body2-font-weight);
    letter-spacing: var(--presets-body2-letter-spacing);
    line-height: var(--presets-body2-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.list .frame-15 {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    margin-right: 32px;
    position: relative;
    width: 100%;
}

.list .frame-16 {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.list .text-wrapper-7 {
    color: #5b5b5b;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20.8px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.list .frame-17 {
    align-items: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #d3d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 250px;
}

.list .frame-18 {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    margin-left: -0.5px;
    margin-right: -0.5px;
    position: relative;
}

.list .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 42px;
    letter-spacing: 0;
    line-height: 20.8px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 109px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 5px;
}

.list .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 42px;
    letter-spacing: 0;
    line-height: 20.8px;
    margin-top: -1px;
    position: relative;

    width: 142px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 5px;
}

.tb{
    width: 85%;
    text-align: center;
}
.frame-19{
    display: flex;
    width: 100%;
    justify-content: center;
}

/*add*/
.frame-a{
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px 30px;
}

.bi-list {
    width:30px;
    height: 30px;
    fill: #828282; /* fill 속성을 사용 */
}

.bi-view-stacked {
    width: 23px;
    height: 20px;
    fill: #828282; /* fill 속성을 사용 */
}

.cardver {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 76px ;
    gap: 3px;
    color: #828282;
    text-decoration-line : none;
}

.listver {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 76px ;
    color: #828282;
    text-decoration-line : none;
}
.text{
    margin:0px;
    text:#828282;
}
/*호버시 css*/
.cardver:hover,
.listver:hover {
    background-color: #e0e0e0; /* 호버 시 배경색 변경 */
    color: #505050; /* 호버 시 텍스트 색상 변경 */
}

.cardver:hover .text,
.listver:hover .text {
    color: #505050; /* 호버 시 텍스트 색상 변경 */
}

.cardver:hover svg,
.listver:hover svg {
    fill: #505050; /* 호버 시 SVG 색상 변경 */
}
/*호버시 css*/
.frame-15{
    display: flex;
    width: 100%;
    justify-content: center;
}
#table{
    text-align: center;
}
.medication{
    cursor: pointer;
}
.medication:hover{
    background-color: #f0f0f0;
}
.list.cardlist{
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    min-height: 861px;
    align-content: flex-start;
}
.date{
    padding:10px;
    margin: 0px;
}