body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    width: 1280px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 원생 선택 */
/* .class_25 { width: 420px; height: 100px; left: 0px; top: 0px; position: absolute; border-radius: 5px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.30) solid } */
.class_25 {
    width: 420px;
    height: 100px;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.30) solid;
    display: flex;
}

/* .class_33 { width: 100px; height: 100px; left: 0px; top: 0px; position: absolute } */
.class_33 {
    width: 100px;
    height: 100px;
}

/* .class_28 { width: 228px; height: 80px; left: 135px; top: 13px; position: absolute } */
.class_28 {
    width: 270px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.class_90 {
    display: flex;
    height: 35px;
}

/* .class_29 { left: 0px; top: 0px; position: absolute; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_29 {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .class_26 { width: 50px; height: 50px; left: 370px; top: 25px; position: absolute } */
/* .class_26 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    align-self: center;
    color: black;
    background-color: transparent;
    border: 0;
} */
.class_26 {
    width: 420px;
    height: 100px;
    background-color: transparent;
    border: 0;
    display: flex;
}

.class_26::after {
    color: transparent;
}

.class_93 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    align-self: center;
}

.class_94 {
    width: 420px;
}

/* 최근 알림장 */
/* .class_20 { width: 1280px; height: 488px; left: 0px; top: 146px; position: absolute } */
.class_20 {
    width: 1280px;
    height: 487px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .class_24 { width: 204px; height: 46px; left: 0px; top: 0px; position: absolute } */
.class_24 {
    width: 204px;
    height: 60px;
}

/* .class_19 { left: 0px; top: 0px; position: absolute; opacity: 0.80; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_19 {
    opacity: 0.80;
    color: black;
    font-size: 40px;
    font-weight: 500;
    word-wrap: break-word
}

.class_91 {
    display: flex;
    justify-content: space-between;
}

/* .class_17 { width: 415px; height: 415px; left: 0px; top: 73px; position: absolute; border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid } */
.class_17 {
    width: 415px;
    height: 415px;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.30) solid
}

/* .class_21 { width: 414px; height: 276px; left: 0px; top: 0px; position: absolute } */
.class_21 {
    width: 415px;
    height: 276px;
    border-radius: 5px 5px 0 0;
}

.class_92 {
    width: 415px;
    height: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .class_22 { width: 349px; height: 117px; left: 22px; top: 287px; position: absolute } */
.class_22 {
    width: 349px;
    height: 117px;
    display: flex;
    flex-direction: column;
}

/* .class_23 { left: 0px; top: 0px; position: absolute; opacity: 0.80; color: black; font-size: 30px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word } */
.class_23 {
    opacity: 0.80;
    color: black;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
}

/* .class_6 { left: 0px; top: 49px; position: absolute; opacity: 0.80; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_6 {
    opacity: 0.80;
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 최근 공지사항 */
/* .class_18 { width: 243px; height: 46px; left: 0px; top: 0px; position: absolute } */
.class_18 {
    width: 243px;
    height: 60px;
}

/* .class_4 { width: 414px; height: 415px; left: 0px; top: 0px; position: absolute } */
.class_4 {
    width: 355px;
    height: 375px;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    justify-content: space-between;
}

/* .class_11 { width: 278px; height: 58px; left: 65px; top: 33px; position: absolute } */
.class_11 {
    width: 278px;
    height: 58px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

/* .class_12 { width: 50px; height: 50px; left: 0px; top: 0px; position: absolute } */
.class_12 {
    width: 50px;
    height: 50px;
}

/* .class_15 { left: 62px; top: 4px; position: absolute; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_15 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    word-wrap: break-word
}

/* .class_8 { width: 171px; height: 113px; left: 35px; top: 137px; position: absolute } */
.class_8 {
    width: 278px;
    height: 113px;
    display: flex;
    flex-direction: column;
}

/* .class_10 { left: 0px; top: 0px; position: absolute; color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_10 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .class_5 { width: 197px; height: 83px; left: 26px; top: 296px; position: absolute } */
.class_5 {
    width: 278px;
    height: 83px;
    display: flex;
    flex-direction: column;
}
