<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<link rel="stylesheet" href="../../../static/css/returnHome/detail.css">
<title layout:fragment="title">귀가동의서 상세</title>

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/returnHome/detail.css" />
</th:block>

<th:block layout:fragment="javascript">
  <script src="/js/returnHome/returnHome.js"></script>
</th:block>
<div class="container main_container" layout:fragment="content">
  <form action="">
    <div class="frame">
      <div class="div">
        <div class="div-wrapper">
          <span class="text-wrapper"  th:text="${home.getKidName()}" id=kid></span>
          <span class="text-wrapper">원아의 귀가 동의서</span>
        </div>
        <div class="view">
          <a href="/returnhome/admin/card" class="element-secondary-button">
            목록
          </a>
          <!--          <input type="hidden" id="" th:value="${home.getRunDate()}">-->
          <input type="hidden" id="runDate" th:value="${home.getRunDate()}">
<!--          <input type="button" value="삭제" class="deleteBtn"-->
<!--                 th:data-order-no="${home.getOrderNo()}" th:data-run-date="${home.getRunDate()}">-->
        </div>
      </div>
      <table class="table">
        <tr>
          <th>귀가 방법</th>
          <td>
            <span th:if="${home.getRhType()=='0'}">도보</span>
            <span th:if="${home.getRhType()=='1'}">자가용</span>
            <span th:if="${home.getRhType()=='2'}">기타</span>
          </td>
        </tr>
        <tr>
          <th>귀가 날짜</th>
          <td th:text="${#temporals.format(home.getRunDate(), 'MM월 dd일')}"></td>
        </tr>
        <tr>
          <th>귀가 시간</th>
          <td th:text="${home.getRhTime()}"></td>
        </tr>
        <tr>
          <th>연락망</th>
          <td>
            <span th:text="${home.getRhMainParentName()}"></span>
            ☎️
            <span th:text="${home.getRhMainParentTel()}"></span>

          </td>
        </tr>
        <tr>
          <th>비상 연락망</th>
          <td>
            <span th:text="${home.getRhMinorParentName()}"></span>
            ☎️
            <span th:text="${home.getRhMinorParentTel()}"></span>

          </td>
        </tr>
        <tr>
          <th>의뢰자</th>
          <td th:text="${home.getOrderRequester()}">김엄마</td>
        </tr>
        <tr>
          <th>특이사항</th>
          <td th:text="${home.getOrderSpecific()}">특이사항</td>
        </tr>
      </table>
    </div>
    <div class="sign">
      <div class="promise">
        영유아의 귀가 시 위 보호자에게 인도하여 주세요. <br>
        위 보호자 이외의 다른 사람에게 인계할 때는 사전에 반드시 연락을 취하겠습니다. <br>
        원에서는 부모가 희망하더라도 영유아를 혼자 귀가시키지 않습니다. <br>
        금일 자녀의 귀가를 선생님께 의뢰합니다.
      </div>
      <div class="date" th:text="${#temporals.format(home.getRunDate(), 'yyyy년 MM월 dd일')}">
        2024년 6월 30 일
      </div>
      <div class="parent">
        <div class="name" th:text="${home.getOrderRequester()}">
          김엄마
        </div>
        <!--        <div class="parentSign">-->
        <!--          (인)-->
        <!--        </div>-->
      </div>
    </div>
  </form>
</div>