<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>email.html</title>-->
<!--</head>-->
<!--<body>-->


<div style="display: flex;justify-content: center;">
<table class="invite_container" style="border-radius: 15px;border: 1px rgb(195 195 195 / 30%) solid;">
    <tbody>
    <tr>
        <td height="100%">
            <table class="table_2"
                   style="width:530px;border-spacing:0;border-collapse:collapse;margin:0 10px 0 10px">
                <tbody>

                <tr>
                    <td style="padding:0;margin:0;border-spacing:0">
                        <table style="table-layout:fixed;display: flex;justify-content: center;align-items: center;font-size: 15px;padding-top: 35px;">
                            <tbody>
                            <tr>
                                <td style="padding:0;line-height:22px;text-align:inherit" height="100%">
                                    <div>
                                        <div style="text-align:left"
                                             th:text="|안녕하세요. ${inviteEmail}님.|">
                                            안녕하세요.
                                        </div>
                                        <div style="text-align:left"
                                             th:text="|${kinderName}에서 ${inviteEmail}님을 초대하였습니다.|">
                                            초대 메일입니다.
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table style="padding:30px 0;table-layout:fixed;display: flex;justify-content: center;">
                            <tbody>
                            <tr>
                                <td style="padding:0 0 0 0">
                                    <table class="table_3" style="text-align:center">
                                        <tbody>
                                        <tr>
                                            <td style="border-radius:6px;font-size:16px;text-align:center;background-color:inherit">
                                                <a th:href="@{|/member/signUp/${inviteId}|}"
                                                   style="background-color:#FFDB21;border-radius:5px;color:#ffffff;display:inline-block;font-size:14px;font-weight:normal;letter-spacing:0px;line-height:normal;padding:12px 30px 12px 30px;text-align:center;text-decoration:none;border: 1px solid #FFDB21;"
                                                   target="_blank"
                                                   th:data-verify-code="${verifyCode}">가입하기</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</div>

<!--</body>-->
<!--</html>-->