.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: #ffffff;
}


.container .header {
  position: relative;
  width: 1920px;
  height: 150px;
  background-color: #ffffff;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #0000004c;
}

.container .header-inner {
  position: absolute;
  width: 909px;
  height: 50px;
  top: 50px;
  left: 728px;
}

.container .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
}

.container .mng-toggle {
  position: relative;
  width: 72px;
  height: 29px;
}

.container .overlap-group {
  width: 86px;
  top: -10px;
  position: relative;
  height: 50px;
}

.container .text-wrapper {
  position: absolute;
  top: 10px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.container .material-symbols {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 36px;
}

.container .div {
  position: relative;
  width: fit-content;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.container .request-toggle {
  position: relative;
  width: 169px;
  height: 50px;
}

.container .overlap {
  width: 110px;
  top: -8px;
  position: relative;
  height: 50px;
}

.container .text-wrapper-2 {
  position: absolute;
  top: 8px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.container .img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 60px;
}

.container .frame {
  position: absolute;
  width: 366px;
  height: 117px;
  top: 16px;
  left: 315px;
}

.container .text-wrapper-3 {
  position: absolute;
  top: 5px;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #ffdb20;
  font-size: 100px;
  letter-spacing: -5px;
  line-height: 90px;
  white-space: nowrap;
}

.container .body {
  display: flex;
  flex-direction: column;
  /* height: 1631px; */
  align-items: center;
  gap: 30px;
  padding: 30px 320px 50px;
  position: relative;
  align-self: stretch;
  /* width: 100%; */
  background-color: #ffffff;
}

.container .body-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  align-self: stretch;
  background-color: #ffffff;
}

.container .title {
  display: flex;
  flex-direction: column;
  width: 1280px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.container .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--font-selected-menu-font-family);
  font-weight: var(--font-selected-menu-font-weight);
  color: #000000;
  font-size: var(--font-selected-menu-font-size);
  letter-spacing: var(--font-selected-menu-letter-spacing);
  line-height: var(--font-selected-menu-line-height);
  font-style: var(--font-selected-menu-font-style);
}

.container .cal-contents {
  display: flex;
  flex-direction: column;
  width: 1280px;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.container .buttons {
  display: flex;
  width: 1280px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.container .searchoptions {
  display: inline-flex;
  gap: 20px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.container .dropdown {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #e0e0e0;
}

.container .text-wrapper-5 {
  position: relative;
  width: 100%;
  height: 70%;
  font-family: var(--presets-body2-font-family);
  font-weight: var(--presets-body2-font-weight);
  color: #828282;
  font-size: var(--presets-body2-font-size);
  letter-spacing: var(--presets-body2-letter-spacing);
  line-height: var(--presets-body2-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: var(--presets-body2-font-style);
  border: 0px;
}

.text-wrapper-5:focus {
  outline: none;
}

.container .div-2 {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-left: 16px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #e0e0e0;
}


.container .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.container .search {
  position: relative;
  width: 26px;
  height: 26px;
}

.container .buttonarea {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.container .button-send {
  display: flex;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0px 16px;
  position: relative;
  background-color: #d3d4d4;
  border-radius: 8px;
  text-decoration-line : none
}

.container .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.container .view {
  display: flex;
  width: 72px;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: relative;
  text-decoration-line : none
}

.container .img-3 {
  position: relative;
  width: 20px;
  height: 20px;
}

.container .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #999999;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.container .button-add {
  display: flex;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 16px;
  position: relative;
  background-color: #ffe668;
  border-radius: 8px;
  text-decoration-line : none
}

.container .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.container .cal-schedule {
  display: flex;
  width: 1280px;
  height: 964px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
}

.container .calendar {
  display: flex;
  flex-direction: column;
  width: 848px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 32px 32px;
  position: relative;
  align-self: stretch;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.container .month-year-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .month-year {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 11px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.container .div-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.container .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .vector {
  position: relative;
  width: 18px;
  height: 20px;
}

.container .day-date {
  display: flex;
  flex-direction: column;
  width: 784px;
  align-items: center;
  gap: 4px;
  padding: 4px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 20px;
}

.container .day-line {
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #bdbdbd;
}

.container .day {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 8px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.container .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #cd6969;
  font-size: 15px;
  letter-spacing: 0.45px;
  line-height: 12px;
  white-space: nowrap;
}

.container .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.45px;
  line-height: 12px;
  white-space: nowrap;
}

.container .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #61a3f1;
  font-size: 15px;
  letter-spacing: 0.45px;
  line-height: 12px;
  white-space: nowrap;
}

.container .date-line {
  height: 818px;
  align-items: flex-start;
  padding: 4px 0px;
  width: 100%;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
}

.container .date-number-line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #bdbdbd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.container .date {
  align-items: center;
  padding: 3px 10px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
}

.container .text-wrapper-13 {
  color: #b3b3b3;
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.container .div-wrapper {
  align-items: center;
  padding: 3px 10px;
  flex: 1;
  flex-grow: 1;
  margin-left: -2px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
}

.container .text-wrapper-14 {
  color: #61a3f1;
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.container .date-number-line-2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #bdbdbd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.container .element {
  color: #cd6969;
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.container .element-2 {
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.container .date-number-line-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.container .schedule {
  width: 416px;
  justify-content: center;
  padding: 11px 32px 32px;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
}

.container .date-schedulecnt {
  display: flex;
  height: 121px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: relative;
  align-self: stretch;
  width: fill;
  margin-top: -14px;
}

.container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 3px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.container .day-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .text-wrapper-15 {
  position: relative;
  width: fit-content;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .schedulecnt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #7b7b7b;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.container .schedule-2 {
  height: 828px;
  gap: 15px;
  width: fill;
  margin-bottom: -14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
}

.container .single-schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 20px 25px;
  position: relative;
  align-self: stretch;
  width: fill;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 6px #0000001a;
}

.container .scheduled-class {
  display: flex;
  width: 321px;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.container .ellipse {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #b4ff91;
  border-radius: 5px;
}

.container .text-wrapper-17 {
  position: relative;
  flex: 1;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #747373;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.container .text-wrapper-18 {
  position: relative;
  width: 321px;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.container .ellipse-2 {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #ffaadd;
  border-radius: 5px;
}

.container .footer {
  position: relative;
  width: 1920px;
  height: 247px;
  background-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: #0000004c;
}

.container .footer-inner {
  position: relative;
  width: 218px;
  height: 72px;
  top: 80px;
  left: 849px;
}

.container .footer-text {
  position: relative;
  height: 72px;
}

.container .copyright {
  position: absolute;
  width: 218px;
  height: 29px;
  top: 43px;
  left: 0;
}

.container .p {
  position: absolute;
  height: 34px;
  top: -4px;
  left: -131px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.container .view-2 {
  position: absolute;
  width: 218px;
  height: 29px;
  top: 0;
  left: 0;
}

.container .text-wrapper-19 {
  position: absolute;
  left: 0;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.container .text-wrapper-20 {
  position: absolute;
  left: 104px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.container .text-wrapper-21 {
  position: absolute;
  left: 126px;
  font-family: "Noto Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}