.container .schedule-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container .title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.container .text-wrapper-4 {
  position: relative;
  width: 268px;
  height: 58px;
  /* font-family: var(--font-selected-menu-font-family); */
  font-weight: var(--font-selected-menu-font-weight);
  color: #000000;
  font-size: var(--font-selected-menu-font-size);
  letter-spacing: var(--font-selected-menu-letter-spacing);
  line-height: var(--font-selected-menu-line-height);
  font-style: var(--font-selected-menu-font-style);
}
.container .buttons{
  width: auto !important;
}

.container .calendar {
  display: flex;
  flex-direction: column;
  /*width: 1280px;*/
  align-items: flex-start;
  gap: 30px;
  padding: 40px 108px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.container .input-name {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.container .text-date {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.container .inputarea {
  width: fit-content;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.container .textarea {
  padding: 10px 0px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border: none;
  height: 100%;
  font-size: 16px;
}

.textarea:focus {
  outline: none;
}

.container .div-2 {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.container .div-4 {
  display: inline-flex;
  align-items: center;
  gap: 18px;
  position: relative;
  flex: 0 0 auto;
  padding-bottom: 5px;
}

.container .vector {
  position: relative;
  width: 30px;
  height: 30px;
}

.container .input-name-2 {
  display: flex;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.container .title-class {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 0px;
  position: relative;
  flex: 0 0 auto;
}


/*.container .n {*/
/*  display: inline-flex;*/
/*  align-items: center;*/
/*  position: relative;*/
/*  flex: 0 0 auto;*/
/*}*/

.container .text-wrapper-10 {
  position: relative;
  width: fit-content;
  /*font-family: "Inter-Medium", Helvetica;*/
  font-weight: 600;
  color: #61a3f1;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .text-wrapper-7 {
  position: relative;
  width: fit-content;
  /*font-family: "Inter-Medium", Helvetica;*/
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


.container .img-2 {
  position: relative;
  width: 25px;
  height: 25px;
}

.container .class-selection {
  width: 100%;
  padding: 20px 20px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  /* justify-content: end; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container .selectedclass {
  padding: 0px 0px 20px !important;
}

.container .default-wrapper {
  height: 65px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  height: 100%;
  font-size: 16px;
}

.default-wrapper:focus {
  outline: none;
}

.container .default {
  position: relative;
  width: fit-content;
  color: #828282;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .calendar-textarea {
  padding: 10px 0px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border: none;
  width: 100%;
  min-height: 145px;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-weight: 500;*/
  color: #828282;
  font-size: 16px;
  resize: none;
  -ms-overflow-style: none;
  padding-bottom: 15px;
}

.calendar-textarea:focus {
  outline: none;
}

.calendar-textarea::-webkit-scrollbar{
  display:none;
}

.container .inputarea-2 {
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 16px;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.container .grammar {
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-top-width: 0.5px;
  border-top-style: solid;
  border-color: #cbcbcb;
}

.container .class-2 {
  gap: 5px;
  border-color: #cbcbcb !important;
  display: flex;
  width: fit-content;
  height: 50px;
  align-items: center;
  padding: 5px 25px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 0.5px solid;
  text-decoration: none;
}

.container .text-wrapper-12 {
  position: relative;
  width: fit-content;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-weight: 500;*/
  color: #b3b3b3;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}



.container .textcnt {
  position: relative;
  width: fit-content;
  /*font-family: "Inter-Medium", Helvetica;*/
  /*font-weight: 500;*/
  color: #b3b3b3;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .inputarea-3 {
  height: 80px;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.container .input-loc {
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 7px;
  display: flex;
}

:root {
  --x-1: rgba(133, 199, 233, 1);
  --x-2: rgba(13, 17, 83, 1);
  --x-3: rgba(255, 255, 255, 1);
  /*---font-family: "Noto Sans", Helvetica;*/
  ---font-weight: 500;
  ---font-size: 100px;
  ---letter-spacing: -5px;
  ---line-height: 89.99999761581421%;
  ---font-style: normal;
  /*--font-selected-menu-font-family: "Inter", Helvetica;*/
  --font-selected-menu-font-weight: 600;
  --font-selected-menu-font-size: 48px;
  --font-selected-menu-letter-spacing: 0px;
  --font-selected-menu-line-height: normal;
  --font-selected-menu-font-style: normal;
  /*--small-text-font-family: "Inter", Helvetica;*/
  --small-text-font-weight: 500;
  --small-text-font-size: 16px;
  --small-text-letter-spacing: 0px;
  --small-text-line-height: 150%;
  --small-text-font-style: normal;
}