<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">teacherMain</title>

<th:block layout:fragment="css">
<!--    <link rel="stylesheet" th:href="@{/teacher/globals.css}" />-->
    <link rel="stylesheet" th:href="@{/teacher/profile.css}" />
    <link rel="stylesheet" th:href="@{/teacher/profileguide.css}" />
    <link rel="stylesheet" th:href="@{/teacher/mainHover.css}" />
    <link rel="stylesheet" th:href="@{/teacher/mainHoverguide.css}" />
    <link rel="stylesheet" th:href="@{/common/SMJCommonContainer.css}" />
    <link rel="stylesheet" th:href="@{/common/SMJCommonHover.css}" />
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
</th:block>

<th:block layout:fragment="javascript">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->
</th:block>

<div class="container" layout:fragment="content">
    <div class="body">
        <div class="title-flow2">
            <a class="icon-back" href="/page_teacher_done/index.html">
                <img src="/teacher/img/back.png" alt=""/>
            </a>
            <div class="div-wrapper"><div class="text-wrapper-title">교사 정보</div></div>
        </div>
        <div class="profile">
            <div class="blank"></div>
            <div class="div-profile">
                <div class="img-2">
                    <img src="/teacher/img/teacher.png" alt=""/>
                </div>
                <div class="id"><div class="text-wrapper-5">김가나</div></div>
            </div>

            <a  class="btn btn-ab" href="/page_teacher_profile_modify/index.html">
                <div>
                    <div class="text-modify">퇴사</div>
                </div>
            </a>
        </div>
        <div class="info">
            <div class="div-2">
                <div class="div-wrapper-2"><div class="text-wrapper-7">휴대폰 번호</div></div>
                <div class="inputarea"><div class="text-wrapper-8">01012345678</div></div>
            </div>
            <div class="div-2">
                <div class="div-wrapper-2"><div class="text-wrapper-7">이메일</div></div>
                <div class="inputarea"><div class="text-wrapper-8">teacher1@aibayo.co.kr</div></div>
            </div>
            <div class="div-2">
                <div class="select-class">
                    <div class="title-class">
                        <div class="text-wrapper-9">소속 반 정보</div>
                        <div class="n">
                            <div class="text-wrapper-10">(</div>
                            <div class="text-wrapper-10">3</div>
                            <div class="text-wrapper-10">개)</div>
                        </div>
                    </div>
                    <a class="button-add" href="/page_teacher_profile_hover_addclass/index.html">
                        <div class="text-wrapper-class">소속 반 수정</div>
                    </a>
                </div>
                <div class="selectedclass">
                    <div class="class">
                        <div class="text-class">브로콜리반</div>
                    </div>
                    <div class="class">
                        <div class="text-class">토마토반</div>
                    </div>
                    <div class="class">
                        <div class="text-class">오이반</div>
                    </div>
                </div>
            </div>
            <div class="input-startdate">
                <div class="div-wrapper-2"><div class="text-wrapper-7">입사일</div></div>
                <div class="textarea-wrapper">
                    <div class="textarea">
                        <div class="div-3">
                            <div class="text-wrapper-11">2024</div>
                            <div class="text-wrapper-11">.</div>
                        </div>
                        <div class="div-3">
                            <div class="text-wrapper-11">06</div>
                            <div class="text-wrapper-11">.</div>
                        </div>
                        <div class="div-3">
                            <div class="text-wrapper-11">28</div>
                            <div class="text-wrapper-11">.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>