<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">teacherMain</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/teacher/profile.css}" />
    <link rel="stylesheet" th:href="@{/teacher/profileguide.css}" />
    <link rel="stylesheet" th:href="@{/teacher/teacherModal.css}" />
    <link rel="stylesheet" th:href="@{/teacher/teacherModalguide.css}" />
    <link rel="stylesheet" th:href="@{/common/SMJCommonContainer.css}" />
    <link rel="stylesheet" th:href="@{/common/SMJCommonHover.css}" />
</th:block>

<th:block layout:fragment="javascript">
    <script src="/teacher/teacherProfile.js"></script>
</th:block>

<div class="container main_container" layout:fragment="content">
    <div class="title-flow2">
        <a class="icon-back" th:href="@{/teacher/admin/teacherMain}">
            <img src="/teacher/img/back.png" alt=""/>
        </a>
        <div class="div-wrapper"><div class="text-wrapper-title">교사 정보</div></div>
    </div>
    <div class="profile">
        <div class="blank"></div>
        <div class="div-profile">
            <div class="img-2">
                <img src="/teacher/img/teacher.png" alt=""/>
            </div>
            <div class="id"><div class="text-wrapper-5">김가나</div></div>
        </div>
        <a class="btn button-cancel" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <div class="text-cancel">퇴사</div>
        </a>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-content-resign">
                    <div class="title">
                        <div class="textarea">
                            <div class="text-wrapper">퇴사 확인</div>
                        </div>
                        <button class="button-x" href="" data-bs-dismiss="modal" aria-label="Close">
                            <img src="/teacher/img/x.png" alt=""/>
                        </button>
                    </div>
                    <div class="modalform" th:action="@{/teacher/admin/teacherMain}" th:method="post">
                        <div>김가나 선생님의 퇴사를 승인하시겠습니까?</div>
                        <div class="buttonarea">
                            <input type="reset" class="button-cancel" value="취소" data-bs-dismiss="modal">
                            <input type="submit" class="button-resign" value="퇴사" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->



        <!-- Modal 2nd -->
        <div class="modal fade" id="staticBackdrop2"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-content-resign">
                    <div class="title">
                        <div class="textarea"></div>
                        <button class="button-x" href="" data-bs-dismiss="modal" aria-label="Close">
                            <img src="/teacher/img/x.png" alt=""/>
                        </button>
                    </div>
                    <form class="modalform" th:action="@{/teacher/admin/teacherMain}" th:method="post">
                        <div>퇴사 처리가 완료되었습니다.</div>
                        <div class="buttonarea">
                            <input type="submit" class="button-cancel" value="확인" data-bs-dismiss="modal">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal 2nd end -->



    </div>
    <div class="info">
        <div class="div-1">
            <div class="div-wrapper-2"><div class="text-wrapper-7">휴대폰 번호</div></div>
            <div class="inputarea"><div class="text-wrapper-8">01012345678</div></div>
        </div>
        <div class="div-1">
            <div class="div-wrapper-2"><div class="text-wrapper-7">이메일</div></div>
            <div class="inputarea"><div class="text-wrapper-8">teacher1@aibayo.co.kr</div></div>
        </div>
        <div class="div-1">
            <div class="select-class">
                <div class="title-class">
                    <div class="text-wrapper-9">소속 반 정보</div>
                    <div class="n">
                        <div class="text-wrapper-10">(</div>
                        <div class="text-wrapper-10">3</div>
                        <div class="text-wrapper-10">개)</div>
                    </div>
                </div>
                <a class="btn btn-ab resign" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                    <div class="text-modify">소속 반 수정</div>
                </a>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop3"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="title">
                                <div class="textarea">
                                    <div class="text-wrapper">소속 반 수정</div>
                                </div>
                                <button class="button-x" href="" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="/teacher/img/x.png" alt=""/>
                                </button>
                            </div>
                            <form class="modalform" th:action="@{/teacher/admin/teacherProfile}" th:method="post">
                                <div class="row-input">
                                    <div class="text-addable">
                                        <div class="div-2">
                                            <img class="icon" src="/teacher/img/default-yellow.png" />
                                            <div class="text-wrapper-2">선택 가능 반 총 7개</div>
                                        </div>
                                    </div>
                                    <div class="form-check carousel">
                                        <label class="class-selected" for="broccoli">
                                            <div class="text-wrapper-3">브로콜리반</div>
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="broccoli" id="broccoli" autocomplete="off" >
                                        </label>

                                        <label class="class-selected" for="tomato">
                                            <div class="text-wrapper-3">토마토반</div>
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="tomato" id="tomato" autocomplete="off" >
                                        </label>

                                        <label class="class-selected" for="paprica">
                                            <div class="text-wrapper-3">파프리카반</div>
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="paprica" id="paprica" autocomplete="off" >
                                        </label>

                                        <label class="class-selected" for="eggplant">
                                            <div class="text-wrapper-3">가지반</div>
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="eggplant" id="eggplant" autocomplete="off" >
                                        </label>

                                        <label class="class-selected" for="cabbage">
                                            <div class="text-wrapper-3">양배추반</div>
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="cabbage" id="cabbage" autocomplete="off" >
                                        </label>

                                        <label class="class-selected" for="cucumber">
                                            <div class="text-wrapper-3">오이반</div>
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="cucumber" id="cucumber" autocomplete="off" >
                                        </label>

                                        <label class="class-selected" for="pimento">
                                            <div class="text-wrapper-3">피망반</div>
                                            <input class="form-check-input" type="checkbox" name="classCheckedCb" value="pimento" id="pimento" autocomplete="off" >
                                        </label>

                                    </div>
                                </div>
                                <div class="buttonarea">
                                    <input type="submit" class="btn btn-ab button-send" value="적용" data-bs-dismiss="modal">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->


            </div>
            <div class="selectedclass">
                <div class="class">
                    <div class="text-class" id="class_broccoli">브로콜리반</div>
                </div>
                <div class="class">
                    <div class="text-class" id="class_tomato">토마토반</div>
                </div>
                <div class="class">
                    <div class="text-class" id="class_cucumber">오이반</div>
                </div>
            </div>
        </div>
        <div class="input-startdate">
            <div class="div-wrapper-2"><div class="text-wrapper-7">입사일</div></div>
            <div class="textarea-wrapper">
                <div class="textarea">
                    <div class="div-3">
                        <div class="text-wrapper-11">2024</div>
                        <div class="text-wrapper-11">.</div>
                    </div>
                    <div class="div-3">
                        <div class="text-wrapper-11">06</div>
                        <div class="text-wrapper-11">.</div>
                    </div>
                    <div class="div-3">
                        <div class="text-wrapper-11">28</div>
                        <div class="text-wrapper-11">.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>