<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
<!--    <link rel="stylesheet" href="/login/signIn.css"/>-->
<!--    <link rel="stylesheet" href="/login/signInGuide.css"/>-->
    <link rel="stylesheet" th:href="@{/login/signIn.css}" />
    <link rel="stylesheet" th:href="@{/login/signInGuide.css}" />


    <title>LoginPage</title>
</head>
<body>
<div class="login-page">
    <div class="div">
        <div class="overlap">
            <div class="group">
                <div class="overlap-group">
                    <div class="group-2">
                        <div class="group-3">
                            <div class="text-wrapper">Welcome to aibayo</div>
                        </div>
                    </div>

                        <form action="#" method="post">
                            <div class="group-4">

                                <div class="text-wrapper-3">이메일</div>
                                <!-- <div class="username-or-email-wrapper"><div class="text-wrapper-4">email address</div></div> -->
                                <input class="username-or-email-wrapper" name="email" id="email-input" type="email"  required ></input>
                            </div>


                            <div class="overlap-wrapper">
                                <!-- <div class="overlap-2"><div class="text-wrapper-6">Sign in</div></div> -->
                                <input class="overlap-2 text-wrapper-1" type="submit" value="인증번호 보내기">
                            </div>


                    <div class="group-5">
                        <div class="text-wrapper-3">비밀번호</div>
                        <input type="password" class="div-wrapper" name="password" id="password-input">
                    </div>
                    </form>


                </div>
            </div>
            <div class="text-wrapper-7">로그인</div>

            <div class="group-wrapper">
                <div class="overlap-group-wrapper">
                    <div class="overlap-group-2"><div class="text-wrapper-8">Sign in with KaKao</div></div>
                </div>
            </div>

            <div class="text-wrapper-9">OR</div>
            <img class="SNS-kakaotalk" src="img/kakaotalk.svg" />
        </div>
        <a th:href="@{/main/admin}" class="text-wrapper-10">aibayo</a>
        <a th:href="@{/login/signUp}" class="text-wrapper-2">회원가입</a>
        <a th:href="@{/login/signInFindPw}" class="text-wrapper-5">비밀번호 찾기</a>

    </div>
</div>
</body>
</html>