<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/login/signUpKid.css}" />
    <link rel="stylesheet" th:href="@{/css/login/signInGuide.css}" />

    <script th:src="@{/js/login/signUpKid.js}" ></script>
</head>
<body>
<div class="screen">
    <div class="div">
        <div class="overlap">
            <div class="group">
                <div class="overlap-group">
                    <div class="text-wrapper-2">원아등록</div>

                    <form th:action="@{/registerKid}" method="post">
                        <div class="group-2">
                            <div class="group-3">
                                <label for="birth-input" style="font-size: small">원아 생일
                                    <input type="date" class="overlap-group-3" name="birth" id="birth-input" max="2024-12-31" min="2000-01-01" value="2024-01-01">
                                </label>
                            </div>
                            <div class="group-4">
                                <label for="gender-input" class="text-wrapper-5" style="font-size: small">원아 성별</label>
                                <select class="overlap-group-3" name="gender" id="gender-input" onchange="toggleRelationshipField()">
                                    <option value="">성별을 선택하세요</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Non-Binary</option>
                                </select>
                            </div>
                            <div class="group-5">
                                <div class="group-9">
                                    <label for="kindergarten-input" style="font-size: small">소속 유치원</label>
                                    <select id="kindergarten-input">
                                        <option value="">유치원을 선택하세요</option>
                                        <option value="1">유치원 1</option>
                                        <option value="2">유치원 2</option>
                                    </select>
                                </div>
                                <div class="group-10">
                                    <label for="class-input" style="font-size: small">소속 반</label>
                                    <select id="class-input">
                                        <option value="">반을 선택하세요</option>
                                        <option value="1">1반</option>
                                        <option value="2">2반</option>
                                    </select>
                                    </label>
                                </div>
                            </div>
                            <div class="group-6">
                                <div class="group-7">
                                    <div class="overlap-group-4">
                                        <div class="text-wrapper-5" style="font-size: small">원아 이름</div>
                                        <input class="text-wrapper-6" type="text" name="name" id="name-input">
                                    </div>
                                </div>
                                <div class="group-8">
                                    <div class="overlap-group-4">
                                        <div class="text-wrapper-5" style="font-size: small">원아와의 관계</div>
                                        <input class="text-wrapper-6" type="text" name="relationship" id="relationship-input">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="overlap-group-wrapper">
                            <input class="overlap-group-2" type="submit" value="회원가입">
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-wrapper-7">Welcome to aibayo</div>
        </div>

        <div class="logo h_class_78">
            <div class="h_class_79"><a th:href="@{/main/admin}" style="text-decoration: none; color: inherit;">aibayo</a></div>
        </div>

        <a th:href="@{/login/signIn}" class="span">로그인</a>
    </div>
</div>


</body>
</html>
