/* 페이지 제목 */
/* .class_28 { width: 1280px; height: 60px; left: 0px; top: 0px; position: absolute } */
.class_28 {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

/* .class_29 {  color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_29 {
    color: black;
    font-size: 48px;
    font-weight: 500;
    word-wrap: break-word;
}

/* .class_30 { width: 200px; height: 60px; left: 1080px; top: 0px; position: absolute } */
.class_30 {
    display: flex;
    align-items: flex-end;
}

/* .class_31 { width: 200px; height: 60px;  background: #FFDB21; border-radius: 5px } */
.class_31 {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .class_32 { width: 128px; height: 38px; } */
.class_32 {
    width: 128px;
    height: 38px;
}

/* .class_34 { width: 36px; height: 36px; } */
.class_34 {
    width: 27px;
    height: 27px;
}

.class_33 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
}


/* 검색 필터 */
/* .class_36 { width: 1280px; height: 100px; } */
.class_36 {
}

/* .class_37 { width: 308px; height: 55px; } */
.class_37 {
    width: 310px;
}

/* .class_38 { width: 308px; height: 55px; } */
.class_38 {
    width: 310px;
    display: flex;
}

/* .class_39 { width: 308px; height: 55px;  background: white; border-radius: 5px; border: 5px 0 0 5px rgba(0, 0, 0, 0.30) solid } */
.class_39 {
    width: 200px;
    height: 45px;
    background: white;
    border-radius: 10px;
    border: 1px rgb(195 195 195 / 30%) solid;
}

/*.datepicker-dropdown {*/
/*    top: 190px !important;*/
/*    left: 427px !important;*/
/*}*/

/* .class_41 { width: 131px; height: 55px;  color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_41 {
    color: black;
    font-size: 20px;
    line-height: 55px;
    text-align: center;
    word-wrap: break-word;
}

/* .class_42 { width: 45px; height: 45px; } */
.class_42 {
    width: 45px;
    height: 45px;
}

/* 알림장 목록 */
.class_90 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0;
}

.class_17 {
    display: flex;
    gap: 30px 18px;
    flex-wrap: wrap;
}

/* .class_18 { width: 415px; height: 415px;  border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid } */
.class_18 {
    width: 340px;
    height: 415px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
    padding: 14px 23px;
}

.card:hover {
    opacity: 0.6;
}

.class_17 .card {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d3d4d4;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: 420px;
    overflow: hidden;
    padding: 14px 10px;
    position: relative;
    width: 338px;
    text-decoration-line: none;
}

/* .class_19 { width: 414px; height: 276px; } */
.class_19 {
    width: 100%;
    height: 276px;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.class_99 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.class_91 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* .class_20 { width: 349px; height: 117px; } */
.class_20 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* .class_22 {  opacity: 0.80; color: black; font-size: 30px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word } */
.class_22 {
    opacity: 0.80;
    color: black;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
}

/* .class_21 {  opacity: 0.80; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_21 {
    opacity: 0.80;
    color: black;
    font-size: 20px;
    font-weight: 500;
    white-space: normal;
    word-break: auto-phrase;
}

/* 페이지네이션 */
/* .class_2 { width: 1280px; height: 80px; } */
.class_2 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.class_3 {
    width: 60px;
    height: 60px;
}
