/* 페이지 제목 */
/* .class_28 { width: 1280px; height: 60px; left: 0px; top: 0px; position: absolute } */
.class_28 {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

/* .class_29 {  color: black; font-size: 40px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_29 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    word-wrap: break-word;
}

/* .class_30 { width: 200px; height: 60px; left: 1080px; top: 0px; position: absolute } */
.class_30 {
    width: 200px;
    height: 60px;
    display: flex;
}

/* .class_31 { width: 200px; height: 60px;  background: #FFDB21; border-radius: 5px } */
.class_31 {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .class_32 { width: 128px; height: 38px; } */
.class_32 {
    width: 128px;
    height: 38px;
}

/* .class_34 { width: 36px; height: 36px; } */
.class_34 {
    width: 36px;
    height: 36px;
}

.class_33 {
    color: black;
    font-size: 25px;
    font-weight: 500;
    word-wrap: break-word;
}


/* 검색 필터 */
/* .class_36 { width: 1280px; height: 100px; } */
.class_36 {
    height: 60px;
}

/* .class_37 { width: 308px; height: 55px; } */
.class_37 {
    width: 310px;
    height: 60px;
}

/* .class_38 { width: 308px; height: 55px; } */
.class_38 {
    width: 310px;
    height: 60px;
    display: flex;
}

/* .class_39 { width: 308px; height: 55px;  background: white; border-radius: 5px; border: 5px 0 0 5px rgba(0, 0, 0, 0.30) solid } */
.class_39 {
    width: 225px;
    height: 55px;
    background: white;
    border-radius: 10px;
    border: 1px rgb(195 195 195 / 30%) solid;
    text-align: center;
}

/* .class_41 { width: 131px; height: 55px;  color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_41 {
    width: 225px;
    height: 55px;
    color: black;
    font-size: 25px;
    line-height: 55px;
    /* font-weight: 500; */
    text-align: center;
    word-wrap: break-word
}

/* .class_42 { width: 45px; height: 45px; } */
.class_42 {
    width: 45px;
    height: 45px;
}

/* 알림장 목록 */
.class_90 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0;
}

.class_17 {
    display: flex;
    gap: 30px 18px;
    flex-wrap: wrap;
}

/* .class_18 { width: 415px; height: 415px;  border-radius: 5px; border: 1px rgba(0, 0, 0, 0.30) solid } */
.class_18 {
    width: 340px;
    height: 415px;
    border-radius: 15px;
    border: 1px rgb(195 195 195 / 30%) solid;
}

.card:hover {
    opacity: 0.8;
}

/* .class_19 { width: 414px; height: 276px; } */
.class_19 {
    width: 100%;
    height: 276px;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    padding: 10px;
}

.class_99 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.class_91 {
    height: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* .class_20 { width: 349px; height: 117px; } */
.class_20 {
    width: 100%;
    height: 117px;
    display: flex;
    flex-direction: column;
}

/* .class_22 {  opacity: 0.80; color: black; font-size: 30px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word } */
.class_22 {
    opacity: 0.80;
    color: black;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
}

/* .class_21 {  opacity: 0.80; color: black; font-size: 25px; font-family: Noto Sans; font-weight: 500; word-wrap: break-word } */
.class_21 {
    opacity: 0.80;
    color: black;
    font-size: 25px;
    font-weight: 500;
}

/* 페이지네이션 */
/* .class_2 { width: 1280px; height: 80px; } */
.class_2 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.class_3 {
    width: 60px;
    height: 60px;
}
