
.container .title {
    gap: 30px;
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.payment-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 650px;
    align-self: center;
}

.container .icon-back {
    position: relative;
    width: 60px;
    height: 60px;
}

.container .div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}


.container .img-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.container .component-wrapper {
    position: relative;
    width: 166px;
    height: 136px;
}

.container .component {
    position: relative;
    width: 136px;
    height: 136px;
    left: 15px;
    background-color: #d9d9d9;
    border-radius: 68px;
}

.container .image {
    position: absolute;
    width: 136px;
    /*height: 96px;*/
    top: 10px;
    left: 0;
    object-fit: cover;
}

.container .p {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.container .selected-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    padding: 50px 80px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.container .payment-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    padding-bottom: 40px;
    flex: 0 0 auto;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: #000000;
}

.container .div-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.container .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .n {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 600;
    color: #00a3ff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 78.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .div-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    padding: 40px 0px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #cacaca;
}

.container .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 600;
    color: #828282;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .div-4 {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-9 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #828282;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 600;
    color: #00a3ff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.payment-detail {
    width: 100%;
    padding: 50px 80px;
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.container .div-5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    gap: 25px;
}

.line {
    width: 100%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: #bdbdbd;
}

.line-black {
    width: 100%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: black;
}

.container .title-2 {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.container .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 600;
    color: #828282;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .item {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #828282;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .buttonarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.payment-final {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    padding-top: 15px;
    flex: 0 0 auto;
}

.text-wrapper-finalprice {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 600;
    color: #00a3ff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 78.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .buttons {
    display: flex;
    width: 1280px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -10px;
    margin-right: -10px;
}

.container .button-send {
    display: flex;
    width: 198px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    position: relative;
    background-color: #ffe668;
    border-radius: 8px;
}

.container .text-wrapper-14 {
    position: relative;
    width: fit-content;
    font-weight: var(--small-text-font-weight);
    color: #000000;
    font-size: 16px;
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.container .back {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #00a3ff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 21px;
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.paymentMemo{
    font-weight: 500 !important;
}

:root {
    --x-1: rgba(133, 199, 233, 1);
    --x-2: rgba(13, 17, 83, 1);
    --x-3: rgba(255, 255, 255, 1);
    ---font-weight: 500;
    ---font-size: 100px;
    ---letter-spacing: -5px;
    ---line-height: 89.99999761581421%;
    ---font-style: normal;
    --font-selected-menu-font-weight: 600;
    --font-selected-menu-font-size: 48px;
    --font-selected-menu-letter-spacing: 0px;
    --font-selected-menu-line-height: normal;
    --font-selected-menu-font-style: normal;
    --small-text-font-weight: 500;
    --small-text-font-size: 16px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: 150%;
    --small-text-font-style: normal;
}










