.screen {
    padding: 20px;
}
.text-wrapper-5, .title, .title-3 {
    font-size: 24px;
    font-weight: bold;
}
.title-2 {
    font-size: 18px;
}
.class-list {
    max-height: 400px;
    overflow-y: scroll;
}
.class-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.class-item .icon {
    font-size: 24px;
}
.element-button-secondary {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.element-button-secondary-2 {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.article .image {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
}



/* .screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .screen .div {
    background-color: #ffffff;
    width: 1920px;
    height: 1785px;
    position: relative;
  }

  .screen .footer {
    position: absolute;
    width: 1920px;
    height: 247px;
    top: 1475px;
    left: 0;
    background-color: #ffffff;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-color: #0000004c;
  }

  .screen .footer-inner {
    position: relative;
    width: 218px;
    height: 72px;
    top: 80px;
    left: 849px;
  }

  .screen .footer-text {
    position: relative;
    height: 72px;
  }

  .screen .copyright {
    position: absolute;
    width: 218px;
    height: 29px;
    top: 43px;
    left: 0;
  }

  .screen .text-wrapper {
    position: absolute;
    height: 36px;
    top: -5px;
    left: -130px;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .screen .view {
    position: absolute;
    width: 218px;
    height: 29px;
    top: 0;
    left: 0;
  }

  .screen .text-wrapper-2 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }

  .screen .text-wrapper-3 {
    position: absolute;
    top: -1px;
    left: 104px;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }

  .screen .text-wrapper-4 {
    position: absolute;
    top: -1px;
    left: 126px;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }

  .screen .container {
    position: absolute;
    width: 1280px;
    height: 1165px;
    top: 230px;
    left: 325px;
  }

  .screen .text-wrapper-5 {
    position: absolute;
    top: 30px;
    left: 37px;
    font-family: "Noto Sans KR-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 80px;
    letter-spacing: -4px;
    line-height: 72px;
    white-space: nowrap;
  }

  .screen .list {
    display: flex;
    width: 1220px;
    height: 374px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px;
    position: absolute;
    top: 145px;
    left: 30px;
    overflow: hidden;
    border: 1px solid;
  }

  .screen .container-2 {
    align-items: flex-start;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }

  .screen .title {
    align-self: stretch;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    position: relative;
    margin-top: -1px;
    color: #000000;
    letter-spacing: 0;
  }

  .screen .text-wrapper-6 {
    position: relative;
    align-self: stretch;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .screen .list-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    margin-top: -73px;
    margin-bottom: -73px;
    display: flex;
    position: relative;
  }

  .screen .row {
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }

  .screen .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 20px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .screen .frame {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #0000000d;
    border-radius: 30px;
  }

  .screen .icon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -1px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 37.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .screen .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .screen .title-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
  }

  .screen .element-button-secondary {
    display: flex;
    width: 55px;
    height: 38px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 24px;
    position: relative;
    background-color: #ed2822;
    border-radius: 8px;
    box-shadow: var(--button-shadow);
  }

  .screen .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -8px;
    margin-bottom: -6px;
    margin-left: -11.5px;
    margin-right: -11.5px;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #000000;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
  }

  .screen .vector {
    position: absolute;
    width: 520px;
    height: 1px;
    top: 100px;
    left: 0;
    object-fit: cover;
  }

  .screen .img {
    width: 520px;
    top: -19947px;
    left: 770px;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }

  .screen .vector-2 {
    width: 1220px;
    top: 374px;
    left: 0;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }

  .screen .div-wrapper {
    position: absolute;
    top: 64px;
    left: 1170px;
    display: flex;
    width: 93px;
    height: 38px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 24px;
    background-color: var(--x-1);
    border-radius: 8px;
    box-shadow: var(--button-shadow);
  }

  .screen .text-wrapper-8 {
    position: relative;
    width: 83px;
    margin-top: -8px;
    margin-bottom: -6px;
    margin-left: -19px;
    margin-right: -19px;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    text-align: center;
    line-height: var(--small-text-line-height);
    font-weight: var(--small-text-font-weight);
    color: #000000;
    letter-spacing: var(--small-text-letter-spacing);
    font-style: var(--small-text-font-style);
  }

  .screen .contents {
    display: flex;
    flex-direction: column;
    width: 1220px;
    height: 684px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px;
    position: absolute;
    top: 532px;
    left: 30px;
    overflow: hidden;
  }

  .screen .container-3 {
    height: 59px;
    align-items: center;
    align-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }

  .screen .title-3 {
    width: 520px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 48px;
    position: relative;
    margin-top: -1px;
    color: #000000;
    letter-spacing: 0;
  }

  .screen .list-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }

  .screen .row-2 {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .screen .article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 6px;
    border: 1px solid;
    border-color: #0000001a;
  }

  .screen .image-container {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: flex-start;
    position: relative;
  }

  .screen .image {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: #d8d8d880;
  }

  .screen .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }

  .screen .title-4 {
    align-self: stretch;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    margin-top: -1px;
    color: #000000;
    letter-spacing: 0;
  }

  .screen .element-button-secondary-2 {
    position: absolute;
    display: flex;
    top: 20px;
    left: 700px;
    width: 93px;
    height: 38px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 24px;
    background-color: var(--x-1);
    border-radius: 8px;
    box-shadow: var(--button-shadow);
  }

  .screen .text-wrapper-9 {
    position: relative;
    width: 83px;
    margin-top: -8px;
    margin-bottom: -6px;
    margin-left: -19px;
    margin-right: -19px;
    font-family: var(--small-text-font-family);
    font-size: var(--small-text-font-size);
    line-height: var(--small-text-line-height);
    font-weight: var(--small-text-font-weight);
    color: #000000;
    letter-spacing: var(--small-text-letter-spacing);
    font-style: var(--small-text-font-style);
  }

  .screen .vector-3 {
    width: 1220px;
    top: 684px;
    left: 0;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }

  .screen .overlap {
    position: absolute;
    width: 1920px;
    height: 150px;
    top: 0;
    left: 0;
  }

  .screen .header {
    position: absolute;
    width: 1920px;
    height: 150px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #0000004c;
  }

  .screen .header-inner {
    position: absolute;
    width: 909px;
    height: 50px;
    top: 50px;
    left: 728px;
  }

  .screen .navbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;
    position: relative;
  }

  .screen .mng-toggle {
    position: relative;
    width: 72px;
    height: 29px;
  }

  .screen .overlap-group {
    position: relative;
    width: 86px;
    height: 50px;
    top: -10px;
  }

  .screen .text-wrapper-10 {
    position: absolute;
    top: 10px;
    left: 0;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 25px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0;
  }

  .screen .material-symbols {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 36px;
  }

  .screen .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Noto Sans-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }

  .screen .request-toggle {
    position: relative;
    width: 169px;
    height: 50px;
  }

  .screen .overlap-2 {
    position: relative;
    width: 110px;
    height: 50px;
    top: -8px;
  }

  .screen .text-wrapper-12 {
    position: absolute;
    top: 8px;
    left: 0;
    font-family: "Noto Sans-Medium", Helvetica;
    font-size: 25px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0;
  }

  .screen .material-symbols-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 60px;
  }

  .screen .frame-3 {
    position: absolute;
    width: 366px;
    height: 117px;
    top: 16px;
    left: 315px;
  }

  .screen .text-wrapper-13 {
    position: absolute;
    top: 5px;
    left: 0;
    font-family: "Noto Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffdb20;
    font-size: 100px;
    letter-spacing: -5px;
    line-height: 90px;
    white-space: nowrap;
  }
   */