<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">detailToday</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <link th:href="@{/css/attendance/detailToday.css}">
</th:block>

<th:block layout:fragment="javascript">
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script th:src="@{/js/attendance/detailToday.js}" src="/js/attendance/detailToday.js"></script>
</th:block>


<div class="container" layout:fragment="content">
    <h1>일별 출석부</h1>
    <form action="attendance.do" id="detailForm">
        <input type="hidden" name="cmd" value="updateAttendance">
        <input type="hidden" name="date" value="${dateDetail}">
        <input type="hidden" name="classNo" value="${classNo}">

        <div class="d-flex justify-content-between mb-3">
            <div>
                <select class="form-select" aria-label="Select Class" name="classDetail" id="classSelect">
                    <option selected>전체 반</option>
                    <!-- Assuming you will replace the below with dynamic content -->
                    <option value="1">반 1</option>
                    <option value="2">반 2</option>
                </select>
            </div>
            <div>
                <a th:href="@{/attendance/main}" class="btn btn-warning">홈으로</a>
<!--                <button type="submit" class="btn btn-secondary">작성</button>-->
                <a th:href="@{/attendance/write}" class="btn btn-secondary">작성</a>
            </div>
        </div>
    </form>

    <div class="text-center mb-3">
        <h4>오늘날짜 - [[${date}]]</h4>
    </div>

    <table class="table table-bordered" id="attendanceTable" style="width: 100%">
        <thead>
        <tr>
            <th>이름</th>
            <th>출결 상태</th>
            <th>결석 이유</th>
            <th>등원 시간</th>
            <th>하원 시간</th>
            <th>비고</th>
<!--            <th></th>-->
        </tr>
        </thead>
        <tbody>
        <!-- Assuming you will replace the below with dynamic content -->
        <tr data-kid-no="1">
            <td>학생 1</td>
            <td>출석</td>
            <td></td>
            <td>09:00</td>
            <td>16:00</td>
            <td>비고</td>
<!--            <td><a href="#" class="btn btn-danger attendance-update-one">수정</a></td>-->
        </tr>
        <tr data-kid-no="2">
            <td>학생 2</td>
            <td>결석</td>
            <td>질병,부상</td>
            <td></td>
            <td></td>
            <td>비고</td>
<!--            <td><a href="#" class="btn btn-danger attendance-update-one">수정</a></td>-->
        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">출석부 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateForm">
                        <input type="hidden" name="kidNo" id="kidNo">
                        <div class="mb-3">
                            <label for="attendanceStatus" class="form-label">출결 상태</label>
                            <select id="attendanceStatus" name="attendanceStatus" class="form-select">
                                <option value=" ">-</option>
                                <option value="출석">출석</option>
                                <option value="결석">결석</option>
                                <option value="지각">지각</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="excusedAbsence" class="form-label">결석 이유</label>
                            <select name="excusedAbsence" id="excusedAbsence" class="form-select">
                                <option value=" ">-</option>
                                <option value="질병,부상">질병,부상</option>
                                <option value="부모의 출산">부모의 출산</option>
                                <option value="미세먼지">미세먼지</option>
                                <option value="자연재해">자연재해</option>
                                <option value="경조사">경조사</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="kidDrop" class="form-label">등원 시간</label>
                            <input type="time" class="form-control" id="kidDrop" name="kidDrop">
                        </div>
                        <div class="mb-3">
                            <label for="kidPickup" class="form-label">하원 시간</label>
                            <input type="time" class="form-control" id="kidPickup" name="kidPickup">
                        </div>
                        <div class="mb-3">
                            <label for="note" class="form-label">비고</label>
                            <input type="text" class="form-control" id="note" name="note">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="applyUpdate">적용</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
