.container .profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  /* width: 100%; */
  flex: 0 0 auto;
  padding: 0px 108px;
}

.container .blank {
  position: relative;
  width: 156px;
  height: 96px;
}

.container .div-profile {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0px 21px;
  position: relative;
  flex: 0 0 auto;
}

.container .img-2 {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 70%;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.img-2 img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.container .id {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.container .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: 49px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .buttons {
  display: flex;
  width: 156px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
}

.container .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 40px 108px;
  position: relative;
  align-self: stretch;
  /* width: 100%; */
  flex: 0 0 auto;
}

.container .div-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d3d4d4;
}

.container .div-wrapper-2 {
  display: inline-flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  position: relative;
}

.container .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .inputarea {
  display: flex;
  height: 65px;
  align-items: center;
  align-self: stretch;
  width: 100%;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.container .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .select-class {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.container .title-class {
  display: inline-flex;
  height: 50px;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 5px;
  align-self: stretch;

  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 0px;
  position: relative;
  /* flex: 0 0 auto; */
}

.container .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.container .n {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.container .button-add {
  display: flex;
  width: 180px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: relative;
  background-color: #ffe668;
  border-radius: 8px;
  text-decoration-line : none
}

.container .text-wrapper-class {
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.container .button-x {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 70%;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.button-x img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.container .input-startdate {
  display: flex;
  flex-direction: column;
  height: 124px;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow: hidden;
}

.container .textarea-wrapper {
  display: inline-flex;
  align-items: flex-start;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.container .textarea {
  gap: 5px;
  padding: 10px 0px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.container .div-3 {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.container .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Lato-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}