.container .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.container .div-5 {
    display: flex;
    gap: 5px;
    align-items: center;
}

.container .title-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 37px;
    position: relative;
    flex: 0 0 auto;
}

.container .icon-back {
    position: relative;
    width: 60px;
    height: 60px;
}

.container .div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-weight: var(--font-selected-menu-font-weight);
    color: #000000;
    font-size: var(--font-selected-menu-font-size);
    letter-spacing: var(--font-selected-menu-letter-spacing);
    line-height: var(--font-selected-menu-line-height);
    font-style: var(--font-selected-menu-font-style);
}

.container .button-send {
    display: flex;
    width: 146px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 16px;
    position: relative;
    background-color: #ffe668;
    border-radius: 8px;
}

.container .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.container .inputbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 108px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.container .div-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.container .title-3 {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.container .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .div-4 {
    display: flex;
    width: 130px;
    height: 45px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0px 16px;
    position: relative;
    background-color: #b3b3b3;
    border-radius: 8px;
}

.container .img-2 {
    position: relative;
    width: 20px;
    height: 20px;
}

.container .inputarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    padding: 20px 24px;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.container .profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}

.profile img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.container .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .n {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-9 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #61a3f1;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .selectedchild {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 15px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.container .child {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: #cccccc;
    box-shadow: 0px 3px 6px #0000001a;
    gap: 10px;
}

.container .textarea {
    gap: 3px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-10 {
    position: relative;
    width: fit-content;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .button-x {
    position: relative;
    width: 25px;
    height: 25px;
}

.container .title-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.container .detail {
    width: fit-content;
    color: #828282;
    font-size: 16px;
    text-align: center;
    line-height: 23.8px;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    position: relative;
    font-weight: 500;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.container .inputarea-2 {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 24px;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.container .inputarea-2-1 {
    display: flex;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.container .div-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .selectoption {
    display: flex;
    width: 334px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e0e0e0;
}

.selectoption:focus {
    outline: none;
}

.container .selected-class {
    position: relative;
    width: 136px;
    font-weight: 400;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .img-6 {
    position: relative;
    width: 24px;
    height: 24px;
}

.container .input-charge {
    display: flex;
    width: 208px;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 0px 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e0e0e0;
}

.container .inputtext {
    position: relative;
    height: 100%;
    width: 100%;
    font-weight: 400;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    border: none;
    text-align: right;
}

.inputtext:focus {
    outline: none;
}

.container .text-wrapper-12 {
    flex: 1;
    font-weight: 400;
    color: #828282;
    font-size: 16px;
    text-align: right;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    letter-spacing: 0;
}

.container .text-wrapper-13 {
    position: relative;
    width: fit-content;
    font-weight: 400;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .div-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px 24px;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.container .div-9 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.container .inputarea-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.container .selectoption-child {
    display: flex;
    width: 208px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e0e0e0;
}

.selectoption-child:focus {
    outline: none;
}

.container .selectedchild-2 {
    position: relative;
    flex: 1;
    font-weight: 400;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .div-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #b3b3b3;
}

.container .div-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 15px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 0.5px solid;
    border-color: #cccccc;
    box-shadow: 0px 3px 6px #0000001a;
}

.container .text-wrapper-15 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .text-discount {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 0px 0px 8px;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #828282;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .charge {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.container .div-13 {
    display: inline-flex;
    height: 25px;
    align-items: center;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-17 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .div-14 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
}

.container .icon-equal {
    position: relative;
    width: 21px;
    height: 21px;
}

.container .text-finalcharge {
    display: flex;
    width: 303px;
    height: 25px;
    align-items: center;
    gap: 15px;
    position: relative;
}

.container .text-wrapper-18 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .text-wrapper-19 {
    position: relative;
    width: fit-content;
    font-weight: 600;
    color: #00a3ff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .img-8 {
    background-image: url(./img/img.svg);
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 90px;
    background-size: cover;
    background-position: 50% 50%;
}

.container .p {
    width: fit-content;
    color: transparent;
    font-size: 16px;
    text-align: center;
    line-height: 23.8px;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    position: relative;
    font-weight: 500;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.container .span {
    color: #828282;
}

.container .text-wrapper-20 {
    color: #f5f5f5;
}

.container .inputarea-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.container .input-memo {
    display: flex;
    flex-direction: column;
    height: 113px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e0e0e0;
}

.container .default {
    position: relative;
    align-self: stretch;
    font-weight: 400;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .limit {
    position: relative;
    align-self: stretch;
    font-weight: 400;
    color: #828282;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .img-9 {
    background-image: url(img/clock.png);
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 90px;
    background-size: cover;
    background-position: 50% 50%;
}

.container .memo {
    position: relative;
    align-self: stretch;
    height: 44px;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.container .inputarea-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;
    padding: 20px 24px;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.container .toggle {
    position: relative;
    width: 56px;
    height: 26px;
}

.container .inputarea-6 {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    position: relative;
    flex: 0 0 auto;
}

.container .div-15 {
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e0e0e0;
}

.container .textarea-2 {
    gap: 5px;
    padding: 10px 0px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
}

.container .div-16 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.container .text-wrapper-21 {
    position: relative;
    width: fit-content;
    font-weight: 500;
    color: #828282;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .vector {
    position: relative;
    width: 18px;
    height: 20px;
}

.container .text-wrapper-22 {
    position: relative;
    width: fit-content;
    font-weight: 500;
    color: #828282;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .title-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    overflow: hidden;
}

.container .detail-2 {
    width: fit-content;
    color: transparent;
    font-size: 16px;
    text-align: center;
    line-height: 23.8px;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    position: relative;
    font-weight: 500;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.container .notification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 24px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #b3b3b3;
    position: relative;
    overflow: hidden;
}

.container .notification-2 {
    width: fit-content;
    font-weight: 600;
    color: #00a3ff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    overflow: hidden;
}

.container .detail-3 {
    align-self: stretch;
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    -webkit-line-clamp: 2;
    position: relative;
    font-weight: 500;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}