<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<title layout:fragment="title">투약 의뢰서 작성</title>

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/medication/writeForm.css" />
</th:block>

<th:block layout:fragment="javascript">
  <script src="/medication/medication.js"></script></th:block>

<div class="container main_container" layout:fragment="content">
  <div class="frame">
    <form action="">
      <div class="div">
        <div class="div-wrapper">
          <div class="text-wrapper">투약 의뢰서</div>
        </div>
        <div class="view">
          <a href="/medication/user/card" class="element-secondary-button">
            <div class="text-wrapper-2">취소</div>
          </a>
          <input type="submit" value="작성" class="element-secondary-button-2">

        </div>
      </div>
      <div class="div-2">
        <div class="div-3">
          <div class="frame-wrapper">
            <div class="div-4">
              <div class="div-3">
                <div class="frame-wrapper-2">
                  <div class="div-5">
                    <div class="div-6">
                      <img class="avatar" alt="Avatar" src="/medication/img/1.png" />
                    </div>
                    <div class="div-7">
                      <div class="div-8">
                        <div class="div-6">
                          <div class="text-wrapper-4">흰둥이</div>
                        </div>
                        <div class="div-6">
                          <div class="text-wrapper-4">어린이</div>
                        </div>
                      </div>
                      <div class="div-6">
                        <div class="text-wrapper-5">새싹반</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper-3">
                  <div class="btn-group" id="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="day1" autocomplete="off" checked>
                    <label class="btn btn-outline-ab custom-style" for="day1">7월 1일</label>

                    <input type="radio" class="btn-check" name="btnradio" id="day2" autocomplete="off">
                    <label class="btn btn-outline-ab custom-style" for="day2">7월 2일</label>

                    <input type="radio" class="btn-check" name="btnradio" id="day3" autocomplete="off">
                    <label class="btn btn-outline-ab custom-style" for="day3">7월 3일</label>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper-18">
                <p id="font">증상</p>
                <input type="text" name="" id="symton">
              </div>
              <div class="frame-wrapper-6">
                <!-- Button trigger modal -->
                <button type="button" class="element-secondary-button-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  추가하기
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">약 추가하기</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                          <table class="table" id="modalTable">
                            <tr>
                              <th>약의 종류</th>
                              <td>
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>선택</option>
                                  <option value="1">가루약</option>
                                  <option value="2">물약</option>
                                  <option value="3">연고</option>
                                  <option value="4">기타</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <th>투약 횟수</th>
                              <td>
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>선택</option>
                                  <option value="1">1 회</option>
                                  <option value="2">2 회</option>
                                  <option value="3">3 회</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <th>보관 방법</th>
                              <td id="storage">
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                  <label class="form-check-label" for="flexRadioDefault2">
                                    실온
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    냉장
                                  </label>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>투약 용량</th>
                              <td>
                                <input type="text" name="dose" id="dose">
                              </td>
                            </tr>
                            <tr>
                              <th>특이 사항</th>
                              <td>
                                <textarea name="memo" id="memo"></textarea>
                              </td>
                            </tr>
                            <tr>
                              <th>사진 추가</th>
                              <td class="pic">
                                <input type="file" class="add" accept="image/*" name="drugPic" id="drugPic">
                              <span class="filename">drug.jpg</span>
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <a href="#" class="btn btn-secondary">취소</a>
<!--                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>-->
                      <button type="button" class="btn btn-primary" id="mediAddSubmit" >전송</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="frame-wrapper-7">
          <div class="frame-wrapper-8">
            <div class="div-11">
              <div class="div-13">
                <div class="button">
                  <button type="button" class="btn-close float-right" aria-label="Close" id="close"></button>
                </div>
                <table class="table">
                  <tr>
                    <td colspan="2"><img src="/medication/img/drug.jpeg"></td>
                  </tr>
                  <tr>
                    <th>약의 종류</th>
                    <td>가루약</td>
                  </tr>
                  <tr>
                    <th>투약 횟수</th>
                    <td>1 회</td>
                  </tr>
                  <tr>
                    <th>투약 시간</th>
                    <td>점심 식사 후</td>
                  </tr>
                  <tr>
                    <th>보관 방법</th>
                    <td>실온</td>
                  </tr>
                  <tr>
                    <th>특이 사항</th>
                    <td>약 잊지말고 꼭 먹여주세요! </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="sign">
          <div class="promise">
            투약으로 인한 책임은 의뢰자가 집니다.
          </div>
          <div class="date">
            2024년 6월 30 일
          </div>
          <div class="parent">
            <div class="name">
              김엄마
            </div>
            <div class="parentSign">
              (인)
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
