<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<title layout:fragment="title">투약동의서 메인</title>

<th:block layout:fragment="css">
    <th:block th:replace="~{/common/datepicker :: css}"/>
    <link rel="stylesheet" href="css/medication/list.css" />
</th:block>

<th:block layout:fragment="javascript">
    <th:block th:replace="~{/common/datepicker :: js}"/>
</th:block>




<div class="container main_container" layout:fragment="content">
    <form action="#">
        <div class="list">

            <div class="frame">
                <div class="view">
                    <div class="text-wrapper">투약 의뢰서</div>
                </div>
            </div>
            <div class="div">
                <div class="frame-2">
                    <div class="div-wrapper">
                        <div class="element-dropdown-wrapper">
                            <div class="element-dropdown">
                                <select class="label">
                                    <option value="kidAll">내 자녀 보기</option>
                                    <option value="kid1">가가가</option>
                                    <option value="kid2">나나나</option>
                                    <option value="kid3">다다다</option>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pick">
                    <div class="date-picker">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                                <path d="M18.75 20.8333V24.9999H14.5833V20.8333H18.75ZM27.0833 20.8333V24.9999H22.9167V20.8333H27.0833ZM35.4167 20.8333V24.9999H31.25V20.8333H35.4167ZM39.5833 6.24992C40.6884 6.24992 41.7482 6.68891 42.5296 7.47031C43.311 8.25171 43.75 9.31152 43.75 10.4166V39.5833C43.75 40.6883 43.311 41.7481 42.5296 42.5295C41.7482 43.3109 40.6884 43.7499 39.5833 43.7499H10.4167C9.3116 43.7499 8.25179 43.3109 7.47039 42.5295C6.68899 41.7481 6.25 40.6883 6.25 39.5833V10.4166C6.25 9.31152 6.68899 8.25171 7.47039 7.47031C8.25179 6.68891 9.3116 6.24992 10.4167 6.24992H12.5V2.08325H16.6667V6.24992H33.3333V2.08325H37.5V6.24992H39.5833ZM39.5833 39.5833V16.6666H10.4167V39.5833H39.5833ZM18.75 29.1666V33.3333H14.5833V29.1666H18.75ZM27.0833 29.1666V33.3333H22.9167V29.1666H27.0833ZM35.4167 29.1666V33.3333H31.25V29.1666H35.4167Z" fill="#FFDB21"/>
                            </svg>
                        </div>
                        <input type="text" class="form-control datepicker" placeholder="년/월/일" readonly>
                        <a href="medication/user/write" class="button-new">작성</a>
                    </div>
                </div>

            </div>

            <div class="frame-a">
                <div>
                    <a href="medication/user/card" class="cardver">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-view-stacked" viewBox="0 0 16 16">
                            <path d="M3 0h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm0 8h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                        </svg>
                        <p class="text">카드형</p>
                    </a>
                </div>
                <div>
                    <a href="medication/user/list" class="listver">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                        <p class="text">목록형</p>
                    </a>
                </div>
            </div>



            <div class="card-list">

                <table class="table" id="table">
                    <tr>
                        <th>원생</th>
                        <th>의뢰서</th>
                        <th>증상</th>
                        <th>의뢰자</th>
                        <th>투약일</th>
                    </tr>
                    <tr class="medication" onclick="location.href='/medication/user/detail';">
                        <td>신짱구</td>
                        <td>신짱구의 투약의뢰서</td>
                        <td>감기</td>
                        <td>봉미선 엄마</td>
                        <td>2024년 07월 11일</td>
                    </tr>
                    <tr class="medication" onclick="location.href='/medication/user/detail';">
                        <td>김철수</td>
                        <td>김철수의 투약의뢰서</td>
                        <td>설사, 복통</td>
                        <td>철수맘</td>
                        <td>2024년 07월 11일</td>
                    </tr>
                </table>





            </div>
        </div>
        <div class="frame-19">
            <ul class="pagination class_2">
                <li class="page-item class_3">
                    <a class="page-link page-link-ab page-text-ab" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                            <path d="M19.6771 24.7674L34.9896 40.0799C35.5104 40.6008 35.7625 41.2084 35.7458 41.9029C35.7292 42.5973 35.4597 43.2049 34.9375 43.7258C34.4153 44.2466 33.8076 44.507 33.1146 44.507C32.4215 44.507 31.8139 44.2466 31.2917 43.7258L15.25 27.7362C14.8333 27.3195 14.5208 26.8508 14.3125 26.3299C14.1042 25.8091 14 25.2883 14 24.7674C14 24.2466 14.1042 23.7258 14.3125 23.2049C14.5208 22.6841 14.8333 22.2154 15.25 21.7987L31.2917 5.75702C31.8125 5.23619 32.4292 4.98411 33.1417 5.00078C33.8542 5.01744 34.4701 5.28689 34.9896 5.80911C35.509 6.33133 35.7694 6.93897 35.7708 7.63203C35.7722 8.32508 35.5118 8.93272 34.9896 9.45494L19.6771 24.7674Z" fill="black"/>
                        </svg>
                    </a>
                </li>
                <li class="page-item class_3"><a class="page-link page-link-ab page-text-ab" href="#">1</a></li>
                <li class="page-item class_3"><a class="page-link page-link-ab page-text-ab" href="#">2</a></li>
                <li class="page-item class_3"><a class="page-link page-link-ab page-text-ab" href="#">3</a></li>
                <li class="page-item class_3"><a class="page-link page-link-ab page-text-ab" href="#">4</a></li>
                <li class="page-item class_3"><a class="page-link page-link-ab page-text-ab" href="#">5</a></li>
                <li class="page-item class_3">
                    <a class="page-link page-link-ab page-text-ab" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                            <path d="M30.1563 24.9997L14.8438 9.68718C14.3229 9.16635 14.0708 8.54968 14.0875 7.83718C14.1042 7.12468 14.3736 6.50871 14.8958 5.98926C15.4181 5.46982 16.0347 5.2094 16.7458 5.20801C17.457 5.20662 18.0729 5.46704 18.5938 5.98926L34.5833 22.0309C35 22.4476 35.3125 22.9163 35.5208 23.4372C35.7292 23.958 35.8333 24.4788 35.8333 24.9997C35.8333 25.5205 35.7292 26.0413 35.5208 26.5622C35.3125 27.083 35 27.5518 34.5833 27.9684L18.5417 44.0101C18.0208 44.5309 17.4132 44.783 16.7188 44.7663C16.0243 44.7497 15.4167 44.4802 14.8958 43.958C14.375 43.4358 14.1146 42.8191 14.1146 42.108C14.1146 41.3969 14.375 40.7809 14.8958 40.2601L30.1563 24.9997Z" fill="black"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>