body {
    margin: 0px !important;
}

.h_class_78 {
    width: 280px;
    height: 150px;
    float: left;
    margin-left: 20px;
}

.h_class_79 {
    color: #FFDB21 !important;
    font-size: 80px;
    font-weight: 500;
    line-height: 140px;
    word-wrap: break-word;
    text-decoration-line : none;
}

.screen {
    background-color: #fffcf0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    background-color: #fffcf0;
    width: 1440px;
    height: 900px;
    position: relative;
}

.screen .overlap {
    position: absolute;
    width: 541px;
    height: 741px;
    top: 80px;
    left: 451px;
}

.screen .group {
    position: absolute;
    width: 541px;
    height: 741px;
    top: 0;
    left: 0;
}

.screen .overlap-group {
    position: relative;
    width: 539px;
    height: 741px;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 4px 35px #00000014;
}

.screen .text-wrapper-2 {
    top: 77px;
    left: 37px;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 55px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-group-wrapper {
    position: absolute;
    width: 453px;
    height: 54px;
    top: 608px;
    left: 44px;
}

.screen .overlap-group-2 {
    position: relative;
    width: 451px;
    height: 54px;
    background-color: #ffd700;
    border-radius: 10px;
    box-shadow: 0px 4px 19px #7793414c;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    border: none !important;
}

.screen .group-2 {
    position: absolute;
    width: 453px;
    height: 350px;
    top: 192px;
    left: 41px;
}

.screen .group-3 {
    position: absolute;
    width: 440px;
    height: 70px;
    /*top: 76px;*/
    top: 272px;
    left: 2px;
}

.screen .overlap-group-3 {
    position: absolute;
    width: 440px;
    height: 43px;
    top: 27px;
    left: 0;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid #adadad;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 300;
    color: #5f5c5c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .overlap-group-4 {
    position: absolute;
    width: 167px;
    height: 56px;
    top: 0;
    left: 0;
}

.screen .overlap-group-6 {
    position: absolute;
    width: 167px;
    height: 56px;
    top: 0;
    left: 0;
}

.screen .overlap-group-5 {
    position: absolute;
    width: 437px;
    height: 43px;
    top: 27px;
    left: 0;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid #adadad;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 300;
    color: #5f5c5c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .group-4 {
    position: absolute;
    width: 440px;
    height: 70px;
    top: 174px;
    left: 2px;
}

.screen .group-5 {
    position: absolute;
    width: 402px;
    height: 56px;
    /*top: 269px;*/
    top: -5px;
    left: 0;
}

/*.screen .group-6 {*/
/*    position: absolute;*/
/*    width: 402px;*/
/*    !*height: 56px;*!*/
/*    !*top: 0;*!*/
/*    top: 84px;*/
/*    left: 0;*/
/*}*/

.screen .group-7 {
    position: absolute;
    width: 167px;
    height: 56px;
    top: 84px;
    left: 0;
}

.screen .group-8 {
    position: absolute;
    width: 167px;
    height: 56px;
    top: 84px;
    left: 235px;
}

.screen .group-9 {
    position: absolute;
    width: 167px;
    height: 56px;
    top: 0;
    left: 0;
}

.screen .group-10 {
    position: absolute;
    width: 167px;
    height: 56px;
    top: 0;
    left: 235px;
}



.screen .text-wrapper-5 {
    position: absolute;
    width: 216px;
    top: 0;
    left: 0;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-6 {
    position: absolute;
    width: 199px;

    height: 37px;
    top: 23px;
    left: 0;
    font-family: "Noto Sans KR", Helvetica;
    font-weight: 300;
    color: #7f7f7f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid #adadad;
}

#kindergarten-input, #class-input, #name-input, #relationship-input {
    border-radius: 9px;
    border: 1px solid #adadad !important;
    position: relative;
    width: 206px;
    height: 40px;
    top: -1px;
    color: #5f5c5c;
    margin-top: 5px;
}